@page "/THLT/KLDapCat"

@* @using Microsoft.AspNetCore.Authorization *@
@* @attribute [Authorize] *@

<style>
    table {
        position: relative;
    }

        table thead tr td {
            /*   white-space: nowrap; */
            text-align: center;
            padding: 2px 5px;
        }
</style>
<div class="container-fluid">
    <div class="row m-2 d-flex justify-content-end">
        <div class="col-md-3 col-sm-6 text-end">
            <!-- Nút hiển thị bảng trái -->
            <button class="btn btn-primary me-2" @onclick="View" title="@(viewLeft == "d-block" ? "Xem bảng phải" : "Xem bảng trái")">
                @if (viewLeft == "d-block")
                {
                    <i class="fas fa-arrow-right"></i>
                }
                else
                {
                    <i class="fas fa-arrow-left"></i>
                }
            </button>

            <!-- Nút hiển thị cả hai bảng -->
            <button class="btn btn-primary me-2" @onclick="ViewAll" title="Xem cả hai bảng">
                <i class="fas fa-columns"></i>
            </button>
            <button class="btn btn-primary me-2" @onclick="ViewHorizontal" title="Xem theo chiều ngang">
                <i class="fas fa-arrows-alt-h"></i>
            </button>
            <button class="btn btn-secondary" @onclick="ViewVertical" title="Xem theo chiều dọc">
                <i class="fas fa-arrows-alt-v"></i>
            </button>
            <button class="btn btn-outline-primary me-2" @onclick="ThumbtackHeader" title="Ghim tiêu đề bảng">
                <i class="fas fa-thumbtack"></i>
            </button>
        </div>
    </div>
    <div id="tableContainer ">
        <div class="our-table @layoutClass">
            <div class="@viewLeft">
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG THÔNG TIN ĐẮP CÁT TUYẾN NƯỚC MƯA DỌC PHÍA TRÁI TUYẾN</h5>
                </div>
                <div class="mt-2">
                    <table id="tb-left" class="table table-bordered table-hover" cellpadding="1" cellspacing="2">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="5">Thông tin lý trình </th>
                                <th class="text-center" colspan="4">Thông tin mái đắp </th>
                                <th class="text-center" colspan="3">Diện tích </th>
                                <th class="text-center" colspan="3">Thông tin KL đắp cát </th>
                            </tr>
                            <tr>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinh_TuyenDuong"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Tuyến đường
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_TuyenDuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinhTruyenDan_TuLyTrinh"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Từ lý trình
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinhTruyenDan_TuLyTrinh"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinhTruyenDan_DenLyTrinh"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Đến lý trình
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinhTruyenDan_DenLyTrinh"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("PhanLoaiCTronHopNhua_TenLoaiTruyenDanSauPhanLoai"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Tên loại truyền dẫn sau phân loại
                                        <span class="arrow @(GetSortStyle("PhanLoaiCTronHopNhua_TenLoaiTruyenDanSauPhanLoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTCDSLCauKienDuongTruyenDan_TongChieuDai"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Tổng chiều dài (m)
                                        <span class="arrow @(GetSortStyle("TTCDSLCauKienDuongTruyenDan_TongChieuDai"))"></span>
                                    </div>
                                </th>

                                <th class="text-center  sortable align-middle" onclick="@(() => SortTableLeft("TTMDRanhOngThang_ChieuRongDayDaoNho"))">
                                    <div class="mr-3">
                                        CR đáy đào nhỏ (m)
                                        <span class="arrow @(GetSortStyle("TTMDRanhOngThang_ChieuRongDayDaoNho"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTMDRanhOngThang_TyLeMoMai"))">
                                    <div class="mr-3">
                                        Tỷ lệ mở mái (m)
                                        <span class="arrow @(GetSortStyle("TTMDRanhOngThang_TyLeMoMai"))"></span>
                                    </div>
                                </th>
                                <th class="text-center  sortable align-middle" onclick="@(() => SortTableLeft("TTMDRanhOngThang_SoCanhMaiTrai"))">
                                    <div class="mr-3">
                                        Số cạnh mái trái
                                        <span class="arrow @(GetSortStyle("TTMDRanhOngThang_SoCanhMaiTrai"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTMDRanhOngThang_SoCanhMaiPhai"))">
                                    <div class="mr-3">
                                        Số cạnh mái phải
                                        <span class="arrow @(GetSortStyle("TTMDRanhOngThang_SoCanhMaiPhai"))"></span>
                                    </div>
                                </th>
                                <th class="text-center  sortable align-middle" onclick="@(() => SortTableLeft("DTTB_CSDap"))">
                                    <div class="mr-3">
                                        C.Sâu đắp (m)
                                        <span class="arrow @(GetSortStyle("DTTB_CSDap"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("DTTB_CRDapDayLon"))">
                                    <div class="mr-3">
                                        C.Rộng đắp đáy lớn (m)
                                        <span class="arrow @(GetSortStyle("DTTB_CRDapDayLon"))"></span>
                                    </div>
                                </th>
                                <th class="text-center  sortable align-middle" onclick="@(() => SortTableLeft("DTTB_DTichDap"))">
                                    <div class="mr-3">
                                        D.Tích đắp (m2)
                                        <span class="arrow @(GetSortStyle("DTTB_DTichDap"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTKLDC_KlDapCatTruocChiemCho"))">
                                    <div class="mr-3">
                                        KL đắp cát trước chiếm chỗ (m3)
                                        <span class="arrow @(GetSortStyle("TTKLDC_KlDapCatTruocChiemCho"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTKLDC_KlChiemCho"))">
                                    <div class="mr-3">
                                        KL chiếm chỗ (m3)
                                        <span class="arrow @(GetSortStyle("TTKLDC_KlChiemCho"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTKLDC_KlDapCatSauChiemCho"))">
                                    <div class="mr-3">
                                        KL đắp cát sau chiếm chỗ (m3)
                                        <span class="arrow @(GetSortStyle("TTKLDC_KlDapCatSauChiemCho"))"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        @if (listNuocMuaModelLeft.Any())
                        {
                            <tbody>
                                @{
                                    int stt = 0;
                                }
                                @foreach (var item in listNuocMuaModelLeft)
                                {
                                    stt++;
                                    <tr>
                                        <td class="text-center">@stt</td>
                                        <td class="text-center">@item.ThongTinLyTrinh_TuyenDuong</td>
                                        <td class="text-center">@item.ThongTinLyTrinhTruyenDan_TuLyTrinh</td>
                                        <td class="text-center">@item.ThongTinLyTrinhTruyenDan_DenLyTrinh</td>
                                        <td class="text-center">@item.PhanLoaiCTronHopNhua_TenLoaiTruyenDanSauPhanLoai</td>
                                        <td class="text-center">@item.TTCDSLCauKienDuongTruyenDan_TongChieuDai</td>
                                        <td class="text-center"> @item.TTMDRanhOngThang_ChieuRongDayDaoNho </td>
                                        <td class="text-center"> @item.TTMDRanhOngThang_TyLeMoMai</td>
                                        <td class="text-center"> @item.TTMDRanhOngThang_SoCanhMaiTrai</td>
                                        <td class="text-center"> @item.TTMDRanhOngThang_SoCanhMaiPhai</td>
                                        <td class="text-center"> @item.DTTB_CSDap</td>
                                        <td class="text-center"> @item.DTTB_CRDapDayLon</td>
                                        <td class="text-center"> @item.DTTB_DTichDap</td>
                                        <td class="text-center"> @item.TTKLDC_KlDapCatTruocChiemCho </td>
                                        <td class="text-center"> @item.TTKLDC_KlChiemCho </td>
                                        <td class="text-center"> @item.TTKLDC_KlDapCatSauChiemCho </td>

                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="16"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="mt-4">
                    @if (listNuocMuaModelLeft.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
                    }
                </div>
            </div>
            <div class="@space @viewRight">
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG THÔNG TIN ĐẮP CÁT TUYẾN NƯỚC MƯA DỌC PHÍA PHẢI TUYẾN</h5>
                </div>
                <div class="mt-2">
                    <table id="tb-right" class="table table-bordered table-hover" cellpadding="1" cellspacing="2">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="5">Thông tin lý trình </th>
                                <th class="text-center" colspan="4">Thông tin mái đắp </th>
                                <th class="text-center" colspan="3">Diện tích </th>
                                <th class="text-center" colspan="3">Thông tin KL đắp cát </th>
                            </tr>
                            <tr>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinh_TuyenDuong"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Tuyến đường
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_TuyenDuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinhTruyenDan_TuLyTrinh"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Từ lý trình
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinhTruyenDan_TuLyTrinh"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinhTruyenDan_DenLyTrinh"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Đến lý trình
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinhTruyenDan_DenLyTrinh"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("PhanLoaiCTronHopNhua_TenLoaiTruyenDanSauPhanLoai"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Tên loại truyền dẫn sau phân loại
                                        <span class="arrow @(GetSortStyle("PhanLoaiCTronHopNhua_TenLoaiTruyenDanSauPhanLoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTCDSLCauKienDuongTruyenDan_TongChieuDai"))" class="text-center sortable align-middle">
                                    <div class="mr-3">
                                        Tổng chiều dài (m)
                                        <span class="arrow @(GetSortStyle("TTCDSLCauKienDuongTruyenDan_TongChieuDai"))"></span>
                                    </div>
                                </th>

                                <th class="text-center  sortable align-middle" onclick="@(() => SortTableLeft("TTMDRanhOngThang_ChieuRongDayDaoNho"))">
                                    <div class="mr-3">
                                        CR đáy đào nhỏ (m)
                                        <span class="arrow @(GetSortStyle("TTMDRanhOngThang_ChieuRongDayDaoNho"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTMDRanhOngThang_TyLeMoMai"))">
                                    <div class="mr-3">
                                        Tỷ lệ mở mái (m)
                                        <span class="arrow @(GetSortStyle("TTMDRanhOngThang_TyLeMoMai"))"></span>
                                    </div>
                                </th>
                                <th class="text-center  sortable align-middle" onclick="@(() => SortTableLeft("TTMDRanhOngThang_SoCanhMaiTrai"))">
                                    <div class="mr-3">
                                        Số cạnh mái trái
                                        <span class="arrow @(GetSortStyle("TTMDRanhOngThang_SoCanhMaiTrai"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTMDRanhOngThang_SoCanhMaiPhai"))">
                                    <div class="mr-3">
                                        Số cạnh mái phải
                                        <span class="arrow @(GetSortStyle("TTMDRanhOngThang_SoCanhMaiPhai"))"></span>
                                    </div>
                                </th>
                                <th class="text-center  sortable align-middle" onclick="@(() => SortTableLeft("DTTB_CSDap"))">
                                    <div class="mr-3">
                                        C.Sâu đắp (m)
                                        <span class="arrow @(GetSortStyle("DTTB_CSDap"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("DTTB_CRDapDayLon"))">
                                    <div class="mr-3">
                                        C.Rộng đắp đáy lớn (m)
                                        <span class="arrow @(GetSortStyle("DTTB_CRDapDayLon"))"></span>
                                    </div>
                                </th>
                                <th class="text-center  sortable align-middle" onclick="@(() => SortTableLeft("DTTB_DTichDap"))">
                                    <div class="mr-3">
                                        D.Tích đắp (m2)
                                        <span class="arrow @(GetSortStyle("DTTB_DTichDap"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTKLDC_KlDapCatTruocChiemCho"))">
                                    <div class="mr-3">
                                        KL đắp cát trước chiếm chỗ (m3)
                                        <span class="arrow @(GetSortStyle("TTKLDC_KlDapCatTruocChiemCho"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTKLDC_KlChiemCho"))">
                                    <div class="mr-3">
                                        KL chiếm chỗ (m3)
                                        <span class="arrow @(GetSortStyle("TTKLDC_KlChiemCho"))"></span>
                                    </div>
                                </th>
                                <th class="text-center sortable align-middle" onclick="@(() => SortTableLeft("TTKLDC_KlDapCatSauChiemCho"))">
                                    <div class="mr-3">
                                        KL đắp cát sau chiếm chỗ (m3)
                                        <span class="arrow @(GetSortStyle("TTKLDC_KlDapCatSauChiemCho"))"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        @if (listNuocMuaModelRight.Any())
                        {
                            <tbody>
                                @{
                                    int stt = 0;
                                }
                                @foreach (var item in listNuocMuaModelRight)
                                {
                                    stt++;
                                    <tr>
                                        <td class="text-center">@stt</td>
                                        <td class="text-center">@item.ThongTinLyTrinh_TuyenDuong</td>
                                        <td class="text-center">@item.ThongTinLyTrinhTruyenDan_TuLyTrinh</td>
                                        <td class="text-center">@item.ThongTinLyTrinhTruyenDan_DenLyTrinh</td>
                                        <td class="text-center">@item.PhanLoaiCTronHopNhua_TenLoaiTruyenDanSauPhanLoai</td>
                                        <td class="text-center">@item.TTCDSLCauKienDuongTruyenDan_TongChieuDai</td>
                                        <td class="text-center"> @item.TTMDRanhOngThang_ChieuRongDayDaoNho </td>
                                        <td class="text-center"> @item.TTMDRanhOngThang_TyLeMoMai</td>
                                        <td class="text-center"> @item.TTMDRanhOngThang_SoCanhMaiTrai</td>
                                        <td class="text-center"> @item.TTMDRanhOngThang_SoCanhMaiPhai</td>
                                        <td class="text-center"> @item.DTTB_CSDap</td>
                                        <td class="text-center"> @item.DTTB_CRDapDayLon</td>
                                        <td class="text-center"> @item.DTTB_DTichDap</td>
                                        <td class="text-center"> @item.TTKLDC_KlDapCatTruocChiemCho </td>
                                        <td class="text-center"> @item.TTKLDC_KlChiemCho </td>
                                        <td class="text-center"> @item.TTKLDC_KlDapCatSauChiemCho </td>

                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="16"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="mt-4">
                    @if (listNuocMuaModelRight.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
                    }
                </div>
            </div>
        </div>
    </div>

    <Loading IsLoading="@isLoading" LoadingText="Đang tải dữ liệu..." />
</div>


@code {
    [SupplyParameterFromForm]
    private NuocMua Input { get; set; } = new();
    public List<DanhMuc1> listDanhMuc = new();
    private bool isEdit = false;
    private NuocMuaModel nuocMuaVM;
    private bool isLoading = false;
    private DateTime baseTime;

    private string layoutClass = "d-flex justify-content-between";
    private string space = "ml-5";
    private string thumbtack = "";

    public List<NuocMuaModel> listNuocMuaModelLeft { get; set; } = new();
    public List<NuocMuaModel> listNuocMuaModelRight { get; set; } = new();
    public List<NuocMuaModel> listModelLeft { get; set; } = new();
    public List<NuocMuaModel> listModelRight { get; set; } = new();

    public MetaData MetaData { get; set; }
    public NuocMuaModel nuocMuaModel { get; set; }

    [Parameter]
    public ConfirmModal confirmModal { get; set; }

    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        baseTime = DateTime.Now;
        nuocMuaModel = new();
        await LoadData();
    }

    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        isLoading = true;
        var helper = new DataConversionHelper();
        listDanhMuc = await DanhMucRepository.GetAll();
        NuocMuaModel nuocMuaModelSearch = new();

        nuocMuaModelSearch.TraiPhai = 0;
        var nuocMuaRepositoryLeft = await NuocMuaRepository.GetAllByVM(nuocMuaModelSearch);
        List<NuocMuaModel> nuocmuasLeft;
        nuocmuasLeft = await ConvertDanhMuc(nuocMuaRepositoryLeft);
        listModelLeft = nuocmuasLeft;
        listNuocMuaModelLeft = PagingLeft(nuocmuasLeft);

        nuocMuaModelSearch.TraiPhai = 1;
        var nuocMuaRepositoryRight = await NuocMuaRepository.GetAllByVM(nuocMuaModelSearch);
        List<NuocMuaModel> nuocmuasRight;
        nuocmuasRight = await ConvertDanhMuc(nuocMuaRepositoryRight);
        listModelRight = nuocmuasRight;
        listNuocMuaModelRight = PagingRight(nuocmuasRight);


        isLoading = false;
        baseTime = DateTime.Now;
    }

    public async Task<List<NuocMuaModel>> ConvertDanhMuc(List<NuocMuaModel> listNuocMua)
    {
        List<NuocMuaModel> newList = new();
        if (listNuocMua.Count() > 0)
        {
            foreach (var item in listNuocMua)
            {
                item.ThongTinMongDuongTruyenDan_LoaiMong_Name = GetTenDanhMucById(item.ThongTinMongDuongTruyenDan_LoaiMong);
                if (item.ThongTinMongDuongTruyenDan_LoaiMong_Name.ToUpper().Trim() == "ĐẮP CÁT")
                {
                    newList.Add(item);
                }
            }
        }
        return newList;
    }

    public string GetTenDanhMucById(string id)
    {
        var danhMuc = listDanhMuc.FirstOrDefault(dm => dm.Id == id);
        return danhMuc != null ? danhMuc.Ten : "";
    }

    // Sắp xếp data
    private void SortTableLeft(string columnName)
    {
        listModelLeft = SortService.SortTable(listModelLeft, columnName);
        nuocMuaModel.PageNumber = 1;
        PagingLeft(listModelLeft);
    }
    private void SortTableRight(string columnName)
    {
        listModelRight = SortService.SortTable(listModelRight, columnName);
        nuocMuaModel.PageNumber = 1;
        PagingRight(listModelRight);
    }

    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        nuocMuaModel.PageNumber = page;
        PagingLeft(listModelLeft);
        PagingRight(listModelRight);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {
        nuocMuaModel.PageNumber = 1;
        nuocMuaModel.pageSize = pageSize;
        PagingLeft(listModelLeft);
        PagingRight(listModelRight);
    }

    // Xử lý paging left
    private List<NuocMuaModel> PagingLeft(List<NuocMuaModel> nuocMuaModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = nuocMuaModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        nuocMuaModels = nuocMuaModels.Skip((nuocMuaModel.PageNumber - 1) * nuocMuaModel.PageSize).Take(nuocMuaModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listNuocMuaModelLeft.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in nuocMuaModels)
        {
            listNuocMuaModelLeft.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<NuocMuaModel>(listNuocMuaModelLeft, count, nuocMuaModel.PageNumber, nuocMuaModel.PageSize);
        MetaData = pagelist.MetaData;
        return nuocMuaModels;
    }
    // Xử lý paging right
    private List<NuocMuaModel> PagingRight(List<NuocMuaModel> nuocMuaModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = nuocMuaModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        nuocMuaModels = nuocMuaModels.Skip((nuocMuaModel.PageNumber - 1) * nuocMuaModel.PageSize).Take(nuocMuaModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listNuocMuaModelRight.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in nuocMuaModels)
        {
            listNuocMuaModelRight.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<NuocMuaModel>(listNuocMuaModelRight, count, nuocMuaModel.PageNumber, nuocMuaModel.PageSize);
        MetaData = pagelist.MetaData;
        return nuocMuaModels;
    }


    private string viewLeft = "d-block";
    private string viewRight = "d-none";

    private void View()
    {
        if (viewLeft == "d-block")
        {
            viewLeft = "d-none";
            viewRight = "d-block";
        }
        else
        {
            viewRight = "d-none";
            viewLeft = "d-block";
        }

    }

    private void ViewAll()
    {
        viewLeft = "d-block";
        viewRight = "d-block";
    }

    private void ViewHorizontal()
    {
        layoutClass = "d-flex justify-content-between";
        space = "ml-5";
    }

    private void ViewVertical()
    {
        layoutClass = "d-block";
        space = "m-0";
    }
    private void ThumbtackHeader()
    {
        thumbtack = thumbtack == "flex-header" ? "" : "flex-header";
    }

}