@page "/BaoCao/CTaoChungHGa"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using DucAnhERP.Helpers
@inject NavigationManager navigation
@inject IPhanLoaiHoGaRepository PhanLoaiHoGaRepository
@inject IDanhMucRepository DanhMucRepository

@inject DucAnhERP.Services.ToastService ToastService
<style>
    table {
        position: relative;
    }

        table thead tr td {
            /*   white-space: nowrap; */
            text-align: center;
            padding: 2px 5px;
        }

</style>
<div class="container-fluid">
    <div class="row m-3 ">
        <div class="col-md-10 col-sm-12">
            <EditForm Model="Input" FormName="Search" OnValidSubmit="@Search">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-sm-4 col-md-2 mb-2">
                        <label for="Table">Hình thức hố ha</label>
                        <Select2 Id="select1" Items="@selectHTHG" OnChange="@OnSelectChangeHTHG"></Select2>
                        <ValidationMessage For="()=>Input.ThongTinChungHoGa_HinhThucHoGa"></ValidationMessage>
                    </div>
                    <div class="col-sm-4 col-md-2 mb-2">
                        <label for="Table">Kết cấu mũ mố </label>
                        <Select2 Id="select2" Items="@selectKCMM" OnChange="@OnSelectChangeKCMM"></Select2>
                        <ValidationMessage For="()=>Input.ThongTinChungHoGa_KetCauMuMo"></ValidationMessage>
                    </div>
                    <div class="col-sm-4 col-md-2 mb-2">
                        <label for="Table">Kết cấu tường</label>
                        <Select2 Id="select3" Items="@selectKCT" OnChange="@OnSelectChangeKCT"></Select2>
                        <ValidationMessage For="()=>Input.ThongTinChungHoGa_KetCauTuong"></ValidationMessage>
                    </div>
                    <div class="col-sm-4 col-md-2 mb-2">
                        <label for="Table">Hình thức móng</label>
                        <Select2 Id="select4" Items="@selectHTM" OnChange="@OnSelectChangeHTM"></Select2>
                        <ValidationMessage For="()=>Input.ThongTinChungHoGa_HinhThucMongHoGa"></ValidationMessage>
                    </div>
                    <div class="col-sm-4 col-md-2 mb-2">
                        <label for="Table">Kết cấu móng</label>
                        <Select2 Id="select5" Items="@selectKCM" OnChange="@OnSelectChangeKCM"></Select2>
                        <ValidationMessage For="()=>Input.ThongTinChungHoGa_KetCauMong"></ValidationMessage>
                    </div>
                    <!-- Search Button -->
                    <div class="col-sm-4 col-md-2 mb-2">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="col-md-2 col-sm-6 text-end">
            <button class="btn btn-outline-primary me-2" @onclick="ThumbtackHeader" title="Ghim tiêu đề bảng">
                <i class="fas fa-thumbtack"></i>
            </button>
        </div>

    </div>
    <div id="tableContainer ">
        <div class="table-report ">
            <div>
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG THÔNG TIN CẤU TẠO CHUNG HỐ GA SAU PHÂN LOẠI</h5>
                </div>
                <div class=" mt-2">
                    <table id="tb-left" class="table table-hover table-bordered mt-3">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="8"> Thông tin tên hố ga </th>
                                <th class="text-center" colspan="2">Thông tin phủ bì hố ga (m)</th>

                            </tr>
                            <tr>
                                <th onclick="@(() => SortTable("ThongTinChungHoGa_TenHoGaSauPhanLoai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga sau phân loại
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_TenHoGaSauPhanLoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("ThongTinChungHoGa_HinhThucHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Hình thức hố ga
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_HinhThucHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("ThongTinChungHoGa_KetCauMuMo"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Kết cấu mũ mố
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_KetCauMuMo"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTable("ThongTinChungHoGa_KetCauTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Kết cấu tường
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_KetCauTuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("ThongTinChungHoGa_HinhThucMongHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Hình thức móng hố ga
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_HinhThucMongHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("ThongTinChungHoGa_KetCauMong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Kết cấu móng
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_KetCauMong"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTable("ThongTinChungHoGa_ChatMatTrong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Chát mặt trong
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_ChatMatTrong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("ThongTinChungHoGa_ChatMatNgoai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Chát mặt ngoài
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_ChatMatNgoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("PhuBiHoGa_CDai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        C.Dài (m)
                                        <span class="arrow @(GetSortStyle("PhuBiHoGa_CDai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("PhuBiHoGa_CRong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        C.rộng (m)
                                        <span class="arrow @(GetSortStyle("PhuBiHoGa_CRong"))"></span>
                                    </div>
                                </th>
                            </tr>

                        </thead>
                        @if (listPhanLoaiHoGaModel.Any())
                        {
                            <tbody>
                                @{
                                    int stt = 0;
                                }
                                @foreach (var item in listPhanLoaiHoGaModel)
                                {
                                    stt++;
                                    <tr>
                                        <td class="text-center"> @stt</td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_TenHoGaSauPhanLoai</td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_HinhThucHoGa_Name      </td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_KetCauMuMo_Name        </td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_KetCauTuong_Name       </td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_HinhThucMongHoGa_Name  </td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_KetCauMong_Name       </td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_ChatMatTrong_Name</td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_ChatMatNgoai_Name      </td>
                                        <td class="text-center"> @item.PhuBiHoGa_CDai                      </td>
                                        <td class="text-center"> @item.PhuBiHoGa_CRong                     </td>

                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="25"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }


                    </table>
                </div>
                <div class="mt-4">
                    @if (listPhanLoaiHoGaModel.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
                    }
                </div>
            </div>
        </div>
    </div>
    <Loading IsLoading="@isLoading" LoadingText="Đang tải dữ liệu..." />
</div>


@code {

    private bool isLoading = false;
    private PhanLoaiHoGaModel Input = new PhanLoaiHoGaModel();

    private List<SelectedItem> selectHTHG = new();
    private List<SelectedItem> selectKCMM = new();
    private List<SelectedItem> selectKCT = new();
    private List<SelectedItem> selectHTM = new();
    private List<SelectedItem> selectKCM = new();
    private string thumbtack = "";

    private void OnSelectChangeHTHG(SelectedItem selectedItem)
    {
        Input.ThongTinChungHoGa_HinhThucHoGa = selectedItem.Value;
    }
    private void OnSelectChangeKCMM(SelectedItem selectedItem)
    {
        Input.ThongTinChungHoGa_KetCauMuMo = selectedItem.Value;
    }
    private void OnSelectChangeKCT(SelectedItem selectedItem)
    {
        Input.ThongTinChungHoGa_KetCauTuong = selectedItem.Value;
    }
    private void OnSelectChangeHTM(SelectedItem selectedItem)
    {
        Input.ThongTinChungHoGa_HinhThucMongHoGa = selectedItem.Value;
    }
    private void OnSelectChangeKCM(SelectedItem selectedItem)
    {
        Input.ThongTinChungHoGa_KetCauMong = selectedItem.Value;
    }

    public List<PhanLoaiHoGaModel> listPhanLoaiHoGaModel { get; set; } = new();
    public List<PhanLoaiHoGaModel> listModel { get; set; } = new();
    public MetaData MetaData { get; set; }
    public PhanLoaiHoGaModel phanLoaiHoGaModel { get; set; }


    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        phanLoaiHoGaModel = new();

        await LoadData();
        selectHTHG = new();
        selectKCMM = new();
        selectKCT = new();
        selectHTM = new();
        selectKCM = new();
        foreach (var item in listModel)
        {
            // Kiểm tra và thêm item
            if (!string.IsNullOrEmpty(item.ThongTinChungHoGa_HinhThucHoGa) && !selectHTHG.Any(x => x.Value == item.ThongTinChungHoGa_HinhThucHoGa))
            {
                selectHTHG.Add(new SelectedItem
                    {
                        Value = item.ThongTinChungHoGa_HinhThucHoGa,
                        Text = item.ThongTinChungHoGa_HinhThucHoGa_Name ?? ""
                    });
            }
            if (!string.IsNullOrEmpty(item.ThongTinChungHoGa_KetCauMong) && !selectKCMM.Any(x => x.Value == item.ThongTinChungHoGa_KetCauMong))
            {
                selectKCMM.Add(new SelectedItem
                    {
                        Value = item.ThongTinChungHoGa_KetCauMong,
                        Text = item.ThongTinChungHoGa_KetCauMong_Name ?? ""
                    });
            }
            if (!string.IsNullOrEmpty(item.ThongTinChungHoGa_KetCauTuong) && !selectKCT.Any(x => x.Value == item.ThongTinChungHoGa_KetCauTuong))
            {
                selectKCT.Add(new SelectedItem
                    {
                        Value = item.ThongTinChungHoGa_KetCauTuong,
                        Text = item.ThongTinChungHoGa_KetCauTuong_Name ?? ""
                    });
            }
            if (!string.IsNullOrEmpty(item.ThongTinChungHoGa_HinhThucMongHoGa) && !selectHTM.Any(x => x.Value == item.ThongTinChungHoGa_HinhThucMongHoGa))
            {
                selectHTM.Add(new SelectedItem
                    {
                        Value = item.ThongTinChungHoGa_HinhThucMongHoGa,
                        Text = item.ThongTinChungHoGa_HinhThucMongHoGa_Name ?? ""
                    });
            }
            if (!string.IsNullOrEmpty(item.ThongTinChungHoGa_KetCauMong) && !selectKCM.Any(x => x.Value == item.ThongTinChungHoGa_KetCauMong))
            {
                selectKCM.Add(new SelectedItem
                    {
                        Value = item.ThongTinChungHoGa_KetCauMong,
                        Text = item.ThongTinChungHoGa_KetCauMong_Name ?? ""
                    });
            }

        }

        selectHTHG.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        selectKCMM.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        selectKCT.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        selectHTM.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        selectKCM.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
    }
    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        isLoading = true;

        var repository = await PhanLoaiHoGaRepository.GetBaoCaoCTaoCHungHGa(Input);
        listModel = repository;
        listPhanLoaiHoGaModel = Paging(listModel);

        isLoading = false;
    }

    public async Task Search()
    {
        phanLoaiHoGaModel.PageNumber = 1;
        await LoadData();
    }

    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        phanLoaiHoGaModel.PageNumber = 1;
        Paging(listModel);
    }


    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        phanLoaiHoGaModel.PageNumber = page;
        Paging(listModel);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {
        phanLoaiHoGaModel.PageNumber = 1;
        phanLoaiHoGaModel.pageSize = pageSize;
        Paging(listModel);
    }


    // Xử lý paging
    private List<PhanLoaiHoGaModel> Paging(List<PhanLoaiHoGaModel> listModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = listModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        listModels = listModels.Skip((phanLoaiHoGaModel.PageNumber - 1) * phanLoaiHoGaModel.PageSize).Take(phanLoaiHoGaModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listPhanLoaiHoGaModel.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in listModels)
        {
            listPhanLoaiHoGaModel.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<PhanLoaiHoGaModel>(listPhanLoaiHoGaModel, count, phanLoaiHoGaModel.PageNumber, phanLoaiHoGaModel.PageSize);
        MetaData = pagelist.MetaData;
        return listModels;
    }

    private void ThumbtackHeader()
    {
        thumbtack = thumbtack == "flex-header" ? "" : "flex-header";
    }
}