@page "/BaoCao/KHopHGaTDan"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using DucAnhERP.Helpers
@inject NavigationManager navigation
@inject INuocMuaRepository NuocMuaRepository
@inject IDanhMucRepository DanhMucRepository

@inject DucAnhERP.Services.ToastService ToastService
<style>
    table {
        position: relative;
    }

        table thead tr td {
            /*   white-space: nowrap; */
            text-align: center;
            padding: 2px 5px;
        }

</style>
<div class="container-fluid">
    <div class="row m-2 justify-content-end">
        <div class="col-md-3 col-sm-6 text-end">
            <button class="btn btn-sm btn-outline-primary me-2" @onclick="ThumbtackHeader" title="Ghim tiêu đề bảng">
                <i class="fas fa-thumbtack"></i>
            </button>
        </div>
    </div>
    <EditForm Model="Input" FormName="Search" OnValidSubmit="@Search">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm-4 col-md-2 mb-2">
                <label for="Table">Loại nắp đậy hố ga</label>
                <Select2 Id="select1" Items="@selectPLDHG" OnChange="@OnSelectChangePLDHG"></Select2>
                <ValidationMessage For="()=>Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa"></ValidationMessage>
            </div>

            <!-- Search Button -->
            <div class="col-sm-4 col-md-1 mb-1">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
            </div>
        </div>
    </EditForm>
    <div id="tableContainer ">
        <div class="table-report ">
            <div>
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG KẾT HỢP HỐ GA VÀ TẤM ĐAN</h5>
                </div>
                <div class=" mt-2">
                    <table id="tb-left" class="table table-hover table-bordered mt-3">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="2">Thông tin chung</th>
                                <th class="text-center" colspan="2">Loại tròn</th>
                                <th class="text-center" colspan="4">Loại vuông hoặc chữ nhật</th>

                            </tr>
                            <tr>
                                <th onclick="@(() => SortTable("ThongTinChungHoGa_TenHoGaSauPhanLoai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Loại hố ga
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_TenHoGaSauPhanLoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Loại nắp đậy hố ga
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_DuongKinh"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đường kính (m)
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_DuongKinh"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_ChieuDay"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Chiều dầy (m)
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_ChieuDay"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_D"))" class="text-center sortable">
                                    <div class="mr-3">
                                        D
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_D"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_R"))" class="text-center sortable">
                                    <div class="mr-3">
                                        R
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_R"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_C"))" class="text-center sortable">
                                    <div class="mr-3">
                                        C
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_C"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_SoLuongNapDay"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Số lượng nắp đậy (C.Kiện)
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_SoLuongNapDay"))"></span>
                                    </div>
                                </th>

                            </tr>

                        </thead>
                        @if (listNuocMuaModel.Any())
                        {
                            <tbody>
                                @{
                                    int stt = 0;
                                }
                                @foreach (var item in listNuocMuaModel)
                                {
                                    stt++;
                                    <tr>
                                        <td class="text-center"> @stt</td>
                                        <td class="text-center"> @item.PhanLoaiHoGas_TenHoGaSauPhanLoai</td>
                                        <td class="text-center"> @item.PhanLoaiTDHoGa_PhanLoaiDayHoGa      </td>
                                        <td class="text-center"> @item.ThongTinTamDanHoGa2_DuongKinh </td>
                                        <td class="text-center"> @item.ThongTinTamDanHoGa2_ChieuDay </td>
                                        <td class="text-center"> @item.ThongTinTamDanHoGa2_D </td>
                                        <td class="text-center"> @item.ThongTinTamDanHoGa2_R </td>
                                        <td class="text-center"> @item.ThongTinTamDanHoGa2_C </td>
                                        <td class="text-center"> @item.ThongTinTamDanHoGa2_SoLuongNapDay </td>

                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="25"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }


                    </table>
                </div>
                <div class="mt-4">
                    @if (listNuocMuaModel.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
                    }
                </div>
            </div>
        </div>
    </div>
    <Loading IsLoading="@isLoading" LoadingText="Đang tải dữ liệu..." />
</div>


@code {

    private bool isLoading = false;
    private NuocMuaModel Input = new NuocMuaModel();

    private List<SelectedItem> selectPLDHG = new();

    private string layoutClass = "d-flex justify-content-between";
    private string space = "ml-5";
    private string thumbtack = "";

    private void OnSelectChangePLDHG(SelectedItem selectedItem)
    {
        Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa = selectedItem.Value;
    }

    public List<NuocMuaModel> listNuocMuaModel { get; set; } = new();
    public List<NuocMuaModel> listModel { get; set; } = new();
    public MetaData MetaData { get; set; }
    public NuocMuaModel nuocMuaModel { get; set; }


    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        nuocMuaModel = new();

        await LoadData();
        selectPLDHG = new();

        foreach (var item in listModel)
        {
            // Kiểm tra và thêm item
            if (!string.IsNullOrEmpty(item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa) && !selectPLDHG.Any(x => x.Value == item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa))
            {
                selectPLDHG.Add(new SelectedItem
                    {
                        Value = item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa,
                        Text = item.PhanLoaiTDHoGa_PhanLoaiDayHoGa ?? ""
                    });
            }
        }
        selectPLDHG.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
    }
    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        isLoading = true;
        listModel = new();
        var repository = await NuocMuaRepository.GetBaoCaoKHopHGaTDan(Input);
        foreach (var item in repository)
        {
            // Kiểm tra và thêm item
            if (!string.IsNullOrEmpty(item.ThongTinChungHoGa_TenHoGaSauPhanLoai) && !string.IsNullOrEmpty(item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa) && !listModel.Any(x => x.ThongTinChungHoGa_TenHoGaSauPhanLoai == item.ThongTinChungHoGa_TenHoGaSauPhanLoai))
            {
                listModel.Add(item);
            }
            else
            {
                Console.WriteLine(item);
            }
        }

        listNuocMuaModel = Paging(listModel);
        isLoading = false;
    }

    public async Task Search()
    {
        nuocMuaModel.PageNumber = 1;
        await LoadData();
    }

    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        nuocMuaModel.PageNumber = 1;
        Paging(listModel);
    }


    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        nuocMuaModel.PageNumber = page;
        Paging(listModel);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {
        nuocMuaModel.PageNumber = 1;
        nuocMuaModel.pageSize = pageSize;
        Paging(listModel);
    }


    // Xử lý paging
    private List<NuocMuaModel> Paging(List<NuocMuaModel> listModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = listModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        listModels = listModels.Skip((nuocMuaModel.PageNumber - 1) * nuocMuaModel.PageSize).Take(nuocMuaModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listNuocMuaModel.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in listModels)
        {
            listNuocMuaModel.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<NuocMuaModel>(listNuocMuaModel, count, nuocMuaModel.PageNumber, nuocMuaModel.PageSize);
        MetaData = pagelist.MetaData;
        return listModels;
    }

    private void ThumbtackHeader()
    {
        thumbtack = thumbtack == "flex-header" ? "" : "flex-header";
    }
}