@page "/BaoCao/KLDaoBPhapHGa"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using DucAnhERP.Helpers
@inject NavigationManager navigation
@inject INuocMuaRepository NuocMuaRepository
@inject IDanhMucRepository DanhMucRepository

@inject DucAnhERP.Services.ToastService ToastService
<style>
    table {
        position: relative;
    }

        table thead tr td {
            /*   white-space: nowrap; */
            text-align: center;
            padding: 2px 5px;
        }

</style>
<div class="container-fluid">
    <div class="row m-2 justify-content-end">
        <div class="col-md-3 col-sm-6 text-end">
            <!-- Nút hiển thị bảng trái -->
            <button class="btn btn-sm btn-primary me-2" @onclick="View" title="@(viewLeft == "d-block" ? "Xem bảng phải" : "Xem bảng trái")">
                @if (viewLeft == "d-block")
                {
                    <i class="fas fa-arrow-right"></i>
                }
                else
                {
                    <i class="fas fa-arrow-left"></i>
                }
            </button>
            <!-- Nút hiển thị cả hai bảng -->
            <button class="btn btn-sm btn-primary me-2" @onclick="ViewAll" title="Xem cả hai bảng">
                <i class="fas fa-columns"></i>
            </button>
            <button class="btn btn-sm btn-primary me-2" @onclick="ViewHorizontal" title="Xem theo chiều ngang">
                <i class="fas fa-arrows-alt-h"></i>
            </button>
            <button class="btn btn-sm btn-secondary" @onclick="ViewVertical" title="Xem theo chiều dọc">
                <i class="fas fa-arrows-alt-v"></i>
            </button>
            <button class="btn btn-sm btn-outline-primary me-2" @onclick="ThumbtackHeader" title="Ghim tiêu đề bảng">
                <i class="fas fa-thumbtack"></i>
            </button>
        </div>
    </div>
    <EditForm Model="Input" FormName="Search" OnValidSubmit="@Search">
        <DataAnnotationsValidator />
        <div class="row">
            <!-- Select for Hình thức truyền dẫn -->
            <div class="col-sm-4 col-md-2 mb-2">
                <label for="Table">Loại vật liệu đào</label>
                <Select2 Id="mySelect3" Items="@selectLoaiVLDao" OnChange="@OnSelectChangeVLD"></Select2>
                <ValidationMessage For="()=>Input.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao"></ValidationMessage>
            </div>

            <!-- Search Button -->
            <div class="col-sm-4 col-md-1 mb-1">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
            </div>
        </div>
    </EditForm>
    <div id="tableContainer ">
        <div class="our-table @layoutClass">
            <div class="@viewLeft">
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG THÔNG TIN TỔNG HỢP ĐÀO BIỆN PHÁP HỐ GA NƯỚC MƯA DỌC PHÍA TRÁI</h5>
                </div>
                <div class=" mt-2">
                    <table id="tb-left" class="table table-hover table-bordered mt-3">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="4"> Thông tin lý trình </th>
                                <th class="text-center" colspan="3">Thông tin loại vật liệu đào</th>
                                <th class="text-center" colspan="4">Thông tin mái đào</th>
                                <th class="text-center" colspan="4">Thông tin diện tích</th>
                                <th class="text-center" colspan="3">Kl đào</th>
                                <th class="text-center" colspan="3">KL chiếm chỗ</th>
                                <th class="text-center" colspan="3">KL đắp trả</th>
                            </tr>

                            <tr>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinh_TuyenDuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tuyến đường
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_TuyenDuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Lý trình tại tim hố ga
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("PhanLoaiHoGas_TenHoGaSauPhanLoai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga sau phân loại
                                        <span class="arrow @(GetSortStyle("PhanLoaiHoGas_TenHoGaSauPhanLoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinChungHoGa_TenHoGaTheoBanVe"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga theo bản vẽ
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_TenHoGaTheoBanVe"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableLeft("ThongTinVatLieuDaoHoGa_LoaiVatLieuDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Loại vật liệu đào
                                        <span class="arrow @(GetSortStyle("ThongTinVatLieuDaoHoGa_LoaiVatLieuDao"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinVatLieuDaoHoGa_ChieuCaoDaoDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đào đá (m)
                                        <span class="arrow @(GetSortStyle("ThongTinVatLieuDaoHoGa_ChieuCaoDaoDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinVatLieuDaoHoGa_ChieuCaoDaoDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đào đất (m)
                                        <span class="arrow @(GetSortStyle("ThongTinVatLieuDaoHoGa_ChieuCaoDaoDat"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableLeft("ThongTinMaiDao_ChieuRongDayDaoNho"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CR đáy đào nhỏ (m)
                                        <span class="arrow @(GetSortStyle("ThongTinMaiDao_ChieuRongDayDaoNho"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinMaiDao_TyLeMoMai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tỷ lệ mở mái (m)
                                        <span class="arrow @(GetSortStyle("ThongTinMaiDao_TyLeMoMai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinMaiDao_SoCanhMaiTrai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Số cạnh mái trái
                                        <span class="arrow @(GetSortStyle("ThongTinMaiDao_SoCanhMaiTrai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinMaiDao_SoCanhMaiPhai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Số cạnh mái phải
                                        <span class="arrow @(GetSortStyle("ThongTinMaiDao_SoCanhMaiPhai"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableLeft("TTKLD_CRongDaoDayLonDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CR hố móng đáy đào lớn đất (m)
                                        <span class="arrow @(GetSortStyle("TTKLD_CRongDaoDayLonDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_CRongDaoDayLonDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CR hố móng đáy đào lớn đá (m)
                                        <span class="arrow @(GetSortStyle("TTKLD_CRongDaoDayLonDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_DienTichDaoDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Diện tích đất (m2)
                                        <span class="arrow @(GetSortStyle("TTKLD_DienTichDaoDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_DienTichDaoDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        D.Tích đá (m2)
                                        <span class="arrow @(GetSortStyle("TTKLD_DienTichDaoDa"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableLeft("TTKLD_KlDaoDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Khối lượng đào đất (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlDaoDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_KlDaoDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Khối lượng đào đá (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlDaoDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_TongKlDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tổng đào (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_TongKlDao"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableLeft("TTKLD_KlChiemChoDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        KL chiếm chỗ đất (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlChiemChoDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_KlChiemChoDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        KL chiếm chỗ đá (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlChiemChoDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_TongChiemCho"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tổng C.chỗ (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_TongChiemCho"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableLeft("TTKLD_KlDapTraDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Kl đắp trả đất (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlDapTraDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_KlDapTraDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Kl đắp trả đá (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlDapTraDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("TTKLD_TongDapTra"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tổng đắp trả (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_TongDapTra"))"></span>
                                    </div>
                                </th>
                            </tr>
                           
                        </thead>
                        @if (listNuocMuaModelLeft.Any())
                        {
                            <tbody>
                                @{
                                    int stt = 0;
                                }
                                @foreach (var item in listNuocMuaModelLeft)
                                {
                                    stt++;
                                    <tr>
                                        <td class="text-center"> @stt</td>
                                        <td class="text-center"> @item.ThongTinLyTrinh_TuyenDuong</td>
                                        <td class="text-center"> @item.ThongTinLyTrinh_LyTrinhTaiTimHoGa</td>
                                        <td class="text-center"> @item.PhanLoaiHoGas_TenHoGaSauPhanLoai</td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_TenHoGaTheoBanVe</td>
                                        <td class="text-center"> @item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao_Name </td>
                                        <td class="text-center"> @item.ThongTinVatLieuDaoHoGa_ChieuCaoDaoDa </td>
                                        <td class="text-center"> @item.ThongTinVatLieuDaoHoGa_ChieuCaoDaoDat </td>
                                        <td class="text-center"> @item.ThongTinMaiDao_ChieuRongDayDaoNho</td>
                                        <td class="text-center"> @item.ThongTinMaiDao_TyLeMoMai</td>
                                        <td class="text-center"> @item.ThongTinMaiDao_SoCanhMaiTrai</td>
                                        <td class="text-center"> @item.ThongTinMaiDao_SoCanhMaiPhai</td>
                                        <td class="text-center"> @item.TTKLD_CRongDaoDayLonDat</td>
                                        <td class="text-center"> @item.TTKLD_CRongDaoDayLonDa</td>
                                        <td class="text-center"> @item.TTKLD_DienTichDaoDat</td>
                                        <td class="text-center"> @item.TTKLD_DienTichDaoDa</td>
                                        <td class="text-center"> @item.TTKLD_KlDaoDat</td>
                                        <td class="text-center"> @item.TTKLD_KlDaoDa</td>
                                        <td class="text-center"> @item.TTKLD_TongKlDao</td>
                                        <td class="text-center"> @item.TTKLD_KlChiemChoDat</td>
                                        <td class="text-center"> @item.TTKLD_KlChiemChoDa</td>
                                        <td class="text-center"> @item.TTKLD_TongChiemCho</td>
                                        <td class="text-center"> @item.TTKLD_KlDapTraDat</td>
                                        <td class="text-center"> @item.TTKLD_KlDapTraDa</td>
                                        <td class="text-center"> @item.TTKLD_TongDapTra</td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="25"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }


                    </table>
                </div>
                <div class="mt-4">
                    @if (listNuocMuaModelLeft.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPageLeft" ChangePageSize="ChangePageSizeLeft"></Pagination>
                    }
                </div>
            </div>
            <div class="@space @viewRight">
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG THÔNG TIN TỔNG HỢP ĐÀO BIỆN PHÁP HỐ GA NƯỚC MƯA DỌC PHÍA PHẢI</h5>
                </div>
                <div class=" mt-2">
                    <table id="tb-right" class="table table-hover table-bordered mt-3">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="4"> Thông tin lý trình </th>
                                <th class="text-center" colspan="3">Thông tin loại vật liệu đào</th>
                                <th class="text-center" colspan="4">Thông tin mái đào</th>
                                <th class="text-center" colspan="4">Thông tin diện tích</th>
                                <th class="text-center" colspan="3">Kl đào</th>
                                <th class="text-center" colspan="3">KL chiếm chỗ</th>
                                <th class="text-center" colspan="3">KL đắp trả</th>
                            </tr>
                            <tr>
                                <th onclick="@(() => SortTableRight("ThongTinLyTrinh_TuyenDuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tuyến đường
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_TuyenDuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Lý trình tại tim hố ga
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("PhanLoaiHoGas_TenHoGaSauPhanLoai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga sau phân loại
                                        <span class="arrow @(GetSortStyle("PhanLoaiHoGas_TenHoGaSauPhanLoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinChungHoGa_TenHoGaTheoBanVe"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga theo bản vẽ
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_TenHoGaTheoBanVe"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableRight("ThongTinVatLieuDaoHoGa_LoaiVatLieuDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Loại vật liệu đào
                                        <span class="arrow @(GetSortStyle("ThongTinVatLieuDaoHoGa_LoaiVatLieuDao"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinVatLieuDaoHoGa_ChieuCaoDaoDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đào đá (m)
                                        <span class="arrow @(GetSortStyle("ThongTinVatLieuDaoHoGa_ChieuCaoDaoDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinVatLieuDaoHoGa_ChieuCaoDaoDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đào đất (m)
                                        <span class="arrow @(GetSortStyle("ThongTinVatLieuDaoHoGa_ChieuCaoDaoDat"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableRight("ThongTinMaiDao_ChieuRongDayDaoNho"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CR đáy đào nhỏ (m)
                                        <span class="arrow @(GetSortStyle("ThongTinMaiDao_ChieuRongDayDaoNho"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinMaiDao_TyLeMoMai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tỷ lệ mở mái (m)
                                        <span class="arrow @(GetSortStyle("ThongTinMaiDao_TyLeMoMai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinMaiDao_SoCanhMaiTrai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Số cạnh mái trái
                                        <span class="arrow @(GetSortStyle("ThongTinMaiDao_SoCanhMaiTrai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinMaiDao_SoCanhMaiPhai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Số cạnh mái phải
                                        <span class="arrow @(GetSortStyle("ThongTinMaiDao_SoCanhMaiPhai"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableRight("TTKLD_CRongDaoDayLonDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CR hố móng đáy đào lớn đất (m)
                                        <span class="arrow @(GetSortStyle("TTKLD_CRongDaoDayLonDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_CRongDaoDayLonDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CR hố móng đáy đào lớn đá (m)
                                        <span class="arrow @(GetSortStyle("TTKLD_CRongDaoDayLonDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_DienTichDaoDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Diện tích đất (m2)
                                        <span class="arrow @(GetSortStyle("TTKLD_DienTichDaoDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_DienTichDaoDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        D.Tích đá (m2)
                                        <span class="arrow @(GetSortStyle("TTKLD_DienTichDaoDa"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableRight("TTKLD_KlDaoDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Khối lượng đào đất (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlDaoDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_KlDaoDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Khối lượng đào đá (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlDaoDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_TongKlDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tổng đào (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_TongKlDao"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableRight("TTKLD_KlChiemChoDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        KL chiếm chỗ đất (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlChiemChoDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_KlChiemChoDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        KL chiếm chỗ đá (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlChiemChoDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_TongChiemCho"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tổng C.chỗ (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_TongChiemCho"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableRight("TTKLD_KlDapTraDat"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Kl đắp trả đất (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlDapTraDat"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_KlDapTraDa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Kl đắp trả đá (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_KlDapTraDa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("TTKLD_TongDapTra"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tổng đắp trả (m3)
                                        <span class="arrow @(GetSortStyle("TTKLD_TongDapTra"))"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        @if (listNuocMuaModelRight.Any())
                        {
                            <tbody>
                                @{
                                    int stt = 0;
                                }
                                @foreach (var item in listNuocMuaModelRight)
                                {
                                    stt++;
                                    <tr>
                                        <td class="text-center"> @stt</td>
                                        <td class="text-center"> @item.ThongTinLyTrinh_TuyenDuong</td>
                                        <td class="text-center"> @item.ThongTinLyTrinh_LyTrinhTaiTimHoGa</td>
                                        <td class="text-center"> @item.PhanLoaiHoGas_TenHoGaSauPhanLoai</td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_TenHoGaTheoBanVe</td>
                                        <td class="text-center"> @item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao_Name </td>
                                        <td class="text-center"> @item.ThongTinVatLieuDaoHoGa_ChieuCaoDaoDa </td>
                                        <td class="text-center"> @item.ThongTinVatLieuDaoHoGa_ChieuCaoDaoDat </td>
                                        <td class="text-center"> @item.ThongTinMaiDao_ChieuRongDayDaoNho</td>
                                        <td class="text-center"> @item.ThongTinMaiDao_TyLeMoMai</td>
                                        <td class="text-center"> @item.ThongTinMaiDao_SoCanhMaiTrai</td>
                                        <td class="text-center"> @item.ThongTinMaiDao_SoCanhMaiPhai</td>
                                        <td class="text-center"> @item.TTKLD_CRongDaoDayLonDat</td>
                                        <td class="text-center"> @item.TTKLD_CRongDaoDayLonDa</td>
                                        <td class="text-center"> @item.TTKLD_DienTichDaoDat</td>
                                        <td class="text-center"> @item.TTKLD_DienTichDaoDa</td>
                                        <td class="text-center"> @item.TTKLD_KlDaoDat</td>
                                        <td class="text-center"> @item.TTKLD_KlDaoDa</td>
                                        <td class="text-center"> @item.TTKLD_TongKlDao</td>
                                        <td class="text-center"> @item.TTKLD_KlChiemChoDat</td>
                                        <td class="text-center"> @item.TTKLD_KlChiemChoDa</td>
                                        <td class="text-center"> @item.TTKLD_TongChiemCho</td>
                                        <td class="text-center"> @item.TTKLD_KlDapTraDat</td>
                                        <td class="text-center"> @item.TTKLD_KlDapTraDa</td>
                                        <td class="text-center"> @item.TTKLD_TongDapTra</td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="25"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }


                    </table>
                </div>
                <div class="mt-4">
                    @if (listNuocMuaModelRight.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPageRight" ChangePageSize="ChangePageSizeRight"></Pagination>
                    }
                </div>
            </div>
        </div>
    </div>
    <Loading IsLoading="@isLoading" LoadingText="Đang tải dữ liệu..." />
</div>


@code {

    private bool isLoading = false;
    private NuocMuaModel Input = new NuocMuaModel();

    private List<SelectedItem> selectLoaiVLDao = new();
    private string layoutClass = "d-flex justify-content-between";
    private string space = "ml-5";
    private string thumbtack = "";

    private void OnSelectChange(SelectedItem selectedItem)
    {
        Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa = selectedItem.Value;
    }
    private void OnSelectChangeVLD(SelectedItem selectedItem)
    {
        Input.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao = selectedItem.Value;
    }

    public List<NuocMuaModel> listNuocMuaModelLeft { get; set; } = new();
    public List<NuocMuaModel> listModelLeft { get; set; } = new();
    public MetaData MetaData { get; set; }
    public NuocMuaModel nuocMuaModelLeft { get; set; }
    public NuocMuaModel nuocMuaModelRight { get; set; }

    public List<NuocMuaModel> listNuocMuaModelRight { get; set; } = new();
    public List<NuocMuaModel> listModelRight { get; set; } = new();

    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        nuocMuaModelLeft = new();
        nuocMuaModelRight = new();
        await LoadData();
        selectLoaiVLDao = new();
        foreach (var item in listModelLeft)
        {

            // Kiểm tra và thêm item vào selectLoaiVLDao nếu chưa tồn tại
            if (!string.IsNullOrEmpty(item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao) &&
                !selectLoaiVLDao.Any(x => x.Value == item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao))
            {
                selectLoaiVLDao.Add(new SelectedItem
                    {
                        Value = item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao,
                        Text = item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao_Name
                    });
            }

        }
        foreach (var item in listModelRight)
        {

            // Kiểm tra và thêm item vào selectLoaiVLDao nếu chưa tồn tại
            if (!string.IsNullOrEmpty(item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao) &&
                !selectLoaiVLDao.Any(x => x.Value == item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao))
            {
                selectLoaiVLDao.Add(new SelectedItem
                    {
                        Value = item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao,
                        Text = item.ThongTinVatLieuDaoHoGa_LoaiVatLieuDao_Name
                    });
            }

        }
       
        selectLoaiVLDao.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
    }
    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        isLoading = true;
        Input.TraiPhai = 0;
        var nuocMuaRepositoryLeft = await NuocMuaRepository.GetBaoCaoKLBPhapHGa(Input);
        listModelLeft = nuocMuaRepositoryLeft;
        listNuocMuaModelLeft = PagingLeft(listModelLeft, listNuocMuaModelLeft);
        Input.TraiPhai = 0;
        var nuocMuaRepositoryRight = await NuocMuaRepository.GetBaoCaoKLBPhapHGa(Input);
        listModelRight = nuocMuaRepositoryRight;
        listNuocMuaModelRight = PagingRight(listModelRight, listNuocMuaModelRight);

        isLoading = false;
    }
    public async Task Search()
    {
        nuocMuaModelLeft.PageNumber = 1;
        nuocMuaModelRight.PageNumber = 1;
        await LoadData();
    }

    // Sắp xếp data
    private void SortTableLeft (string columnName)
    {
        listModelLeft = SortService.SortTable(listModelLeft, columnName);
        nuocMuaModelLeft.PageNumber = 1;
        PagingLeft(listModelLeft, listNuocMuaModelLeft);
    }
    private void SortTableRight(string columnName)
    {
        listModelRight = SortService.SortTable(listModelRight, columnName);
        nuocMuaModelLeft.PageNumber = 1;
        PagingRight(listModelRight, listNuocMuaModelRight);
    }

    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPageLeft(int page)
    {
        nuocMuaModelLeft.PageNumber = page;
        PagingLeft(listModelLeft, listNuocMuaModelLeft);
    }
    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPageRight(int page)
    {
        nuocMuaModelRight.PageNumber = page;
        PagingRight(listModelRight, listNuocMuaModelRight);
    }
    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSizeLeft(int pageSize)
    {
        nuocMuaModelLeft.PageNumber = 1;
        nuocMuaModelLeft.pageSize = pageSize;
        PagingLeft(listModelLeft, listNuocMuaModelLeft);
    }
    private void ChangePageSizeRight(int pageSize)
    {
        nuocMuaModelRight.PageNumber = 1;
        nuocMuaModelRight.pageSize = pageSize;
        PagingRight(listModelRight, listNuocMuaModelRight);
    }

    // Xử lý paging
    private List<NuocMuaModel> PagingLeft(List<NuocMuaModel> listModels, List<NuocMuaModel> listCurrentModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = listModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        listModels = listModels.Skip((nuocMuaModelLeft.PageNumber - 1) * nuocMuaModelLeft.PageSize).Take(nuocMuaModelLeft.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listCurrentModels.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in listModels)
        {
            listCurrentModels.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<NuocMuaModel>(listCurrentModels, count, nuocMuaModelLeft.PageNumber, nuocMuaModelLeft.PageSize);
        MetaData = pagelist.MetaData;
        return listModels;
    }

    private List<NuocMuaModel> PagingRight(List<NuocMuaModel> listModels, List<NuocMuaModel> listCurrentModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = listModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        listModels = listModels.Skip((nuocMuaModelRight.PageNumber - 1) * nuocMuaModelRight.PageSize).Take(nuocMuaModelRight.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listCurrentModels.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in listModels)
        {
            listCurrentModels.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<NuocMuaModel>(listCurrentModels, count, nuocMuaModelRight.PageNumber, nuocMuaModelRight.PageSize);
        MetaData = pagelist.MetaData;
        return listModels;
    }
    private string viewLeft = "d-block";
    private string viewRight = "d-none";

    private void View()
    {
        if (viewLeft == "d-block")
        {
            viewLeft = "d-none";
            viewRight = "d-block";
        }
        else
        {
            viewRight = "d-none";
            viewLeft = "d-block";
        }

    }

    private void ViewAll()
    {
        viewLeft = "d-block";
        viewRight = "d-block";
    }

    private void ViewHorizontal()
    {
        layoutClass = "d-flex justify-content-between";
        space = "ml-5";
    }

    private void ViewVertical()
    {
        layoutClass = "d-block";
        space = "m-0";
    }
    private void ThumbtackHeader()
    {
        thumbtack = thumbtack == "flex-header" ? "" : "flex-header";
    }
}