@page "/BaoCao/TTHoGa"

<style>
    table {
        position: relative;
    }
        table thead tr td {
            /*   white-space: nowrap; */
            text-align: center;
            padding: 2px 5px;
        }
</style>
<div class="container-fluid">
    <div class="row m-2 justify-content-end">
        <div class="col-md-3 col-sm-6 text-end">
            <!-- Nút hiển thị bảng trái -->
            <button class="btn btn-sm btn-primary me-2" @onclick="View" title="@(viewLeft == "d-block" ? "Xem bảng phải" : "Xem bảng trái")">
                @if (viewLeft == "d-block")
                {
                    <i class="fas fa-arrow-right"></i>
                }
                else
                {
                    <i class="fas fa-arrow-left"></i>
                }
            </button>
            <!-- Nút hiển thị cả hai bảng -->
            <button class="btn btn-sm btn-primary me-2" @onclick="ViewAll" title="Xem cả hai bảng">
                <i class="fas fa-columns"></i>
            </button>
            <button class="btn btn-sm btn-primary me-2" @onclick="ViewHorizontal" title="Xem theo chiều ngang">
                <i class="fas fa-arrows-alt-h"></i>
            </button>
            <button class="btn btn-sm btn-secondary" @onclick="ViewVertical" title="Xem theo chiều dọc">
                <i class="fas fa-arrows-alt-v"></i>
            </button>
            <button class="btn btn-sm btn-outline-primary me-2" @onclick="ThumbtackHeader" title="Ghim tiêu đề bảng">
                <i class="fas fa-thumbtack"></i>
            </button>
        </div>
    </div>
    <EditForm Model="Input" FormName="Search" OnValidSubmit="@Search">
        <DataAnnotationsValidator />
        <div class="row">
            <!-- Select for Tên loại tấm đan -->
            <div class="col-sm-4 col-md-2 mb-2">
                <label for="Table">Tên loại tấm đan</label>
                <Select2 Id="mySelect2" Items="@selectPLDayHoGa" OnChange="@OnSelectChange"></Select2>
                <ValidationMessage For="()=>Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa"></ValidationMessage>
            </div>

            <!-- Select for Hình thức truyền dẫn -->
            <div class="col-sm-4 col-md-2 mb-2">
                <label for="Table">Hình thức truyền dẫn</label>
                <Select2 Id="mySelect3" Items="@selectHTTruyenDan" OnChange="@OnSelectChangeTD"></Select2>
                <ValidationMessage For="()=>Input.ThongTinDuongTruyenDan_HinhThucTruyenDan"></ValidationMessage>
            </div>

            <!-- Search Button -->
            <div class="col-sm-4 col-md-1 mb-1">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
            </div>
        </div>
    </EditForm>
   
    <div id="tableContainer ">
        <div class="our-table @layoutClass">
            <div class="@viewLeft">
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG THÔNG TIN TỔNG HỢP HỐ GA NƯỚC MƯA DỌC PHÍA TRÁI</h5>
                </div>
                <div class=" mt-2">
                    <table id="tb-left" class="table table-hover table-bordered mt-3">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="2"> Thông tin lý trình </th>
                                <th class="text-center" colspan="2">Thông tin cấu tạo hố ga</th>
                                <th class="text-center" colspan="2">Thông tin tấm đan hố ga</th>
                                <th class="text-center" colspan="2">Thông tin truyền dẫn</th>
                                <th class="text-center" colspan="12">Thông tin cao độ hố ga</th>
                                <th class="text-center" colspan="2">Tọa độ</th>
                            </tr>
                            <tr>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinh_TuyenDuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tuyến đường
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_TuyenDuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Lý trình tại tim hố ga
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("PhanLoaiHoGas_TenHoGaSauPhanLoai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga sau phân loại
                                        <span class="arrow @(GetSortStyle("PhanLoaiHoGas_TenHoGaSauPhanLoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinChungHoGa_TenHoGaTheoBanVe"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga theo bản vẽ
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_TenHoGaTheoBanVe"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên loại tấm đan
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinTamDanHoGa2_SoLuongNapDay"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Số lượng tấm đan (C.Kiện)
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_SoLuongNapDay"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinDuongTruyenDan_HinhThucTruyenDan_Name"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Hình thức truyền dẫn
                                        <span class="arrow @(GetSortStyle("ThongTinDuongTruyenDan_HinhThucTruyenDan_Name"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinDuongTruyenDan_LoaiTruyenDan_Name"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên loại truyền dẫn sau phân loại
                                        <span class="arrow @(GetSortStyle("ThongTinDuongTruyenDan_LoaiTruyenDan_Name"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Cao độ hiện trạng trước khi đào (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_DayDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đáy đào
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DayDao"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_CSauDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        C.Sâu đào
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CSauDao"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_DinhLotMong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh lót móng
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhLotMong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_CdDayHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh móng
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDayHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_CdDayHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CĐ đáy hố ga (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDayHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_CCaoTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        C.Cao tường (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CCaoTuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh tường dưới dầm giữa tường (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_DinhDamGiuaTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh dầm giữa tường (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhDamGiuaTuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_DinhTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh tường (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhTuong"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_DinhMuMoThotDuoi"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh mũ mố thớt dưới (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhMuMoThotDuoi"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ThongTinCaoDoHoGa_CdDinhHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CĐ đỉnh hố ga (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDinhHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ToaDoX"))" class="text-center sortable">
                                    <div class="mr-3">
                                        X
                                        <span class="arrow @(GetSortStyle("ToaDoX"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableLeft("ToaDoY"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Y
                                        <span class="arrow @(GetSortStyle("ToaDoY"))"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        @if (listNuocMuaModelLeft.Any())
                        {
                            <tbody>
                                @{
                                    int stt = 0;
                                }
                                @foreach (var item in listNuocMuaModelLeft)
                                {
                                    stt++;
                                    <tr>
                                        <td class="text-center"> @stt</td>
                                        <td class="text-center"> @item.ThongTinLyTrinh_TuyenDuong</td>
                                        <td class="text-center"> @item.ThongTinLyTrinh_LyTrinhTaiTimHoGa</td>
                                        <td class="text-center"> @item.PhanLoaiHoGas_TenHoGaSauPhanLoai</td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_TenHoGaTheoBanVe</td>
                                        <td class="text-center"> @item.PhanLoaiTDHoGa_PhanLoaiDayHoGa</td>
                                        <td class="text-center"> @item.ThongTinTamDanHoGa2_SoLuongNapDay</td>
                                        <td class="text-center"> @item.ThongTinDuongTruyenDan_HinhThucTruyenDan_Name</td>
                                        <td class="text-center"> @item.ThongTinDuongTruyenDan_LoaiTruyenDan_Name</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DayDao</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CSauDao</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhLotMong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDinhMong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDayHoGa</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CCaoTuong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhDamGiuaTuong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhTuong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhMuMoThotDuoi</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDinhHoGa</td>
                                        <td class="text-center"> @item.ToaDoX</td>
                                        <td class="text-center"> @item.ToaDoY</td>
                                    </tr>

                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="23"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }


                    </table>
                </div>
                <div class="mt-4">
                    @if (listNuocMuaModelLeft.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPageLeft" ChangePageSize="ChangePageSizeLeft"></Pagination>
                    }
                </div>
            </div>
            <div class="@space @viewRight">
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG THÔNG TIN TỔNG HỢP HỐ GA NƯỚC MƯA DỌC PHÍA PHẢI</h5>
                </div>
                <div class=" mt-2">
                    <table id="tb-right" class="table table-hover table-bordered mt-3">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="2"> Thông tin lý trình </th>
                                <th class="text-center" colspan="2">Thông tin cấu tạo hố ga</th>
                                <th class="text-center" colspan="2">Thông tin tấm đan hố ga</th>
                                <th class="text-center" colspan="2">Thông tin truyền dẫn</th>
                                <th class="text-center" colspan="12">Thông tin cao độ hố ga</th>
                                <th class="text-center" colspan="2">Tọa độ</th>
                            </tr>
                            <tr>
                                <th onclick="@(() => SortTableRight("ThongTinLyTrinh_TuyenDuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tuyến đường
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_TuyenDuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Lý trình tại tim hố ga
                                        <span class="arrow @(GetSortStyle("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("PhanLoaiHoGas_TenHoGaSauPhanLoai"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga sau phân loại
                                        <span class="arrow @(GetSortStyle("PhanLoaiHoGas_TenHoGaSauPhanLoai"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinChungHoGa_TenHoGaTheoBanVe"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên hố ga theo bản vẽ
                                        <span class="arrow @(GetSortStyle("ThongTinChungHoGa_TenHoGaTheoBanVe"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên loại tấm đan
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinTamDanHoGa2_SoLuongNapDay"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Số lượng tấm đan (C.Kiện)
                                        <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_SoLuongNapDay"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinDuongTruyenDan_HinhThucTruyenDan_Name"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Hình thức truyền dẫn
                                        <span class="arrow @(GetSortStyle("ThongTinDuongTruyenDan_HinhThucTruyenDan_Name"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinDuongTruyenDan_LoaiTruyenDan_Name"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Tên loại truyền dẫn sau phân loại
                                        <span class="arrow @(GetSortStyle("ThongTinDuongTruyenDan_LoaiTruyenDan_Name"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Cao độ hiện trạng trước khi đào (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_DayDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đáy đào
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DayDao"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_CSauDao"))" class="text-center sortable">
                                    <div class="mr-3">
                                        C.Sâu đào
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CSauDao"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_DinhLotMong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh lót móng
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhLotMong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_CdDayHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh móng
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDayHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_CdDayHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CĐ đáy hố ga (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDayHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_CCaoTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        C.Cao tường (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CCaoTuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh tường dưới dầm giữa tường (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_DinhDamGiuaTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh dầm giữa tường (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhDamGiuaTuong"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_DinhTuong"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh tường (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhTuong"))"></span>
                                    </div>
                                </th>

                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_DinhMuMoThotDuoi"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Đỉnh mũ mố thớt dưới (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhMuMoThotDuoi"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ThongTinCaoDoHoGa_CdDinhHoGa"))" class="text-center sortable">
                                    <div class="mr-3">
                                        CĐ đỉnh hố ga (m)
                                        <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDinhHoGa"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ToaDoX"))" class="text-center sortable">
                                    <div class="mr-3">
                                        X
                                        <span class="arrow @(GetSortStyle("ToaDoX"))"></span>
                                    </div>
                                </th>
                                <th onclick="@(() => SortTableRight("ToaDoY"))" class="text-center sortable">
                                    <div class="mr-3">
                                        Y
                                        <span class="arrow @(GetSortStyle("ToaDoY"))"></span>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        @if (listNuocMuaModelRight.Any())
                        {
                            <tbody>
                                @{
                                    int stt = 0;
                                }
                                @foreach (var item in listNuocMuaModelRight)
                                {
                                    stt++;
                                    <tr>
                                        <td class="text-center"> @stt</td>
                                        <td class="text-center"> @item.ThongTinLyTrinh_TuyenDuong</td>
                                        <td class="text-center"> @item.ThongTinLyTrinh_LyTrinhTaiTimHoGa</td>
                                        <td class="text-center"> @item.PhanLoaiHoGas_TenHoGaSauPhanLoai</td>
                                        <td class="text-center"> @item.ThongTinChungHoGa_TenHoGaTheoBanVe</td>
                                        <td class="text-center"> @item.PhanLoaiTDHoGa_PhanLoaiDayHoGa</td>
                                        <td class="text-center"> @item.ThongTinTamDanHoGa2_SoLuongNapDay</td>
                                        <td class="text-center"> @item.ThongTinDuongTruyenDan_HinhThucTruyenDan_Name</td>
                                        <td class="text-center"> @item.ThongTinDuongTruyenDan_LoaiTruyenDan_Name</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DayDao</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CSauDao</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhLotMong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDinhMong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDayHoGa</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CCaoTuong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhDamGiuaTuong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhTuong</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhMuMoThotDuoi</td>
                                        <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDinhHoGa</td>
                                        <td class="text-center"> @item.ToaDoX</td>
                                        <td class="text-center"> @item.ToaDoY</td>
                                    </tr>

                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="23"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }


                    </table>
                </div>
                <div class="mt-4">
                    @if (listNuocMuaModelRight.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPageRight" ChangePageSize="ChangePageSizeRight"></Pagination>
                    }
                </div>
            </div>
        </div>
    </div>
    <Loading IsLoading="@isLoading" LoadingText="Đang tải dữ liệu..." />
</div>


@code {

    private bool isLoading = false;
    private NuocMuaModel Input = new NuocMuaModel();

    private List<SelectedItem> selectPLDayHoGa = new();
    private List<SelectedItem> selectHTTruyenDan = new();
    private string layoutClass = "d-flex justify-content-between";
    private string space = "ml-5";
    private string thumbtack = "";

    private void OnSelectChange(SelectedItem selectedItem)
    {
        Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa = selectedItem.Value;
    }
    private void OnSelectChangeTD(SelectedItem selectedItem)
    {
        Input.ThongTinDuongTruyenDan_HinhThucTruyenDan = selectedItem.Value;
    }

    public List<NuocMuaModel> listNuocMuaModelLeft { get; set; } = new();
    public List<NuocMuaModel> listModelLeft { get; set; } = new();
    public MetaData MetaData { get; set; }
    public NuocMuaModel nuocMuaModelLeft{ get; set; }
    public NuocMuaModel nuocMuaModelRight { get; set; }

    public List<NuocMuaModel> listNuocMuaModelRight { get; set; } = new();
    public List<NuocMuaModel> listModelRight { get; set; } = new();

    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        nuocMuaModelLeft = new();
        nuocMuaModelRight = new();
        await LoadData();
        selectPLDayHoGa = new();
        foreach (var item in listModelLeft)
        {
            // Kiểm tra xem item đã tồn tại trong danh sách selectPLDayHoGa hay chưa
            if (!selectPLDayHoGa.Any(x => x.Value == item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa))
            {
                if (!string.IsNullOrEmpty(item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa))
                {
                    // Nếu chưa tồn tại, thêm item vào danh sách
                    selectPLDayHoGa.Add(new SelectedItem
                        {
                            Value = item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa,
                            Text = item.PhanLoaiTDHoGa_PhanLoaiDayHoGa
                        });
                }
            }

            // Kiểm tra và thêm item vào selectHTTruyenDan nếu chưa tồn tại
            if (!string.IsNullOrEmpty(item.ThongTinDuongTruyenDan_HinhThucTruyenDan) &&
                !selectHTTruyenDan.Any(x => x.Value == item.ThongTinDuongTruyenDan_HinhThucTruyenDan))
            {
                selectHTTruyenDan.Add(new SelectedItem
                    {
                        Value = item.ThongTinDuongTruyenDan_HinhThucTruyenDan,
                        Text = item.ThongTinDuongTruyenDan_HinhThucTruyenDan_Name
                    });
            }
        }

        foreach (var item in listModelRight)
        {
            // Kiểm tra xem item đã tồn tại trong danh sách selectPLDayHoGa hay chưa
            if (!selectPLDayHoGa.Any(x => x.Value == item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa))
            {
                if (!string.IsNullOrEmpty(item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa))
                {
                    // Nếu chưa tồn tại, thêm item vào danh sách
                    selectPLDayHoGa.Add(new SelectedItem
                        {
                            Value = item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa,
                            Text = item.PhanLoaiTDHoGa_PhanLoaiDayHoGa
                        });
                }
            }

            // Kiểm tra và thêm item vào selectHTTruyenDan nếu chưa tồn tại
            if (!string.IsNullOrEmpty(item.ThongTinDuongTruyenDan_HinhThucTruyenDan) &&
                !selectHTTruyenDan.Any(x => x.Value == item.ThongTinDuongTruyenDan_HinhThucTruyenDan))
            {
                selectHTTruyenDan.Add(new SelectedItem
                    {
                        Value = item.ThongTinDuongTruyenDan_HinhThucTruyenDan,
                        Text = item.ThongTinDuongTruyenDan_HinhThucTruyenDan_Name
                    });
            }

        }
        // Thêm phần tử mặc định "chọn..."
        selectPLDayHoGa.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        selectHTTruyenDan.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
    }
    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        isLoading = true;
        Input.TraiPhai = 0;
        var nuocMuaRepositoryLeft = await NuocMuaRepository.GetBaoCaoTTHoGa(Input);
        listModelLeft = nuocMuaRepositoryLeft;
        listNuocMuaModelLeft = PagingLeft(listModelLeft, listNuocMuaModelLeft);
        Input.TraiPhai = 1;
        var nuocMuaRepositoryRight = await NuocMuaRepository.GetBaoCaoTTHoGa(Input);
        listModelRight = nuocMuaRepositoryRight;
        listNuocMuaModelRight = PagingRight(listModelRight, listNuocMuaModelRight);

        isLoading = false;
    }
    public async Task Search()
    {
        nuocMuaModelLeft.PageNumber = 1;
        await LoadData();
    }

    // Sắp xếp data
    private void SortTableLeft(string columnName)
    {
        listModelLeft = SortService.SortTable(listModelLeft, columnName);
        nuocMuaModelLeft.PageNumber = 1;
        PagingLeft(listModelLeft, listNuocMuaModelLeft);
    }

    private void SortTableRight(string columnName)
    {
        listModelLeft = SortService.SortTable(listModelRight, columnName);
        nuocMuaModelRight.PageNumber = 1;
        PagingRight(listModelLeft, listNuocMuaModelRight);
    }

    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPageLeft(int page)
    {
        nuocMuaModelLeft.PageNumber = page;
        PagingLeft(listModelLeft, listNuocMuaModelLeft);
    }
    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPageRight(int page)
    {
        nuocMuaModelRight.PageNumber = page;
        PagingRight(listModelRight, listNuocMuaModelRight);
    }
    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSizeLeft(int pageSize)
    {
        nuocMuaModelLeft.PageNumber = 1;
        nuocMuaModelLeft.pageSize = pageSize;
        PagingLeft(listModelLeft,listNuocMuaModelLeft);
    }
    private void ChangePageSizeRight(int pageSize)
    {
        nuocMuaModelRight.PageNumber = 1;
        nuocMuaModelRight.pageSize = pageSize;
        PagingRight(listModelRight, listNuocMuaModelRight);
    }

    // Xử lý paging
    private List<NuocMuaModel> PagingLeft(List<NuocMuaModel> listModels , List<NuocMuaModel> listCurrentModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = listModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        listModels = listModels.Skip((nuocMuaModelLeft.PageNumber - 1) * nuocMuaModelLeft.PageSize).Take(nuocMuaModelLeft.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listCurrentModels.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in listModels)
        {
            listCurrentModels.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<NuocMuaModel>(listCurrentModels, count, nuocMuaModelLeft.PageNumber, nuocMuaModelLeft.PageSize);
        MetaData = pagelist.MetaData;
        return listModels;
    }
    private List<NuocMuaModel> PagingRight(List<NuocMuaModel> listModels, List<NuocMuaModel> listCurrentModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = listModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        listModels = listModels.Skip((nuocMuaModelRight.PageNumber - 1) * nuocMuaModelRight.PageSize).Take(nuocMuaModelRight.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listCurrentModels.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in listModels)
        {
            listCurrentModels.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<NuocMuaModel>(listCurrentModels, count, nuocMuaModelRight.PageNumber, nuocMuaModelRight.PageSize);
        MetaData = pagelist.MetaData;
        return listModels;
    }

    private string viewLeft = "d-block";
    private string viewRight = "d-none";

    private void View()
    {
        space = "m-0";
        if (viewLeft == "d-block")
        {
            viewLeft = "d-none";
            viewRight = "d-block";
        }
        else
        {
            viewRight = "d-none";
            viewLeft = "d-block";
        }

    }

    private void ViewAll()
    {
        viewLeft = "d-block";
        viewRight = "d-block";
        space = "ml-5";
    }
    private void ViewHorizontal()
    {
        layoutClass = "d-flex justify-content-between";
        space = "ml-5";
    }

    private void ViewVertical()
    {
        layoutClass = "d-block";
        space = "m-0";
    }
    private void ThumbtackHeader()
    {
        thumbtack = thumbtack == "flex-header" ? "" : "flex-header";
    }
}