@page "/BaoCao/TTHoGa"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using DucAnhERP.Helpers
@inject NavigationManager navigation
@inject INuocMuaRepository NuocMuaRepository
@inject IDanhMucRepository DanhMucRepository

@inject DucAnhERP.Services.ToastService ToastService
<style>
    table {
        position: relative;
    }

        table thead tr td {
            /*   white-space: nowrap; */
            text-align: center;
            padding: 2px 5px;
        }
</style>
<div class="container-fluid">
    <div class="m-5">
        <div class=" mt-1">
            <h3 class="mt-2">BẢNG THÔNG TIN TỔNG HỢP HỐ GA NƯỚC MƯA DỌC PHÍA TRÁI</h3>
        </div>
        <EditForm Model="Input" FormName="Search" OnValidSubmit="@Search">
            <DataAnnotationsValidator />
            <div class=" row">
               
                <div class="form-group col-sm-3 col-md-3 ml-2">
                    <label for="Table">Tên loại tấm đan</label>
                    <Select2 Id="mySelect2" Items="@selectPLDayHoGa" OnChange="@OnSelectChange"></Select2>
                    <ValidationMessage For="()=>Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa"></ValidationMessage>
                </div>
                <div class="form-group col-sm-3 col-md-3 ml-2">
                    <label for="Table">Hình thức truyền dẫn</label>
                    <Select2 Id="mySelect3" Items="@selectHTTruyenDan" OnChange="@OnSelectChangeTD"></Select2>
                    <ValidationMessage For="()=>Input.ThongTinDuongTruyenDan_HinhThucTruyenDan"></ValidationMessage>
                </div>
            
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary form-control">Tìm kiếm</button>
                </div>
            </div>

        </EditForm>
        <div class="our-table mt-2">
            <table class="table table-hover table-bordered mt-3">
                <thead class="bg-info">
                    <tr>
                        <th class="text-center" rowspan="2">STT</th>
                        <th class="text-center" colspan="2"> Thông tin lý trình </th>
                        <th class="text-center" colspan="2">Thông tin cấu tạo hố ga</th>
                        <th class="text-center" colspan="2">Thông tin tấm đan hố ga</th>
                        <th class="text-center" colspan="2">Thông tin truyền dẫn</th>
                        <th class="text-center" colspan="12">Thông tin cao độ hố ga</th>
                        <th class="text-center" colspan="2">Tọa độ</th>
                    </tr>
                    <tr>
                        <th onclick="@(() => SortTable("ThongTinLyTrinh_TuyenDuong"))" class="text-center sortable">
                            <div class="mr-3">
                                Tuyến đường
                                <span class="arrow @(GetSortStyle("ThongTinLyTrinh_TuyenDuong"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))" class="text-center sortable">
                            <div class="mr-3">
                                Lý trình tại tim hố ga
                                <span class="arrow @(GetSortStyle("ThongTinLyTrinh_LyTrinhTaiTimHoGa"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("PhanLoaiHoGas_TenHoGaSauPhanLoai"))" class="text-center sortable">
                            <div class="mr-3">
                                Tên hố ga sau phân loại
                                <span class="arrow @(GetSortStyle("PhanLoaiHoGas_TenHoGaSauPhanLoai"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinChungHoGa_TenHoGaTheoBanVe"))" class="text-center sortable">
                            <div class="mr-3">
                                Tên hố ga theo bản vẽ
                                <span class="arrow @(GetSortStyle("ThongTinChungHoGa_TenHoGaTheoBanVe"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))" class="text-center sortable">
                            <div class="mr-3">
                                Tên loại tấm đan
                                <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinTamDanHoGa2_SoLuongNapDay"))" class="text-center sortable">
                            <div class="mr-3">
                                Số lượng tấm đan (C.Kiện)
                                <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_SoLuongNapDay"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinDuongTruyenDan_HinhThucTruyenDan_Name"))" class="text-center sortable">
                            <div class="mr-3">
                                Hình thức truyền dẫn
                                <span class="arrow @(GetSortStyle("ThongTinDuongTruyenDan_HinhThucTruyenDan_Name"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinDuongTruyenDan_LoaiTruyenDan_Name"))" class="text-center sortable">
                            <div class="mr-3">
                                Tên loại truyền dẫn sau phân loại
                                <span class="arrow @(GetSortStyle("ThongTinDuongTruyenDan_LoaiTruyenDan_Name"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao"))" class="text-center sortable">
                            <div class="mr-3">
                                Cao độ hiện trạng trước khi đào (m)
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_DayDao"))" class="text-center sortable">
                            <div class="mr-3">
                                Đáy đào
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DayDao"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_CSauDao"))" class="text-center sortable">
                            <div class="mr-3">
                                C.Sâu đào
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CSauDao"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_DinhLotMong"))" class="text-center sortable">
                            <div class="mr-3">
                                Đỉnh lót móng
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhLotMong"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_CdDayHoGa"))" class="text-center sortable">
                            <div class="mr-3">
                                Đỉnh móng
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDayHoGa"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_CdDayHoGa"))" class="text-center sortable">
                            <div class="mr-3">
                                CĐ đáy hố ga (m)
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDayHoGa"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_CCaoTuong"))" class="text-center sortable">
                            <div class="mr-3">
                                C.Cao tường (m)
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CCaoTuong"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong"))" class="text-center sortable">
                            <div class="mr-3">
                                Đỉnh tường dưới dầm giữa tường (m)
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_DinhDamGiuaTuong"))" class="text-center sortable">
                            <div class="mr-3">
                                Đỉnh dầm giữa tường (m)
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhDamGiuaTuong"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_DinhTuong"))" class="text-center sortable">
                            <div class="mr-3">
                                Đỉnh tường (m)
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhTuong"))"></span>
                            </div>
                        </th>

                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_DinhMuMoThotDuoi"))" class="text-center sortable">
                            <div class="mr-3">
                                Đỉnh mũ mố thớt dưới (m)
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_DinhMuMoThotDuoi"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ThongTinCaoDoHoGa_CdDinhHoGa"))" class="text-center sortable">
                            <div class="mr-3">
                                CĐ đỉnh hố ga (m)
                                <span class="arrow @(GetSortStyle("ThongTinCaoDoHoGa_CdDinhHoGa"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ToaDoX"))" class="text-center sortable">
                            <div class="mr-3">
                                X
                                <span class="arrow @(GetSortStyle("ToaDoX"))"></span>
                            </div>
                        </th>
                        <th onclick="@(() => SortTable("ToaDoY"))" class="text-center sortable">
                            <div class="mr-3">
                                Y
                                <span class="arrow @(GetSortStyle("ToaDoY"))"></span>
                            </div>
                        </th>
                    </tr>
                </thead>
                @if (listNuocMuaModel.Any())
                {
                    <tbody>
                        @{
                            int stt = 0;
                        }
                        @foreach (var item in listNuocMuaModel)
                        {
                            stt++;
                            <tr>
                                <td class="text-center"> @stt</td>
                                <td class="text-center"> @item.ThongTinLyTrinh_TuyenDuong</td>
                                <td class="text-center"> @item.ThongTinLyTrinh_LyTrinhTaiTimHoGa</td>
                                <td class="text-center"> @item.PhanLoaiHoGas_TenHoGaSauPhanLoai</td>
                                <td class="text-center"> @item.ThongTinChungHoGa_TenHoGaTheoBanVe</td>
                                <td class="text-center"> @item.PhanLoaiTDHoGa_PhanLoaiDayHoGa</td>
                                <td class="text-center"> @item.ThongTinTamDanHoGa2_SoLuongNapDay</td>
                                <td class="text-center"> @item.ThongTinDuongTruyenDan_HinhThucTruyenDan_Name</td>
                                <td class="text-center"> @item.ThongTinDuongTruyenDan_LoaiTruyenDan_Name</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_CaoDoHienTrangTruocKhiDao</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_DayDao</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_CSauDao</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhLotMong</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDinhMong</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDayHoGa</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_CCaoTuong</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhTuongDuoiDamGiuaTuong</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhDamGiuaTuong</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhTuong</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_DinhMuMoThotDuoi</td>
                                <td class="text-center"> @item.ThongTinCaoDoHoGa_CdDinhHoGa</td>
                                <td class="text-center"> @item.ToaDoX</td>
                                <td class="text-center"> @item.ToaDoY</td>
                            </tr>

                        }
                    </tbody>
                }
                else
                {
                    <tbody>
                        <tr>
                            <td colspan="23"> Không có dữ liệu</td>
                        </tr>
                    </tbody>
                }


            </table>
        </div>
        <div class="mt-4">
            @if (listNuocMuaModel.Any())
            {
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
            }
        </div>
    </div>

    <Loading IsLoading="@isLoading" LoadingText="Đang tải dữ liệu..." />
</div>


@code {

    private bool isLoading = false;
    private NuocMuaModel Input = new NuocMuaModel();

    private List<SelectedItem> selectPLDayHoGa = new();
    private List<SelectedItem> selectHTTruyenDan = new();

    private void OnSelectChange(SelectedItem selectedItem)
    {
        Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa = selectedItem.Value;
    }
    private void OnSelectChangeTD(SelectedItem selectedItem)
    {
        Input.ThongTinDuongTruyenDan_HinhThucTruyenDan = selectedItem.Value;
    }

    public List<NuocMuaModel> listNuocMuaModel
    {
        get;
        set;
    } = new();

    public List<NuocMuaModel> listModel
    {
        get;
        set;
    } = new();

    public MetaData MetaData
    {
        get;
        set;
    }

    public NuocMuaModel nuocMuaModel
    {
        get;
        set;
    }

    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        nuocMuaModel = new();
        await LoadData();
        selectPLDayHoGa = new();
        foreach (var item in listModel)
        {
            // Kiểm tra xem item đã tồn tại trong danh sách selectPLDayHoGa hay chưa
            if (!selectPLDayHoGa.Any(x => x.Value == item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa))
            {
                if (!string.IsNullOrEmpty(item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa))
                {
                    // Nếu chưa tồn tại, thêm item vào danh sách
                    selectPLDayHoGa.Add(new SelectedItem
                        {
                            Value = item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa,
                            Text = item.PhanLoaiTDHoGa_PhanLoaiDayHoGa
                        });
                }
            }
           
            // Kiểm tra và thêm item vào selectHTTruyenDan nếu chưa tồn tại
            if (!string.IsNullOrEmpty(item.ThongTinDuongTruyenDan_HinhThucTruyenDan) &&
                !selectHTTruyenDan.Any(x => x.Value == item.ThongTinDuongTruyenDan_HinhThucTruyenDan))
            {
                selectHTTruyenDan.Add(new SelectedItem
                    {
                        Value = item.ThongTinDuongTruyenDan_HinhThucTruyenDan,
                        Text = item.ThongTinDuongTruyenDan_HinhThucTruyenDan_Name
                    });
            }

        }
        // Thêm phần tử mặc định "chọn..."
        selectPLDayHoGa.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        selectHTTruyenDan.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
    }
    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        isLoading = true;
        var nuocMuaRepository = await NuocMuaRepository.GetBaoCaoTTHoGa(Input);
        listModel = nuocMuaRepository;
        listNuocMuaModel = Paging(nuocMuaRepository);
        
        isLoading = false;
    }
    public async Task Search()
    {
        nuocMuaModel.PageNumber = 1;
        await LoadData();
    }

    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        nuocMuaModel.PageNumber = 1;
        Paging(listModel);
    }

    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        nuocMuaModel.PageNumber = page;
        Paging(listModel);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {
        nuocMuaModel.PageNumber = 1;
        nuocMuaModel.pageSize = pageSize;
        Paging(listModel);
    }

    // Xử lý paging
    private List<NuocMuaModel> Paging(List<NuocMuaModel> hopRanhThangs)
    {
        // Đếm số bản ghi thỏa mãn
        var count = hopRanhThangs.Count();

        // Lọc bản ghi theo page hiện tại và page size
        hopRanhThangs = hopRanhThangs.Skip((nuocMuaModel.PageNumber - 1) * nuocMuaModel.PageSize).Take(nuocMuaModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listNuocMuaModel.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in hopRanhThangs)
        {
            listNuocMuaModel.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<NuocMuaModel>(listNuocMuaModel, count, nuocMuaModel.PageNumber, nuocMuaModel.PageSize);
        MetaData = pagelist.MetaData;
        return hopRanhThangs;
    }
}