@using DucAnhERP.Helpers
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<select id="@Id" class="form-control" disabled="@disabled">
    @if (Items != null && Items.Any())
    {
        @foreach (var item in Items)
        {
            <option value="@item.Value" selected="@item.IsSelected">@item.Text</option>
        }
    }
</select>

@code {
    [Parameter] public string Id { get; set; }
    [Parameter] public List<SelectedItem> Items { get; set; } = new List<SelectedItem>();
    [Parameter] public EventCallback<SelectedItem> OnChange { get; set; }
    [Parameter] public bool disabled { get; set; } = false;

    private DotNetObjectReference<Select2>? objRef;
    private int previousItemCount = 0;
    private bool _isDisposed = false;

    // Khi danh sách Items thay đổi, reset Select2
    protected override async Task OnParametersSetAsync()
    {
        if (_isDisposed) return;

        if (Items.Count != previousItemCount)
        {
            await ResetSelect2();
            previousItemCount = Items.Count;
        }
    }

    private async Task ResetSelect2()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("select2Blazor.destroySelect2", Id);
            objRef?.Dispose();
            objRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("select2Blazor.initSelect2", Id, objRef);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    [JSInvokable]
    public async Task OnChangeHandlerFromJS(string value)
    {
        if (!disabled)
        {
            var selectedItem = Items.FirstOrDefault(item => item.Value == value);
            if (selectedItem != null)
            {
                await OnChange.InvokeAsync(selectedItem);
            }
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_isDisposed) return;
        _isDisposed = true;

        objRef?.Dispose();
        objRef = null;

        await JSRuntime.InvokeVoidAsync("select2Blazor.destroySelect2", Id);
    }
}
