@page "/createLuotDuyet"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Cài đặt phòng ban duyệt</h3>

<div class="mb-2 text-center">
    <button @onclick="SubmitAll" class="btn btn-primary">Lưu cài đặt</button>
    <button @onclick="Cancel" class="btn btn-warning">Hủy</button>
</div>

<div class="custom-table pl-2">
    <div class="table table-bordered table-striped">
        <div class="thead-dark">
            <button class="btn btn-primary" @onclick="AddRow">Thêm phòng ban</button>
            <div class="row">
                <div class="col bg-dark text-center border py-3">Chi Nhánh</div>
                <div class="col bg-dark text-center border py-3">Nghiệp Vụ</div>
                <div class="col bg-dark text-center border py-3">Phân Loại</div>
                <div class="col bg-dark text-center border py-3">Phòng Ban Duyệt</div>
                <div class="col bg-dark text-center border py-3">Loại Thao Tác</div>
                <div class="col bg-dark text-center border py-3">Nội Dung</div>
                <div class="col bg-dark text-center border py-3">Thứ Tự Duyệt</div>
                <div class="col bg-dark text-center border py-3">Actions</div>
            </div>
        </div>
        @foreach (var item in approvalRowWrappers)
        {
            <EditForm EditContext="item.EditContext" FormName="@item.ApprovalRow.Id" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col text-center border py-2">
                        <InputSelect class="form-control" ValueExpression="@(() => item.ApprovalRow.CompanyId)" Value="@item.ApprovalRow.CompanyId" ValueChanged="@((string value) => OnChangeCompany(item, value))">
                            <option value="">Chọn Chi Nhánh</option>
                            @foreach (var branch in lisChiNhanhs)
                            {
                                <option value="@branch.Id">@branch.TenChiNhanh</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.CompanyId)" />
                    </div>
                    <div class="col text-center border py-2">
                        <InputSelect class="form-control" ValueExpression="@(() => item.ApprovalRow.ParentMajorId)" Value="@item.ApprovalRow.ParentMajorId" ValueChanged="@((string value) => OnChangeParentMajorId(item, value))">
                            <option value="">Chọn Phân Loại</option>
                            @foreach (var major in listParentMajor)
                            {
                                <option value="@major.Id">@major.MajorName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.ParentMajorId)" />
                    </div>
                    <div class="col text-center border py-2">
                        <InputSelect class="form-control" ValueExpression="@(() => item.ApprovalRow.MajorId)" Value="@item.ApprovalRow.MajorId" ValueChanged="@((string value) => OnChangeMajorId(item, value))">
                            <option value="">Chọn Phân Loại</option>
                            @foreach (var major in listMajor)
                            {
                                <option value="@major.Id">@major.MajorName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.MajorId)" />
                    </div>
                    <div class="col text-center border py-2">
                        <InputSelect class="form-control" ValueExpression="@(() => item.ApprovalRow.DeptId)" Value="@item.ApprovalRow.DeptId" ValueChanged="@((string value) => OnChangeDepartment(item, value))">
                            <option value="">Chọn Phòng Ban Duyệt</option>
                            @foreach (var department in listStep)
                            {
                                <option value="@department.Id">@department.DeptName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.DeptId)" />
                    </div>
                    @* listPermissions *@
                    <div class="col text-center border py-2">
                        <InputSelect class="form-control" ValueExpression="@(() => item.ApprovalRow.PermissionId)" Value="@item.ApprovalRow.PermissionId" ValueChanged="@((string value) => OnChangeOperation(item, value))">
                            <option value="">Chọn thao tác</option>
                            @foreach (var permission in listPermissions)
                            {
                                <option value="@permission.Id">@permission.PermissionName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.PermissionId)" />
                    </div>
                    <div class="col text-center border py-2">
                        <InputText class="form-control" @bind-Value="item.ApprovalRow.Content" @oninput="(e) => OnInputContent(item, e)" />
                        <ValidationMessage For="@(() => item.ApprovalRow.Content)" />
                        @if (!item.isDuplicate)
                        {
                            <div class="validation-message">Nội dung giữa các dòng phải khác nhau!</div>
                        }
                    </div>
                    <div class="col text-center border py-2">@item.ApprovalRow.ApprovalStep</div>
                    <div class="col text-center border py-2">
                        <button class="btn btn-danger" @onclick="() => RemoveRow(item)">Xóa</button>
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

<div class="card card-primary">
    <div class="card-body">
        @if (!listSetApprovalStep.Any())
        {
            <div class="pt-4 pl-4">
                <div class="callout callout-warning">
                    <h5>Không có cài đặt </h5>
                </div>
            </div>
        }
        @if (listSetApprovalStep.Any())
        {
            <table class="table table-hover table-bordered">
                <thead class="bg-info">
                    <tr>
                        <th class="text-center" scope="col">
                            <div class="pb-3">No.</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">
                                Chi nhánh
                            </div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Nghiệp vụ</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Phân loại nghiệp vụ</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Phòng ban</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Loại thao tác</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Nội dung</div>
                        </th>
                        <th class="text-center" rowspan="2">
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var setting in listSetApprovalStep)
                    {
                        <tr>
                            <th class="text-center" scope="row">@(listSetApprovalStep.IndexOf(setting) + 1)</th>
                            <td class="text-center">@setting.CompanyId</td>
                            <td class="text-center">@setting.ParentMajorId</td>
                            <td class="text-center">@setting.MajorId</td>
                            <td class="text-center">@setting.DeptId</td>
                            <td class="text-center">@setting.PermissionId</td>
                            <td class="text-center">@setting.Content</td>
                            <td class="d-flex flex-column text-center nowrap">
                                <div class="d-inline-block">
                                    <button class="btn btn-sm btn-primary m-1" title="Chỉnh sửa" @onclick="()=>HandleEdit(setting.IdMain)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-sm btn-danger m-1" title="Xóa" @onclick="()=>ConfirmDelete(setting.IdMain ,setting.DeptId )">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        }
    </div>
</div>


<ErrorModal @ref="errorModal"></ErrorModal>
<ErrorModal @ref="permissionErrorModal" OnResponseClick="CheckPermission"></ErrorModal>
<SuccessModal @ref="successModal" OnResponseClick="Redirect"></SuccessModal>
<ConfirmModal @ref="confirmModal" OnResponseClick="CreateSettings"></ConfirmModal>
<ConfirmModal @ref="confirmDeleteModal" OnResponseClick="HandleResponseClick"></ConfirmModal>

@code {
    private ApprovalStepSetting approvalStepSetting { get; set; } = new();

    private List<Major> listParentMajor = new List<Major>();
    private List<Major> listMajor = new List<Major>();

    private List<ChiNhanh> lisChiNhanhs = new List<ChiNhanh>();

    private List<Department> listStep = new List<Department>();
    private List<Permission> listPermissions = new List<Permission>();

    private List<ApprovalStepSettingData> listSetApprovalStep = new List<ApprovalStepSettingData>();

    private DateTime baseTime;
    private bool loai;

    private string TitleModal = "Thêm";

    public string? companyId { get; set; }
    public string? parentmajorId { get; set; }
    public string? majorId { get; set; }
    public string? deptId { get; set; }
    private int deptOrder;
    public string? permissionId { get; set; }

    [Parameter]
    public SuccessModal successModal { get; set; }

    [Parameter]
    public ErrorModal errorModal { get; set; }

    [Parameter]
    public ErrorModal permissionErrorModal { get; set; }

    [Parameter]
    public ConfirmModal confirmModal { get; set; }

    [Parameter]
    public ConfirmModal confirmDeleteModal { get; set; }

    private List<ApprovalStepWrapper> approvalRowWrappers = new List<ApprovalStepWrapper>();
    public string userName { get; set; }
    public string userId { get; set; }
    public string groupId { get; set; }
    public string mainId { get; set; } = "";
    public string deleteId { get; set; } = "";
    public string idChiNhanh { get; set; }
    public string tenChiNhanh { get; set; }
    public DateTime createAt { get; set; }
    private ApplicationUser user;

    private void AddRow()
    {
        // Lấy giá trị đã chọn của dòng đầu tiên để gán cho các dòng tiếp theo

        if (mainId == "")
        {
            mainId = Guid.NewGuid().ToString();
        }
        if (approvalRowWrappers.Count > 0)
        {
            var firstRow = approvalRowWrappers.First().ApprovalRow;
            companyId = firstRow.CompanyId;
            parentmajorId = firstRow.ParentMajorId;
            majorId = firstRow.MajorId;
            deptOrder = firstRow.DeptOrder;
            permissionId = firstRow.PermissionId;
            createAt = DateTime.Now;
        }
        var newRow = new ApprovalStepSetting
            {
                Id = Guid.NewGuid().ToString(),
                IdMain = mainId,
                GroupId = groupId,
                CompanyId = companyId == "" ? "" : companyId,
                ParentMajorId = parentmajorId,
                MajorId = majorId == "" ? "" : majorId,
                DeptId = deptId,
                DeptOrder = deptOrder,
                PermissionId = permissionId,
                CreateAt = createAt,
                CreateBy = user.Email,
                IsActive = 3,
                ApprovalStep = approvalRowWrappers.Count + 1
            };
        approvalRowWrappers.Add(new ApprovalStepWrapper(newRow));
        StateHasChanged();
    }

    private void RemoveRow(ApprovalStepWrapper wrapper)
    {
        approvalRowWrappers.Remove(wrapper);
        for (int i = 0; i < approvalRowWrappers.Count; i++)
        {
            approvalRowWrappers[i].ApprovalRow.ApprovalStep = i + 1;
        }
        StateHasChanged();
    }

    private async Task OnInputContent(ApprovalStepWrapper approvalStep, ChangeEventArgs e)
    {
        approvalStep.ApprovalRow.Content = e.Value.ToString();
        // Kiểm tra nội dung phải khác nhau
        if (approvalRowWrappers.Count > 1)
        {
            approvalStep.isDuplicate = approvalRowWrappers.Select(wrapper => wrapper.ApprovalRow.Content).Distinct().Count() == approvalRowWrappers.Count;
        }
        StateHasChanged();
    }
    private async Task OnChangeOperation(ApprovalStepWrapper approvalRow, string value)
    {
        // Kiểm tra thao tác phải trùng nhau từ dòng thứ 2
        if (approvalRowWrappers.Count > 1)
        {
            var sl = (from p in approvalRowWrappers
                      where p.ApprovalRow.PermissionId != value
                      select p).Count();
            if (sl > 0)
            {
                foreach (var item in approvalRowWrappers)
                {
                    item.ApprovalRow.PermissionId = value;
                }
            }
            else
            {
                approvalRow.ApprovalRow.PermissionId = value;
            }
        }
        else
        {
            approvalRow.ApprovalRow.PermissionId = value;
        }
        permissionId = value;
    }
    protected override async Task OnInitializedAsync()
    {
        var isValid = await LoginService.CheckLogin();
        if (!isValid)
        {
            navigation.NavigateTo("/Account/Login", forceLoad: true);
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            userName = authState.User.Identity.Name;
            user = ApplicationUserService.GetByUserName(userName);
            userId = user.Id;
            groupId = user.GroupId;

            if (user.CreateBy == "symtem")
            {
                userId = user.Id;
                groupId = user.GroupId;

                // listParentMajor = await MajorService.GetParentMajor();

                // if (parentMajor != null)
                // {
                //     approvalStepSetting.MajorId = parentMajor.Id;
                // }

                // listMajor = await MajorService.GetMajorByParentId(parentmajorId);
                lisChiNhanhs = await ChiNhanhService.GetAll(groupId);
                baseTime = DateTime.Now;
                await LoadSetData();
            }
            else
            {
                navigation.NavigateTo("/");
            }
        }
    }

    private async Task OnChangeCompany(ApprovalStepWrapper approvalRow, string value)
    {
        // Kiểm tra chi nhánh phải trùng nhau từ dòng thứ 2
        if (approvalRowWrappers.Count > 1)
        {
            var sl = (from p in approvalRowWrappers
                      where p.ApprovalRow.CompanyId != value
                      select p).Count();
            if (sl > 0)
            {
                foreach (var item in approvalRowWrappers)
                {
                    item.ApprovalRow.CompanyId = value;
                }
            }
            else
            {
                approvalRow.ApprovalRow.CompanyId = value;
            }
        }
        else
        {
            approvalRow.ApprovalRow.CompanyId = value;
        }
        companyId = value;
        listParentMajor = await ApprovalStepSettingService.LoadParentMajors(companyId);
    }

    private async Task OnChangeParentMajorId(ApprovalStepWrapper approvalRow, string value)
    {
        if (approvalRowWrappers.Count() > 0)
        {
            foreach (var item in approvalRowWrappers)
            {
                item.ApprovalRow.ParentMajorId = value;
                item.ApprovalRow.MajorId = "";
            }
        }
        else
        {
            approvalRow.ApprovalRow.ParentMajorId = value;
        }
        parentmajorId = value;
        listMajor = await ApprovalStepSettingService.LoadMajors(companyId, parentmajorId);
    }

    private async Task OnChangeMajorId(ApprovalStepWrapper approvalRow, string value)
    {
        // Kiểm tra phân loại nghiệp vụ phải trùng nhau từ dòng thứ 2
        if (approvalRowWrappers.Count > 1)
        {
            var sl = (from p in approvalRowWrappers
                      where p.ApprovalRow.MajorId != value
                      select p).Count();
            if (sl > 0)
            {
                foreach (var item in approvalRowWrappers)
                {
                    item.ApprovalRow.MajorId = value;
                }
            }
            else
            {
                approvalRow.ApprovalRow.MajorId = value;
            }
        }
        else
        {
            approvalRow.ApprovalRow.MajorId = value;
        }
        majorId = value;
        listStep = await ApprovalStepSettingService.LoadDepartments(companyId, parentmajorId, majorId);
        listPermissions = await PermissionService.LoadToApproval(majorId);
    }

    private void OnChangeDepartment(ApprovalStepWrapper approvalRow, string value)
    {
        var approvalDept = ApprovalStepSettingService.GetIdApprodeptSetting(companyId, majorId, value);
        if (approvalDept != null)
        {
            deptOrder = approvalDept.ApprovalStep;
        }
        if (approvalRowWrappers.Count > 1)
        {
            var sl = (from p in approvalRowWrappers
                      where p.ApprovalRow.DeptId != value
                      select p).Count();
            if (sl > 0)
            {
                foreach (var item in approvalRowWrappers)
                {
                    item.ApprovalRow.DeptId = value;
                    item.ApprovalRow.DeptOrder = deptOrder;
                }
            }
            else
            {
                approvalRow.ApprovalRow.DeptId = value;
                approvalRow.ApprovalRow.DeptOrder = deptOrder;
            }
        }
        else
        {
            approvalRow.ApprovalRow.DeptId = value;
            approvalRow.ApprovalRow.DeptOrder = deptOrder;
        }
        deptId = value;

    }

    private async Task HandleSubmit(EditContext context)
    {

    }

    private async Task HandleEdit(string id)
    {
        try
        {
            createAt = DateTime.Now;
            // Lấy giá trị đã chọn của dòng đầu tiên để gán cho các dòng tiếp theo
            var query = await ApprovalStepSettingService.GetByMainId(id);
            approvalRowWrappers = new List<ApprovalStepWrapper>();

            foreach (var item in query)
            {
                companyId = item.CompanyId;
                parentmajorId = item.ParentMajorId;
                majorId = item.MajorId;
                deptId = item.DeptId;
                deptOrder = item.DeptOrder;
                permissionId = item.PermissionId;

                listParentMajor = await ApprovalStepSettingService.LoadParentMajors(companyId);
                listMajor = await ApprovalStepSettingService.LoadMajors(companyId, parentmajorId);
                listStep = await ApprovalStepSettingService.LoadDepartments(companyId, parentmajorId, majorId);
                listPermissions = await PermissionService.LoadToApproval(majorId);
                var newRow = new ApprovalStepSetting
                    {
                        Id = Guid.NewGuid().ToString(),
                        IdMain = item.IdMain,
                        CompanyId = item.CompanyId,
                        DeptId = item.DeptId,
                        DeptOrder = item.DeptOrder,
                        ParentMajorId = item.ParentMajorId,
                        MajorId = item.MajorId,
                        PermissionId = item.PermissionId,
                        Content = item.Content,
                        ApprovalStep = item.ApprovalStep,
                        GroupId = item.GroupId,
                        Ordinarily = item.Ordinarily,
                        CreateAt = createAt,
                        CreateBy = item.CreateBy,
                        IsActive = item.IsActive,
                        ApprovalUserId = item.ApprovalUserId,
                        DateApproval = item.DateApproval,
                        DepartmentId = item.DepartmentId,
                        DepartmentOrder = item.DepartmentOrder,
                        ApprovalOrder = item.ApprovalOrder,
                        ApprovalId = item.ApprovalId,
                        LastApprovalId = item.LastApprovalId,
                        IsStatus = item.IsStatus
                    };
                approvalRowWrappers.Add(new ApprovalStepWrapper(newRow));
                StateHasChanged();
            }

            mainId = id;
            loai = true;
        }
        catch (Exception ex)
        {
            // ToastService.ShowToast(
            // "Thông báo",
            // ex.Message,
            // cssClass: "toast-danger",
            // iconClass: "fa fa-exclamation-circle",
            // progressBarClass: "bg-info",
            // duration: 7000
            // );
        }
    }
    private async Task ConfirmDelete(string id, string Ten)
    {
        var checkchoduyet = await ApprovalStepSettingService.CheckChoDuyet(id);
        if (checkchoduyet.Count > 0)
        {
            errorModal.Title = "Lỗi!";
            errorModal.message = "Nghiệp vụ đang chờ duyệt, không thể xóa!";
            errorModal.openModal();
        }
        else
        {
            deleteId = id;
            confirmDeleteModal.Title = "Xác nhận xóa";
            confirmDeleteModal.message = $"Bạn có chắc chắn muốn xóa: {Ten}?";
            confirmDeleteModal.openModal();
        }
    }
    private async Task HandleResponseClick(bool confirmed)
    {
        try
        {
            if (confirmed)
            {
                if (!string.IsNullOrEmpty(deleteId))
                {
                    var query = ApprovalStepSettingService.GetByMainId(deleteId);

                    var choduyet = await ApprovalStepSettingService.CheckChoDuyet(deleteId);
                    if (choduyet.Count == 0)
                    {
                        var isValid = await ApprovalStepSettingService.DeleteApprovalStepSetting(deleteId);
                        if (isValid)
                        {
                            successModal.Title = "Xóa thành công!";
                            successModal.message = "Đã xóa cài đặt duyệt phòng ban!";
                            successModal.openModal();
                        }
                    }
                    else
                    {
                        errorModal.Title = "Lỗi!";
                        errorModal.message = "Bạn không thể xóa bản ghi khi nghiệp vụ đang chờ duyệt!";
                        errorModal.openModal();
                    }
                }
            }
        }
        catch (Exception ex)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = ex.Message;
            errorModal.openModal();
        }
    }
    private async Task SubmitAll()
    {
        // Kiểm tra trạng thái tài khoản
        var isValid = await LoginService.CheckLogin();
        if (!isValid)
        {
            navigation.NavigateTo("/Account/Login", forceLoad: true);
        }


        // Check quyền
        // To do

        // Validate
        if (approvalRowWrappers.Count == 0)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Bạn phải thêm ít nhất một dòng thiết định!";
            errorModal.openModal();
            return;
        }

        foreach (var wrapper in approvalRowWrappers)
        {
            if (!wrapper.EditContext.Validate())
            {
                return;
            }
        }

        bool allSameCompanyId = approvalRowWrappers.All(wrapper => wrapper.ApprovalRow.CompanyId == approvalRowWrappers.First().ApprovalRow.CompanyId);
        if (!allSameCompanyId)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Chi nhánh giữa các dòng phải giống nhau!";
            errorModal.openModal();
            return;
        }

        bool allSameScreenId = approvalRowWrappers.All(wrapper => wrapper.ApprovalRow.MajorId == approvalRowWrappers.First().ApprovalRow.MajorId);
        if (!allSameScreenId)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Phân loại nghiệp vụ giữa các dòng phải giống nhau!";
            errorModal.openModal();
            return;
        }

        bool allUniqueDept = approvalRowWrappers.All(wrapper => wrapper.ApprovalRow.DeptId == approvalRowWrappers.First().ApprovalRow.DeptId);
        if (!allUniqueDept)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Phòng ban giữa các dòng phải giống nhau!";
            errorModal.openModal();
            return;
        }
        bool allUniquePer = approvalRowWrappers.All(wrapper => wrapper.ApprovalRow.PermissionId == approvalRowWrappers.First().ApprovalRow.PermissionId);
        if (!allUniquePer)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Loại thao tác giữa các dòng phải giống nhau!";
            errorModal.openModal();
            return;
        }
        if (loai == true)
        {
            var checkchoduyet = await ApprovalStepSettingService.CheckChoDuyet(mainId);
            if (checkchoduyet.Count > 0)
            {
                errorModal.Title = "Lỗi";
                errorModal.message = "Nghiệp vụ đang chờ duyệt không thể sửa!";
                errorModal.openModal();
                return;
            }
        }
        try
        {
            bool checktrung = await ApprovalStepSettingService.CheckSave(companyId, majorId, deptId, permissionId, mainId, loai);
        }
        catch (Exception ex)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = ex.Message;
            errorModal.openModal();
            return;
            throw;
        }

        // Hiển thị modal xác nhận đăng ký
        confirmModal.openModal();
    }

    private void CheckPermission(bool isConfirm)
    {
        navigation.NavigateTo("#");
    }

    private void Cancel()
    {
        loai = false;
        mainId = "";
        companyId = "";
        parentmajorId = "";
        majorId = "";
        deptId = "";
        permissionId = "";
        approvalRowWrappers = new List<ApprovalStepWrapper>();
    }

    private void Redirect()
    {
        navigation.Refresh(forceReload: true);

    }

    private async Task CreateSettings(bool isRegister)
    {
        try
        {
            if (isRegister)
            {
                var result = await ApprovalStepSettingService.CreateApprovalStepSetting(approvalRowWrappers, baseTime);

                if (result)
                {
                    loai = false;
                    successModal.Title = "Thành công!";
                    successModal.message = "Cài đặt phòng ban duyệt thành công!";
                    successModal.openModal();
                }
            }
        }
        catch (Exception ex)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = ex.Message;
            errorModal.openModal();
        }

    }

    private async Task LoadSetData()
    {
        // var companyId = approvalRowWrappers.First().ApprovalRow.CompanyId;
        // var parentscreenId = approvalRowWrappers.First().ApprovalRow.ParentMajorId;
        // var majorId = approvalRowWrappers.First().ApprovalRow.MajorId;

        listSetApprovalStep = await ApprovalStepSettingService.GetData(groupId);
    }
}
