@page "/createPhongBanDuyet/{majorId}"
@using DucAnhERP.Models
@using DucAnhERP.ViewModel
@using DucAnhERP.Components.Pages.Common
@using DucAnhERP.SeedWork
@using DucAnhERP.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigation
@inject UserManager<IdentityUser> UserManager
@attribute [Authorize]

<h3>Cài đặt phòng ban duyệt</h3>

<div class="mb-2 text-center">
    <button class="btn btn-primary" @onclick="AddRow">Thêm phòng ban</button>
</div>

<div class="custom-table pl-2">
    <div class="table table-bordered table-striped">
        <div class="thead-dark">
            <div class="row">
                <div class="col bg-dark text-center border py-3">Chi Nhánh</div>
                <div class="col bg-dark text-center border py-3">Nghiệp Vụ</div>
                <div class="col bg-dark text-center border py-3">Phân Loại</div>
                <div class="col bg-dark text-center border py-3">Phòng Ban Duyệt</div>
                <div class="col bg-dark text-center border py-3">Thứ Tự Duyệt</div>
                <div class="col bg-dark text-center border py-3">Actions</div>
            </div>
        </div>
        @foreach (var item in approvalRowWrappers)
        {
            <EditForm EditContext="item.EditContext" FormName="@item.ApprovalRow.Id" OnValidSubmit="HandleSubmit">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col text-center border py-2">
                        <InputSelect class="form-control" ValueExpression="@(() => item.ApprovalRow.CompanyId)" Value="@item.ApprovalRow.CompanyId" ValueChanged="@((string value) => OnChangeCompany(item, value))">
                            <option value="">Chọn Chi Nhánh</option>
                            @foreach (var branch in listCompanies)
                            {
                                <option value="@branch.Id">@branch.CompanyName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.CompanyId)" />
                    </div>
                    <div class="col text-center border py-2">
                        <InputSelect id="parentMajor" disabled class="form-control" @bind-Value="item.ApprovalRow.MajorId">
                            @if (parentMajor != null)
                            {
                                <option selected value="@parentMajor.Id">@parentMajor.MajorName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.MajorId)" />
                    </div>
                    <div class="col text-center border py-2">
                        <InputSelect class="form-control" ValueExpression="@(() => item.ApprovalRow.ScreenId)" Value="@item.ApprovalRow.ScreenId" ValueChanged="@((string value) => OnChangeScreenId(item, value))">
                            <option value="">Chọn Phân Loại</option>
                            @foreach (var major in listMajor)
                            {
                                <option value="@major.Id">@major.MajorName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.ScreenId)" />
                    </div>
                    <div class="col text-center border py-2">
                        <InputSelect class="form-control" ValueExpression="@(() => item.ApprovalRow.DeptId)" Value="@item.ApprovalRow.DeptId" ValueChanged="@((string value) => OnChangeDepartment(item, value))">
                            <option value="">Chọn Phòng Ban Duyệt</option>
                            @foreach (var department in listDept)
                            {
                                <option value="@department.Id">@department.DeptName</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => item.ApprovalRow.DeptId)" />
                    </div>
                    <div class="col text-center border py-2">@item.ApprovalRow.ApprovalStep</div>
                    <div class="col text-center border py-2">
                        <button class="btn btn-danger" @onclick="() => RemoveRow(item)">Xóa</button>
                    </div>
                </div>
            </EditForm>
        }
    </div>
</div>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Cài đặt đang hiệu lực với chi nhánh, nghiệp vụ đã chọn</h3>
    </div>
    <div class="card-body">
        @if (!listSetApprovalDept.Any())
        {
            <div class="pt-4 pl-4">
                <div class="callout callout-warning">
                    <h5>Không có cài đặt tương ứng với chi nhánh, nghiệp vụ đã chọn!</h5>
                </div>
            </div>
        }
        @if (listSetApprovalDept.Any())
        {
            <table class="table table-hover table-bordered">
                <thead class="bg-info">
                    <tr>
                        <th class="text-center" scope="col">
                            <div class="pb-3">No.</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">
                                Chi nhánh
                            </div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Nghiệp vụ</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Phân loại nghiệp vụ</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Phòng ban</div>
                        </th>
                        <th class="text-center" scope="col">
                            <div class="pb-3">Thứ tự duyệt</div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var setting in listSetApprovalDept)
                    {
                        <tr>
                            <th class="text-center" scope="row">@(listSetApprovalDept.IndexOf(setting) + 1)</th>
                            <td class="text-center">@setting.CompanyName</td>
                            <td class="text-center">@setting.MajorName</td>
                            <td class="text-center">@setting.ScreenName</td>
                            <td class="text-center">@setting.DeptName</td>
                            <td class="text-center">@setting.ApprovalStep</td>
                        </tr>
                    }

                </tbody>

            </table>
        }

    </div>

</div>

<div class="mb-2 text-center pt-2">
    <button @onclick="SubmitAll" class="btn btn-primary">Thiết định</button>
    <button @onclick="GoToStepSetting" class="btn btn-primary">Đi tới cài đặt số lượt duyệt</button>
</div>


<ErrorModal @ref="errorModal"></ErrorModal>
<ErrorModal @ref="permissionErrorModal" OnResponseClick="CheckPermission"></ErrorModal>
<SuccessModal @ref="successModal" OnResponseClick="Redirect"></SuccessModal>
<ConfirmModal @ref="confirmModal" OnResponseClick="CreateSettings"></ConfirmModal>

@code {
    private ApprovalDeptSetting approvalDeptSetting { get; set; } = new();

    private List<MMajor> listMajor = new List<MMajor>();

    private List<MCompany> listCompanies = new List<MCompany>();

    private List<MDepartment> listDept = new List<MDepartment>();

    private List<ApprovalDeptSettingModel> listSetApprovalDept = new List<ApprovalDeptSettingModel>();

    private MMajor parentMajor;

    private DateTime baseTime;

    private IdentityUser loginUser;

    [Parameter, SupplyParameterFromQuery]
    public string? majorId { get; set; }

    [Parameter]
    public SuccessModal successModal { get; set; }

    [Parameter]
    public ErrorModal errorModal { get; set; }

    [Parameter]
    public ErrorModal permissionErrorModal { get; set; }

    [Parameter]
    public ConfirmModal confirmModal { get; set; }

    [Parameter]
    public ConfirmModal confirmDeleteModal { get; set; }

    private List<ApprovalDeptWrapper> approvalRowWrappers = new List<ApprovalDeptWrapper>();

    private void AddRow()
    {
        // Lấy giá trị đã chọn của dòng đầu tiên để gán cho các dòng tiếp theo
        var companyId = "";
        var screenId = "";
        if (approvalRowWrappers.Count > 0)
        {
            var firstRow = approvalRowWrappers.First().ApprovalRow;
            companyId = firstRow.CompanyId;
            screenId = firstRow.ScreenId;

        }
        var newRow = new ApprovalDeptSetting
            {
                Id = Guid.NewGuid().ToString(),
                CompanyId = companyId == "" ? "" : companyId,
                ScreenId = screenId == "" ? "" : screenId,
                MajorId = majorId,
                CreateAt = DateTime.Now,
                CreateBy = loginUser.Email,
                IsActive = 1,
                ApprovalStep = approvalRowWrappers.Count + 1
            };
        approvalRowWrappers.Add(new ApprovalDeptWrapper(newRow));
        StateHasChanged();
    }

    private void RemoveRow(ApprovalDeptWrapper wrapper)
    {
        approvalRowWrappers.Remove(wrapper);
        for (int i = 0; i < approvalRowWrappers.Count; i++)
        {
            approvalRowWrappers[i].ApprovalRow.ApprovalStep = i + 1;
        }
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var isValid = await LoginService.CheckLogin();
        if (!isValid)
        {
            navigation.NavigateTo("/Account/Login", forceLoad: true);
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var userName = authState.User.Identity.Name;
        loginUser = await UserManager.FindByNameAsync(userName);
        parentMajor = await MajorService.GetById(majorId);

        // Check quyền xem màn hình
        // var permission = await MajorUserPermissionService.CheckPermission("ff9590bc-7b3b-4f9b-a7fd-913c248beadf", "7d3ea4cc-b3dc-4adc-8411-a7f033935284", Constant.VIEW);

        // if (!permission)
        // {
        //     permissionErrorModal.Title = "Lỗi!";
        //     permissionErrorModal.message = "Bạn không có quyền truy cập nội dung này!";
        //     permissionErrorModal.openModal();
        //     return;
        // }

        if (parentMajor != null)
        {
            approvalDeptSetting.MajorId = parentMajor.Id;
        }
        listMajor = await MajorService.GetMajorByParentId(majorId);
        listCompanies = await CompanyService.GetAllCompanies();
        baseTime = DateTime.Now;
    }

    private async Task OnChangeCompany(ApprovalDeptWrapper approvalRow, string value)
    {
        // Kiểm tra chi nhánh phải trùng nhau từ dòng thứ 2
        if (approvalRowWrappers.Count > 1)
        {
            var sl = (from p in approvalRowWrappers
                      where p.ApprovalRow.CompanyId != value
                      select p).Count();
            if (sl > 0)
            {
                foreach (var item in approvalRowWrappers)
                {
                    item.ApprovalRow.CompanyId = value;
                }
            }
            else
            {
                approvalRow.ApprovalRow.CompanyId = value;
            }
        }
        else
        {
            approvalRow.ApprovalRow.CompanyId = value;
        }
        listDept = await DepartmentService.GetDepartmentsByCompany(value);
        await LoadSetData();
    }

    private async Task OnChangeScreenId(ApprovalDeptWrapper approvalRow, string value)
    {
        // Kiểm tra phân loại nghiệp vụ phải trùng nhau từ dòng thứ 2
        if (approvalRowWrappers.Count > 1)
        {
            var sl = (from p in approvalRowWrappers
                      where p.ApprovalRow.ScreenId != value
                      select p).Count();
            if (sl > 0)
            {
                foreach (var item in approvalRowWrappers)
                {
                    item.ApprovalRow.ScreenId = value;
                }
            }
            else
            {
                approvalRow.ApprovalRow.ScreenId = value;
            }
        }
        else
        {
            approvalRow.ApprovalRow.ScreenId = value;
        }
        await LoadSetData();
    }

    private async Task OnChangeDepartment(ApprovalDeptWrapper approvalRow, string value)
    {
        // Kiểm tra phòng ban phải khác nhau
        if (approvalRowWrappers.Count > 1)
        {
            var deptCount = approvalRowWrappers.Where(x => x.ApprovalRow.DeptId == value).Count();
            if (deptCount > 0)
            {
                // foreach (var item in approvalRowWrappers)
                // {
                //     item.ApprovalRow.DeptId = value;
                // }

                // approvalRow.ApprovalRow.DeptId = "";
                errorModal.Title = "Lỗi";
                errorModal.message = "Phòng ban giữa các dòng phải khác nhau!";
                errorModal.openModal();
                return;
            }
            else
            {
                approvalRow.ApprovalRow.DeptId = value;
            }
        }
        else
        {
            approvalRow.ApprovalRow.DeptId = value;
        }
        await LoadSetData();
    }

    private async Task HandleSubmit(EditContext context)
    {


    }

    private async Task SubmitAll()
    {
        // Kiểm tra trạng thái tài khoản
        var isValid = await LoginService.CheckLogin();
        if (!isValid)
        {
            navigation.NavigateTo("/Account/Login", forceLoad: true);
        }


        // Check quyền
        // To do

        // Validate
        if (approvalRowWrappers.Count == 0)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Bạn phải thêm ít nhất một dòng thiết định!";
            errorModal.openModal();
            return;
        }

        foreach (var wrapper in approvalRowWrappers)
        {
            if (!wrapper.EditContext.Validate())
            {
                return;
            }
        }

        bool allSameCompanyId = approvalRowWrappers.All(wrapper => wrapper.ApprovalRow.CompanyId == approvalRowWrappers.First().ApprovalRow.CompanyId);
        if (!allSameCompanyId)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Chi nhánh giữa các dòng phải giống nhau!";
            errorModal.openModal();
            return;
        }

        bool allSameScreenId = approvalRowWrappers.All(wrapper => wrapper.ApprovalRow.ScreenId == approvalRowWrappers.First().ApprovalRow.ScreenId);
        if (!allSameScreenId)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Phân loại nghiệp vụ giữa các dòng phải giống nhau!";
            errorModal.openModal();
            return;
        }

        bool allUniqueDept = approvalRowWrappers.Select(wrapper => wrapper.ApprovalRow.DeptId).Distinct().Count() == approvalRowWrappers.Count;
        if (!allUniqueDept)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = "Phòng ban giữa các dòng phải khác nhau!";
            errorModal.openModal();
            return;
        }

        // Kiểm tra xem có yêu cầu phê duyệt nào đang chờ duyệt không
        // To do

        // Hiển thị modal xác nhận đăng ký
        confirmModal.openModal();
    }

    private void CheckPermission(bool isConfirm)
    {
        navigation.NavigateTo("#");
    }

    private void GoToStepSetting()
    {
        navigation.NavigateTo($"/createLuotDuyet/{majorId}");
    }

    private void Redirect()
    {
        navigation.Refresh(forceReload: true);

    }

    private async Task CreateSettings(bool isRegister)
    {
        try
        {
            if (isRegister)
            {
                var result = await ApprovalDeptSettingService.CreateApprovalDeptSetting(approvalRowWrappers, baseTime);

                if (result)
                {
                    successModal.Title = "Thành công!";
                    successModal.message = "Cài đặt phòng ban duyệt thành công!";
                    successModal.openModal();
                }
            }
        }
        catch (Exception ex)
        {
            errorModal.Title = "Lỗi";
            errorModal.message = ex.Message;
            errorModal.openModal();
        }

    }

    private async Task LoadSetData()
    {
        var companyId = approvalRowWrappers.First().ApprovalRow.CompanyId;
        var majorId = approvalRowWrappers.First().ApprovalRow.MajorId;
        var screenId = approvalRowWrappers.First().ApprovalRow.ScreenId;

        listSetApprovalDept = await ApprovalDeptSettingService.GetSetApprovalDept(companyId, majorId, screenId);
    }



}
