@page "/ThongKeDien/DanhMuc/DM_LoaiKL"

<div class="container-fluid">
    <CustomModal IsVisible="isModalVisible" OnClose="HandleModalClose" Title="@TitleModal" Size="modal-lg">
        <BodyTemplate>
            <EditForm Model="Input" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col-3 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label for="Ten">Loại khối lượng <span class="text-danger">*</span></label>
                            <InputText id="LoaiKhoiLuong" class="form-control" @bind-Value="Input.LoaiKhoiLuong" />
                            <ValidationMessage For="() => Input.LoaiKhoiLuong" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-3 col-md-3 col-sm-6">
                        <div class="form-group">
                            <label for="Ten">Đơn vị<span class="text-danger">*</span></label>
                            <InputText id="DonVi" class="form-control" @bind-Value="Input.DonVi" />
                            <ValidationMessage For="() => Input.DonVi" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button class="btn btn-primary mr-2" type="submit">Save</button>
                    <button class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>
                </div>
            </EditForm>
        </BodyTemplate>
    </CustomModal>

    <EditForm Model="pageModel" FormName="SearchData" id="SearchData" OnValidSubmit="@Search">
        <DataAnnotationsValidator />
        <div class="d-flex row">
            <div class="form-floating col-sm-3 col-md-3">
                <label for="LoaiKhoiLuong">Loại khối lượng</label>
                <Select2 Id="LoaiKhoiLuong" Items="@selectLKLSearch" OnChange="@OnSelectLKLSearch"></Select2>
                <ValidationMessage For="()=>pageModel.LoaiKhoiLuong"></ValidationMessage>
            </div>
            <div class="form-floating col-sm-3 col-md-3">
                <label for="DonVi">Đơn vị</label>
                <Select2 Id="DonVi" Items="@selectDVSearch" OnChange="@OnSelectDVSearch"></Select2>
                <ValidationMessage For="()=>pageModel.DonVi"></ValidationMessage>
            </div>
            <div class="form-group ml-5">
                <label>&nbsp;</label>
                <button type="submit" form="SearchData" class="btn btn-primary form-control">Tìm kiếm</button>
            </div>
            @if (CheckQuyenService.HasPermission(3))
            {
                <div class="form-group ml-5">
                    <label>&nbsp;</label>
                    <button class="btn btn-default form-control" @onclick="ShowModal">Thêm mới</button>
                </div>

            }
        </div>
    </EditForm>
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="mt-2">Danh sách số quyết định</h5>
    </div>
    <div class="row mt-3  our-table">
        <table class="table table-hover table-bordered">
            <thead class="bg-info">
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Loại khối lượng</th>
                    <th class="text-center">Đơn vị</th>
                    <th class="text-center" colspan="2" rowspan="2"></th>
                </tr>

            </thead>
            @if (listDM_LoaiKLModel.Any())
            {
                <tbody>
                    @{
                        int stt = 1;
                    }
                    @foreach (var ndm in listDM_LoaiKLModel)
                    {
                        <tr>
                            <td class="text-center">@stt</td>
                            <td>@ndm.LoaiKhoiLuong</td>
                            <td>@ndm.DonVi</td>
                            <td class="text-center">
                                @if (CheckQuyenService.HasPermission(4))
                                {
                                    <button class="btn btn-sm btn-primary" @onclick="()=>Edit(ndm.Id)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                }
                            </td>
                            <td class="text-center">
                                @if (CheckQuyenService.HasPermission(5))
                                {
                                    <button class="btn btn-sm btn-danger" @onclick="()=>ConfirmDelete(ndm.Id,ndm.LoaiKhoiLuong)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                }
                            </td>
                        </tr>
                        stt++;
                    }

                </tbody>
            }
            else
            {
                <tbody>
                    <tr>
                        <td colspan="5"> Không có dữ liệu</td>
                    </tr>
                </tbody>
            }

        </table>
    </div>
    @if (listDM_LoaiKLModel.Any())
    {
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
    }
    <ConfirmModal @ref="confirmModal" OnResponseClick="HandleResponseClick"></ConfirmModal>
</div>

@code {
    public string userName { get; set; }
    public string userId { get; set; }
    public string groupId { get; set; }
    private ApplicationUser user;

    private D_DM_LoaiKL Input = new();
    private DateTime baseTime;

    private bool isModalVisible = false;
    private string TitleModal = "Thêm mới số quyết định";
    bool isEdit = false;

    private List<SelectedItem> selectLKLSearch = new List<SelectedItem> { new SelectedItem { Value = "", Text = "Chọn", IsSelected = true } };
    private List<SelectedItem> selectDVSearch = new List<SelectedItem> { new SelectedItem { Value = "", Text = "Chọn", IsSelected = true } };

    private void ShowModal()
    {
        isEdit = false;
        isModalVisible = true;
    }

    private void HandleModalClose(bool isVisible)
    {
        isModalVisible = isVisible;
    }

    private void HandleSave()
    {
        // Logic for saving
        isModalVisible = false;
    }

    private void HandleCancel()
    {
        // Logic for canceling
        isModalVisible = false;
        Input = new();
    }

    [Parameter]
    public ConfirmModal confirmModal { get; set; }
    public List<DM_LoaiKLModel> listDM_LoaiKLModel
    {
        get;
        set;
    } = new();
    public List<DM_LoaiKLModel> listModel
    {
        get;
        set;
    } = new();
    public MetaData MetaData {get;set; }
    [SupplyParameterFromForm(FormName = "SearchData")]
    public DM_LoaiKLModel pageModel { get;set;}
    public DM_LoaiKLModel dmModel{get;set;}

    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        pageModel = new();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            userName = authState.User.Identity.Name;
            user = ApplicationUserService.GetByUserName(userName);
            userId = user.Id;
            groupId = user.GroupId;
        }
        if (!string.IsNullOrEmpty(groupId) && user != null)
        {
            await CheckQuyenService.InitializePermissions(groupId, user, "6f85445f-398d-47d6-bbea-04c267299535");
        }

        var DM_LoaiKLs = await DM_LoaiKLService.GetByVM(groupId, new DM_LoaiKLModel());
        foreach(var item in DM_LoaiKLs)
        {
            if (!selectLKLSearch.Any(x => x.Value == item.LoaiKhoiLuong))
            {
                selectLKLSearch.Add(new SelectedItem
                    {
                        Value = item.LoaiKhoiLuong,
                        Text = item.LoaiKhoiLuong
                    });
            }
            if (!selectDVSearch.Any(x => x.Value == item.DonVi))
            {
                selectDVSearch.Add(new SelectedItem
                    {
                        Value = item.DonVi,
                        Text = item.DonVi
                    });
            }
        }
        StateHasChanged();

        baseTime = DateTime.Now;
        dmModel = new();
        await Task.WhenAll(Search());
    }
    // Truy vấn data theo điều kiện tìm kiếm
    private async Task Search()
    {
        try
        {
            var checkquyen = await PhanQuyenService.CheckPermission(groupId, "", user, "dac0c890-7c4b-40e4-91f3-fd8b9fb4e517");
            var DM_LoaiKLs = await DM_LoaiKLService.GetByVM(groupId, pageModel);
            listModel = DM_LoaiKLs;
            listDM_LoaiKLModel = Paging(DM_LoaiKLs);
        }
        catch (Exception ex)
        {
            ToastService.ShowToast("Thông báo", ex.Message, iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
        }
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            Input.CreateBy = userName;
            Input.CompanyId = groupId;
            var isExist = await DM_LoaiKLService.CheckExist(Input.Id, Input);
            if (isExist)
            {
                ToastService.ShowToast(
                   "Thông báo",
                    "Đã tồn tại.",
                    cssClass: "toast-danger",
                    iconClass: "fa fa-exclamation-circle",
                    progressBarClass: "bg-info",
                    duration: 5000);
            }
            else
            {

                if (isEdit)
                {
                    var checkquyen = await PhanQuyenService.CheckPermission(groupId, "", user, "40acc55a-b536-4068-b946-217da164d118");
                    string[] ids = { Input.Id };
                    bool isValid = await DM_LoaiKLService.CheckExclusive(ids, baseTime);
                    if (isValid)
                    {
                        await DM_LoaiKLService.Update(Input, userId);
                        ToastService.ShowToast("Thông báo", "Cập nhật thành công.", cssClass: "toast-success", iconClass: "fa fa-check-circle", progressBarClass: "bg-info", duration: 5000);
                        await Search();
                        isModalVisible = false;
                        Input = new();
                    }
                }
                else
                {
                    var checkquyen = await PhanQuyenService.CheckPermission(groupId, "", user, "353cc305-7b22-48c8-97c4-b1b9ed87d405");
                    await DM_LoaiKLService.Insert(Input, userId);
                    ToastService.ShowToast("Thông báo", "Thêm thành công.", cssClass: "toast-success", iconClass: "fa fa-check-circle", progressBarClass: "bg-info", duration: 5000);
                    await Search();
                    isModalVisible = false;
                    Input = new();
                }
            }

        }
        catch (Exception ex)
        {
            ToastService.ShowToast("Thông báo", ex.Message, iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
        }

    }

    private string deleteId;
    private async Task ConfirmDelete(string id, string Ten)
    {
        deleteId = id;
        confirmModal.Title = "Xác nhận xóa";
        confirmModal.message = $"Bạn có chắc chắn muốn xóa: {Ten}?";
        confirmModal.openModal();

    }
    private async Task HandleResponseClick(bool confirmed)
    {
        if (confirmed)
        {
            var checkquyen = await PhanQuyenService.CheckPermission(groupId, "", user, "69f91ed2-1a06-4956-bef3-8ea3df8fe486");
            if (!string.IsNullOrEmpty(deleteId))
            {
                bool isInUse = await DM_LoaiKLService.IsIdInUse(deleteId);
                if (isInUse)
                {
                    ToastService.ShowToast("Thông báo", "Không thể xóa loại danh mục đang được sử dụng.", cssClass: "toast-danger", iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
                }
                else
                {
                    await DM_LoaiKLService.DeleteById(deleteId, userId);
                    ToastService.ShowToast("Thông báo", "Xóa thành công.", cssClass: "toast-success", iconClass: "fa fa-check-circle", progressBarClass: "bg-info", duration: 5000);
                    await Search();
                    deleteId = "";
                }
            }
        }
    }
    private async Task Edit(string id)
    {
        try
        {
            TitleModal = "Cập nhật !";
            Input = await DM_LoaiKLService.GetById(id);
            isEdit = true;
            isModalVisible = true;
        }
        catch (Exception ex)
        {
            ToastService.ShowToast("Thông báo", ex.Message, iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
        }
    }

    private async Task OnSelectLKLSearch(SelectedItem selectedItem)
    {
        pageModel.LoaiKhoiLuong = selectedItem.Value;
    }
    private async Task OnSelectDVSearch(SelectedItem selectedItem)
    {
        pageModel.DonVi = selectedItem.Value;
    }

    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        dmModel.PageNumber = 1;
        Paging(listModel);
    }
    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }
    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        dmModel.PageNumber = page;
        Paging(listModel);
    }
    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {

        dmModel.PageNumber = 1;
        dmModel.pageSize = pageSize;
        Paging(listModel);
    }
    // Xử lý paging
    private List<DM_LoaiKLModel> Paging(List<DM_LoaiKLModel> DM_LoaiKLs)
    {
        // Đếm số bản ghi thỏa mãn
        var count = DM_LoaiKLs.Count();

        // Lọc bản ghi theo page hiện tại và page size
        DM_LoaiKLs = DM_LoaiKLs.Skip((dmModel.PageNumber - 1) * dmModel.PageSize).Take(dmModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listDM_LoaiKLModel.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var ndm in DM_LoaiKLs)
        {
            listDM_LoaiKLModel.Add(ndm);
        }

        // Tạo pagelist mới
        var pagelist = new PageList<DM_LoaiKLModel>(listDM_LoaiKLModel, count, dmModel.PageNumber, dmModel.PageSize);
        MetaData = pagelist.MetaData;
        return DM_LoaiKLs;
    }
}
