@page "/PKKL/PKKLRanhXay"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using DucAnhERP.Helpers
@inject NavigationManager navigation
@inject IJSRuntime JSRuntime
@inject IPKKLRXayRepository PKKLRXayRepository
@inject ITKThepRXayRepository TKThepRXayRepository
@inject INuocMuaRepository NuocMuaRepository
@inject IDanhMucRepository DanhMucRepository
@inject IDMTLThepRepository DMTLThepRepository
@inject IPhanLoaiCTronHopNhuaRepository PhanLoaiCTronHopNhuaRepository

@inject DucAnhERP.Services.ToastService ToastService
<style>
    table {
        position: relative;
    }

        table thead tr td {
            white-space: nowrap;
            text-align: center;
            padding: 2px 5px;
        }

</style>
<div class="container-fluid">
    <div class="mt-3">
        <CustomModal IsVisible="isModalVisible" OnClose="HandleModalClose" Title="@TitleModal" Size="modal-lg">
            <BodyTemplate>
                <EditForm Model="Input" id="editFormId" OnInvalidSubmit="HandleInValidSubmit" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div>
                        <h5>Thông tin cấu kiện</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="Table">Loại cấu kiện</label>
                                <Select2 Id="select1" Items="@selectLCK" OnChange="@OnSelectChangeLCK"></Select2>
                                <ValidationMessage For="()=>Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai"></ValidationMessage>
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="table">loại bê tông</label>
                                <Select2 Id="select2" Items="@selectLBT" OnChange="@OnSelectChangeLBT"></Select2>
                                <validationmessage for="()=>Input.LoaiBeTong"></validationmessage>
                            </div>
                        </div>
                        <h5>Thông tin tên công tác thực tế</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="HangMuc">Hạng mục <span></span></label>
                                <Select2 Id="select3" Items="@selectHMTC" OnChange="@OnSelectChangeHMTC"></Select2>
                                <validationmessage for="()=>Input.HangMuc"></validationmessage>
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="HangMucCongTac">Hạng mục công tác <span></span></label>
                                <InputText @bind-Value:after="OnValueChanged" @bind-Value="Input.HangMucCongTac" class="form-control" id="HangMucCongTac" placeholder="Hạng mục công tác" />
                                <validationmessage for="()=>Input.HangMucCongTac"></validationmessage>
                            </div>
                            @if (disTenCongTac)
                            {
                                <div class="form-floating col-sm-6 col-md-3">
                                    <label for="TenCongTac">Tên công tác<span></span></label>
                                    <Select2 Id="select6" Items="@selectTenCongTac" OnChange="@OnSelectChangeTenCongTac"></Select2>
                                    <ValidationMessage For="() => Input.TenCongTac" />
                                </div>
                            }
                            else
                            {
                                <div class="form-floating col-sm-6 col-md-3">
                                    <label for="TenCongTac">Tên công tác<span></span></label>
                                    <InputText @bind-Value="Input.TenCongTac" class="form-control" id="TenCongTac" placeholder="Tên công tác" />
                                    <ValidationMessage For="() => Input.TenCongTac" />
                                </div>
                            }
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="VTLayKhoiLuong">Đơn vị<span></span></label>
                                <InputText @bind-Value:after="OnValueChanged" @bind-Value="Input.DonVi" class="form-control" id="DonVi" placeholder="Đơn vị" />
                                <ValidationMessage For="() => Input.DonVi" />
                            </div>
                        </div>
                        <h5>Thông tin KTHH tính khối lượng (m3)</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3" title="Bắt buộc phải nhập giá trị vào đây. Giá trị là chiều dài thực tế của 01 cấu kiện">
                                <label for="KTHH_D">D<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KTHH_D" class="form-control" id="KTHH_D"  />
                                <ValidationMessage For="() => Input.KTHH_D" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="KTHH_R">R<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KTHH_R" class="form-control" id="KTHH_R" disabled="@disKTHH_R" />
                                <ValidationMessage For="() => Input.KTHH_R" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="KTHH_C">C<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KTHH_C" class="form-control" id="KTHH_C" disabled="@disKTHH_C" />
                                <ValidationMessage For="() => Input.KTHH_C" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3" title="Bắt buộc phải nhập giá trị tương ứng vào đây. Giá trị là kết quả của của chiều rộng  chiều cao của 01 cấu kiện cống tròn">
                                <label for="KTHH_DienTich">Diện tích<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KTHH_DienTich" class="form-control" id="KTHH_DienTich" />
                                <ValidationMessage For="() => Input.KTHH_DienTich" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3" title="Để cố định. Thông tin cố định là 'Rộng*Cao' ">
                                <label for="KTHH_GhiChu">Ghi chú<span></span></label>
                                <Select2 Id="select4" Items="@selectGhiChu" OnChange="@OnSelectChangeGhiChu"></Select2>
                                <validationmessage for="()=>Input.KTHH_GhiChu"></validationmessage>
                            </div>
                            <div class="form-floating col-sm-6 col-md-3" title="Bắt buộc phải nhập giá trị vào đây. Giá trị mặc định là 01">
                                <label for="KTHH_SLCauKien">Số lượng cấu kiện<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KTHH_SLCauKien" class="form-control" id="KTHH_SLCauKien" />
                                <ValidationMessage For="() => Input.KTHH_SLCauKien" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="KTHH_KL1CK">KL 01 CK<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KTHH_KL1CK" class="form-control" id="KTHH_KL1CK" disabled />
                                <ValidationMessage For="() => Input.KTHH_KL1CK  " />
                            </div>
                        </div>
                        <h5>Thông tin cạnh tính diện tích (m2)</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="TTCDT_CDai">Cạnh dài<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.TTCDT_CDai" class="form-control" id="TTCDT_CDai" />
                                <ValidationMessage For="() => Input.TTCDT_CDai" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="TTCDT_CRong">Cạnh rộng<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.TTCDT_CRong" class="form-control" id="TTCDT_CRong" />
                                <ValidationMessage For="() => Input.TTCDT_CRong" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="TTCDT_CDay">Cạnh đáy<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.TTCDT_CDay" class="form-control" id="TTCDT_CDay" />
                                <ValidationMessage For="() => Input.TTCDT_CDay" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="TTCDT_DienTich">Diện tích<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.TTCDT_DienTich" class="form-control" id="TTCDT_DienTich" />
                                <ValidationMessage For="() => Input.TTCDT_DienTich" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="TTCDT_SLCK">Số lượng cấu kiện<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.TTCDT_SLCK" class="form-control" id="TTCDT_SLCK" />
                                <ValidationMessage For="() => Input.TTCDT_SLCK" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="TTCDT_KL">KL<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.TTCDT_KL" class="form-control" id="TTCDT_KL" disabled />
                                <ValidationMessage For="() => Input.TTCDT_KL" />
                            </div>

                        </div>
                        <h5>Thông tin KL không phải M2,M3</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="KLKP_KL">Khối lượng<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KLKP_KL" class="form-control" id="KLKP_KL" disabled="@disInput" />
                                <ValidationMessage For="() => Input.KLKP_KL" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="KLKP_Sl">Số lượng<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KLKP_Sl" class="form-control" id="KLKP_Sl" />
                                <ValidationMessage For="() => Input.KLKP_Sl" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="KL1CK_ChuaTruCC">KL 01CK Chưa trừ chiếm chỗ<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KL1CK_ChuaTruCC" class="form-control" id="KL1CK_ChuaTruCC" disabled />
                                <ValidationMessage For="() => Input.KL1CK_ChuaTruCC" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="KLCC1CK">KL chiếm chỗ/01CK<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.KLCC1CK" class="form-control" id="KLCC1CK" />
                                <ValidationMessage For="() => Input.KLCC1CK" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="TKLCK_SauCC">Tổng KLCK sau chiếm chỗ<span></span></label>
                                <InputNumber @bind-Value:after="OnValueChanged" @bind-Value="Input.TKLCK_SauCC" class="form-control" id="TKLCK_SauCC" disabled />
                                <ValidationMessage For="() => Input.TKLCK_SauCC" />
                            </div>
                        </div>
                    </div>
                </EditForm>
            </BodyTemplate>
            <FooterTemplate>
                <div class="d-flex justify-content-end pr-5 py-3 modal-footer-with-border">
                     <button class="btn btn-primary mr-2" type="submit" form="editFormId">Save</button>
                    <button class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>
                </div>
            </FooterTemplate>
        </CustomModal>
    </div>
    <div class="row m-3 ">
        <div class="col-md-9 col-sm-12">
            <EditForm Model="InputMD" FormName="Search" OnValidSubmit="@Search">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-sm-4 col-md-3 mb-2">
                        <label for="Table">Loại cấu kiện</label>
                        <Select2 Id="select3" Items="@selectSearchLCK" OnChange="@OnSelectChangeSearchLCK"></Select2>
                        <ValidationMessage For="()=>InputMD.LoaiCauKienId"></ValidationMessage>
                    </div>

                    <!-- Search Button -->
                    <div class="col-sm-4 col-md-2 mb-2">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
                    </div>
                    <div class="col-sm-4 col-md-2 mb-2">
                        <label>&nbsp;</label>
                        <button type="button" @onclick="ShowModal" class="btn btn-info w-100">Tạo mới</button>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="col-md-3 col-sm-6 text-end">
            <button class="btn btn-outline-primary me-2" @onclick="ThumbtackHeader" title="Ghim tiêu đề bảng">
                <i class="fas fa-thumbtack"></i>
            </button>
        </div>
    </div>
    <div id="tableContainer ">
        <div class="table-report ">
            <div>
                <div class=" mt-1">
                    <h5 class="mt-2">BẢNG PHÂN KHAI KHỐI LƯỢNG CHI TIẾT 01M RÃNH XÂY</h5>
                </div>
                <div class=" mt-2">
                    <table id="tb-left" class="table table-hover table-bordered mt-3">
                        <thead class="bg-info @thumbtack">
                            <tr>
                                <th rowspan="2"></th>
                                <th class="text-center" rowspan="2">STT</th>
                                <th class="text-center" colspan="2">Thông tin cấu kiện</th>
                                <th class="text-center" colspan="3">Thông tin tên công tác thực tế</th>
                                <th class="text-center" colspan="7">Thông tin KTHH tính khối lượng (m3)</th>
                                <th class="text-center" colspan="6">Thông tin cạnh tính diện tích (m2)</th>
                                <th class="text-center" colspan="2">Thông tin KL không phải M2,M3</th>
                                <th class="text-center" rowspan="2">KL 01CK Chưa trừ chiếm chỗ</th>
                                <th class="text-center" rowspan="2">KL chiếm chỗ/01CK</th>
                                <th class="text-center" rowspan="2">Tổng KLCK sau chiếm chỗ</th>
                            </tr>
                            <tr>
                                <th> Loại cấu kiện</th>
                                <th> Loại bê tông</th>
                                <th> Hạng mục công tác</th>
                                <th> Tên công tác thực tế</th>
                                <th> Đơn vị</th>
                                <th> D</th>
                                <th> R</th>
                                <th> C</th>
                                <th> Diện tích</th>
                                <th> Ghi chú diện tích</th>
                                <th> Số lượng cấu kiện</th>
                                <th> KL 01 CK</th>
                                <th> Cạnh dài</th>
                                <th> Cạnh rộng</th>
                                <th> Cạnh đáy</th>
                                <th> Diện tích</th>
                                <th> Số lượng cấu kiện</th>
                                <th> KL</th>
                                <th> Khối lượng</th>
                                <th> Số lượng</th>
                            </tr>

                        </thead>
                        @if (listPKKLRXayModel.Any())
                        {
                            <tbody>
                                @foreach (var group in listPKKLRXayModel.GroupBy(item => item.LoaiCauKienId))
                                {

                                    int stt = 0;
                                    string HangMuc = "";
                                    @foreach (var groupChild in group.GroupBy(item => item.HangMuc))
                                    {
                                        @foreach (var item in groupChild.OrderBy(g => g.Flag))
                                        {
                                            stt++;
                                            if (string.IsNullOrEmpty(HangMuc) || HangMuc.ToUpper().Trim() != @item.HangMuc.ToUpper().Trim())
                                            {
                                                HangMuc = @item.HangMuc;
                                                <tr class="bg-warning text-bold">
                                                    <td></td>
                                                    <td>@getChiMuc(HangMuc)</td>
                                                    <td colspan="2">@item.LoaiCauKien</td>
                                                    <td>@HangMuc &nbsp; @item.LoaiCauKien</td>
                                                    <td>@HangMuc &nbsp; @item.LoaiCauKien</td>
                                                    <td colspan="19"></td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="d-flex nowrap">
                                                    <div class="d-inline-block">
                                                        <button class="btn btn-sm btn-danger m-1" title="Xóa" @onclick="()=>ConfirmDelete(item.Id ,item.TenCongTac)">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                        <button class="btn btn-sm btn-primary m-1" title="Sửa" @onclick="()=>HandleEdit(item.Id)">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-sm btn-primary m-1" title="Thêm vào sau" @onclick="()=>InsertLaterFlag(item.Flag)">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>@stt</td>
                                                <td>@item.LoaiCauKien</td>
                                                <td>@item.LoaiBeTong</td>
                                                <td>@item.HangMucCongTac</td>
                                                <td>@item.TenCongTac</td>
                                                <td>@item.DonVi</td>
                                                <td>@item.KTHH_D</td>
                                                <td>@item.KTHH_R</td>
                                                <td>@item.KTHH_C</td>
                                                <td>@item.KTHH_DienTich</td>
                                                <td>@item.KTHH_GhiChu</td>
                                                <td>@item.KTHH_SLCauKien</td>
                                                <td>@item.KTHH_KL1CK</td>
                                                <td>@item.TTCDT_CDai</td>
                                                <td>@item.TTCDT_CRong</td>
                                                <td>@item.TTCDT_CDay</td>
                                                <td>@item.TTCDT_DienTich</td>
                                                <td>@item.TTCDT_SLCK</td>
                                                <td>@item.TTCDT_KL</td>
                                                <td>@item.KLKP_KL</td>
                                                <td>@item.KLKP_Sl</td>
                                                <td>@item.KL1CK_ChuaTruCC </td>
                                                <td>@item.KLCC1CK </td>
                                                <td>@item.TKLCK_SauCC </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="24"> Không có dữ liệu</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="mt-4">
                    @if (listPKKLRXayModel.Any())
                    {
                        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
                    }
                </div>
            </div>
        </div>
    </div>
    <ConfirmModal @ref="confirmModal" OnResponseClick="HandleResponseClick"></ConfirmModal>
    <Loading IsLoading="@isLoading" LoadingText="Đang tải dữ liệu..." />
</div>


@code {

    private bool isLoading = false;
    private bool isModalVisible = false;
    private string TitleModal = "Thêm mới ";
    bool isEdit = false;
    string thumbtack = "";
    private DateTime baseTime;
    List<NuocMuaModel> repository;

    [Parameter]
    public ConfirmModal confirmModal { get; set; }

    private PKKLRXay Input = new();
    private PKKLModel InputMD = new PKKLModel();

    private List<SelectedItem> selectHMTC = new List<SelectedItem>
    {
        new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true },
        new SelectedItem { Value = "I.Móng", Text = "I.Móng " },
        new SelectedItem { Value = "II.Tường", Text = "II.Tường "},
        new SelectedItem { Value = "III.Mũ mố", Text = "III.Mũ mố "},
        new SelectedItem { Value = "IV.Sản xuất + V.Chuyển B.Tông T.Phẩm", Text = "IV.Sản xuất + V.Chuyển B.Tông T.Phẩm "},
        new SelectedItem { Value = "V.Gia công, lắp dựng cốt thép", Text = "V.Gia công, lắp dựng cốt thép "},
    };
    private async void OnSelectChangeHMTC(SelectedItem selectedItem)
    {
        Input.HangMuc = selectedItem.Value;
        Input.TenCongTac = "";

        Input.KTHH_R = 0;
        Input.KTHH_C = 0;
        Input.KTHH_DienTich = 0;
        Input.KTHH_SLCauKien = 0;
        Input.KTHH_KL1CK = 0;
        Input.TTCDT_CDai = 0;
        Input.TTCDT_CRong = 0;
        Input.TTCDT_CDay = 0;
        Input.TTCDT_DienTich = 0;
        Input.TTCDT_SLCK = 0;
        Input.TTCDT_KL = 0;
        Input.KLKP_KL = 0;
        Input.KLKP_Sl = 0;
        Input.KL1CK_ChuaTruCC = 0;
        Input.KLCC1CK = 0;
        Input.TKLCK_SauCC = 0;
        if (selectedItem.Value == "IV.Sản xuất + V.Chuyển B.Tông T.Phẩm" || selectedItem.Value == "V.Gia công, lắp dựng cốt thép")
        {
            Input.KTHH_D = 0;
        }
        else
        {
            Input.KTHH_D = 1;
        }
        await Caculate();
    }

    private List<SelectedItem> selectGhiChu = new List<SelectedItem>
    {
        new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true },
        new SelectedItem { Value = "Rộng*Cao", Text = "Rộng*Cao" },
        new SelectedItem { Value = "Dài*Cao", Text = "Dài*Cao"},
        new SelectedItem { Value = "Dài*Rộng", Text = "Dài*Rộng"},
    };

    private List<SelectedItem> selectTenCongTac = new();

    private async void OnSelectChangeTenCongTac(SelectedItem selectedItem)
    {
        if (double.TryParse(selectedItem.Value, out double result))
        {
            Input.KLKP_KL = result;
        }
        else
        {
            Input.KLKP_KL = 0;
        }
        Input.TenCongTac = selectedItem.Text;
        await Caculate();
    }

    private async void OnSelectChangeGhiChu(SelectedItem selectedItem)
    {
        Input.KTHH_GhiChu = selectedItem.Value;
        await Caculate();
    }

    private List<SelectedItem> selectLBT = new List<SelectedItem>
    {
        new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true },
        new SelectedItem { Value = "Bê tông thương phẩm", Text = "Bê tông thương phẩm" },
    };
    private async void OnSelectChangeLBT(SelectedItem selectedItem)
    {
        Input.LoaiBeTong = selectedItem.Value;
        await Caculate();
    }

    private List<SelectedItem> selectLCK = new();
    private async void OnSelectChangeLCK(SelectedItem selectedItem)
    {
        Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai = selectedItem.Value;
        await Caculate();
    }
    private List<SelectedItem> selectSearchLCK = new();
    private void OnSelectChangeSearchLCK(SelectedItem selectedItem)
    {
        InputMD.LoaiCauKienId = selectedItem.Value;
    }

    public List<PKKLModel> listPKKLRXayModel { get; set; } = new();
    public List<PKKLModel> listModel { get; set; } = new();
    public MetaData MetaData { get; set; }
    public PKKLModel tKThepHoGaModel { get; set; }

    private System.Timers.Timer _typingTimer;
    private int _debounceDelay = 5; // Thời gian đợi sau khi người dùng dừng nhập (ms)

    // Hàm được gọi sau khi bind-value hoàn tất
    private void OnValueChanged()
    {
        // Dừng Timer cũ nếu đang chạy
        _typingTimer?.Stop();

        // Khởi động Timer mới
        _typingTimer = new System.Timers.Timer(_debounceDelay);
        _typingTimer.Elapsed += async (_, _) =>
        {
            _typingTimer.Stop();
            await InvokeAsync(OnTypingStopped); // Gọi hàm xử lý khi người dùng dừng nhập
        };
        _typingTimer.AutoReset = false;
        _typingTimer.Start();
    }

    // Hàm xử lý logic khi người dùng dừng nhập
    private async Task OnTypingStopped()
    {
        await Caculate();
    }

    private bool disInput { get; set; } = false;
    private bool disTenCongTac { get; set; } = false;
    private bool disKTHH_R { get; set; } = false;
    private bool disKTHH_C { get; set; } = false;

    public async Task Caculate()
    {
        switch (Input.HangMuc)
        {
            case "I.Móng":
                if (disInput) { Input.KLKP_KL = 0; }
                if (!string.IsNullOrEmpty(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai) )
                {
                    Input.KTHH_R = 0;
                    Input.KTHH_C = 0;
                    var results = repository.Where(obj => obj.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai == Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai).FirstOrDefault();
                    if (results != null)
                    {
                        if (Input.HangMucCongTac.ToUpper().Trim() == "Lót móng".ToUpper().Trim() || Input.HangMucCongTac.ToUpper().Trim() == "Ván khuân lót móng".ToUpper().Trim())
                        {
                            Input.KTHH_R = results.TTKTHHCongHopRanh_CRongLotMong;
                            Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoLotMong;
                            disKTHH_R = true;
                            disKTHH_C = true;
                        }
                        else if (Input.HangMucCongTac.ToUpper().Trim() == "Móng bê tông".ToUpper().Trim() || Input.HangMucCongTac.ToUpper().Trim() == "Ván khuân móng".ToUpper().Trim())
                        {
                            Input.KTHH_R = results.TTKTHHCongHopRanh_CRongMong;
                            Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoMong;
                            disKTHH_R = true;
                            disKTHH_C = true;
                        }
                        else
                        {
                            disKTHH_R = false;
                            disKTHH_C = false;
                        }

                    }
                }
                else
                {
                    Input.KTHH_R = 0;
                    Input.KTHH_C = 0;
                    disKTHH_R = false;
                    disKTHH_C = false;
                }

                disTenCongTac = false;
                TinhToan(Input);
                break;
            case "II.Tường":
                if (!string.IsNullOrEmpty(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai))
                {
                    Input.KTHH_R = 0;
                    Input.KTHH_C = 0;
                    var results = repository.Where(obj => obj.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai == Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai).FirstOrDefault();
                    if (results != null)
                    {
                        if (Input.HangMucCongTac.ToUpper().Trim() == "Tường rãnh xây gạch".ToUpper().Trim())
                        {
                            Input.KTHH_R = results.TTKTHHCongHopRanh_CDayTuong01Ben;
                            Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoTuongGop;
                            disKTHH_R = true;
                            disKTHH_C = true;
                        }
                        else if (Input.HangMucCongTac.ToUpper().Trim() == "Chát tường mặt ngoài".ToUpper().Trim())
                        {
                            Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoChatmatNgoai;
                            disKTHH_R = false;
                            disKTHH_C = true;
                        }
                        else
                        {
                            Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoChatMatTrong;
                            disKTHH_R = false;
                            disKTHH_C = true;
                        }
                    }
                }
                TinhToan(Input);
                break;
            case "III.Mũ mố":
                if (!string.IsNullOrEmpty(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai))
                {
                    Input.KTHH_R = 0;
                    Input.KTHH_C = 0;
                    var results = repository.Where(obj => obj.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai == Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai).FirstOrDefault();
                    if (results != null)
                    {
                        if (Input.HangMucCongTac.ToUpper().Trim().Contains("THỚT DƯỚI"))
                        {
                            if (Input.LoaiBeTong.ToUpper().Trim() == "Bê tông thương phẩm".ToUpper())
                            {
                                Input.KTHH_R = results.TTKTHHCongHopRanh_CRongMuMoDuoi;
                                Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoMuMoThotDuoi;
                                disKTHH_R = true;
                                disKTHH_C = true;
                            }
                            else
                            {
                                Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoMuMoThotDuoi;
                                disKTHH_R = false;
                                disKTHH_C = true;
                            }
                        }
                        else
                        {
                            if (Input.LoaiBeTong.ToUpper().Trim() == "Bê tông thương phẩm".ToUpper())
                            {
                                Input.KTHH_R = results.TTKTHHCongHopRanh_CRongMuMoTren;
                                Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoMuMoThotTren;
                                disKTHH_R = true;
                                disKTHH_C = true;
                            }
                            else
                            {
                                Input.KTHH_C = results.TTKTHHCongHopRanh_CCaoMuMoThotTren;
                                disKTHH_R = false;
                                disKTHH_C = true;
                            }
                        }
                    }
                }
                TinhToan(Input);
                break;
            case "IV.Sản xuất + V.Chuyển B.Tông T.Phẩm":
                Input.KTHH_D = 0;
                if (!string.IsNullOrEmpty(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai))
                {
                    var TKLCK_SauCC = await PKKLRXayRepository.GetSumTKLCK_SauCCByLCK(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai);
                    Input.TKLCK_SauCC = Math.Round(TKLCK_SauCC, 4);
                }
                if (disKTHH_C || disKTHH_R)
                {
                    Input.KTHH_R = 0;
                    Input.KTHH_C = 0;
                    disKTHH_R = false;
                    disKTHH_C = false;
                }
                break;
            case "V.Gia công, lắp dựng cốt thép":
                if (disKTHH_C)
                {

                    Input.KTHH_R = 0;
                    Input.KTHH_C = 0;
                    disKTHH_C = false;
                }
                if (!string.IsNullOrEmpty(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai))
                {
                    disInput = true;
                    disTenCongTac = true;
                    selectTenCongTac = await TKThepRXayRepository.GetDistinctTenCongTacByPL(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai);
                    selectTenCongTac.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
                }
                else
                {
                    if (disInput) { Input.KLKP_KL = 0; }
                    disTenCongTac = false;
                }
                TinhToan(Input);
                break;
            default:
                break;
        }


        await InvokeAsync(() =>
          {
              StateHasChanged();
          });
    }

    public void TinhToan(PKKLRXay Input)
    {
        Input.KTHH_KL1CK = PKKLRXayRepository.KTHH_KL1CK(Input);
        Input.TTCDT_KL = PKKLRXayRepository.TTCDT_KL(Input);
        Input.KL1CK_ChuaTruCC = PKKLRXayRepository.KL1CK_ChuaTruCC(Input);
        Input.TKLCK_SauCC = Math.Round((Input.KL1CK_ChuaTruCC - Input.KLCC1CK), 4);
    }

    private void ShowModal()
    {
        isModalVisible = true;
        Input = new();
        // Đặt trạng thái chọn cho các danh sách
        SetSelectedItem(selectLCK, Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai);
        SetSelectedItem(selectLBT, Input.LoaiBeTong);
        SetSelectedItem(selectHMTC, Input.HangMuc);
        SetSelectedItem(selectGhiChu, Input.KTHH_GhiChu);
    }

    private void HandleModalClose(bool isVisible)
    {
        isModalVisible = isVisible;
        isEdit = false;
    }

    private void HandleSave()
    {
        // Logic for saving
        isModalVisible = false;
    }

    private void HandleCancel()
    {
        // Logic for canceling
        isModalVisible = false;
        isEdit = false;

    }

    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadData();
            repository = await NuocMuaRepository.GetBaoCaoKTHHRX();
            selectLCK = new();
            foreach (var item in repository)
            {
                // Kiểm tra và thêm item
                if (!string.IsNullOrEmpty(item.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai) && !selectLCK.Any(x => x.Value == item.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai))
                {
                    selectLCK.Add(new SelectedItem
                        {
                            Value = item.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai,
                            Text = item.PhanLoaiCTronHopNhua_TenLoaiTruyenDanSauPhanLoai ?? ""
                        });
                }
            }
            selectLCK.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
            selectSearchLCK = selectLCK;

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        try
        {
            isLoading = true;
            tKThepHoGaModel = new();
            var repository = await PKKLRXayRepository.GetAllByVM(InputMD);
            listModel = repository;

            listPKKLRXayModel = Paging(listModel);

        }
        catch (Exception)
        {

            throw;
        }
        isLoading = false;
    }

    public async Task Search()
    {
        tKThepHoGaModel.PageNumber = 1;
        await LoadData();

    }

    private async Task HandleInValidSubmit()
    {
        await JSRuntime.InvokeVoidAsync("scrollToFirstError");
    }


    private async Task HandleValidSubmit()
    {

        try
        {
            await Caculate();
            string[] ids = { Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai ?? "" };
            var isValidTenPL = await PhanLoaiCTronHopNhuaRepository.CheckExclusive(ids, baseTime);
            var listExist = await PKKLRXayRepository.GetExist(Input);
            if (isValidTenPL)
            {
                if (isEdit)
                {
                    string[] idss = { Input.Id };

                    if (listExist == null || listExist.Count == 0)
                    {
                        bool isValid = await PKKLRXayRepository.CheckExclusive(idss, baseTime);
                        if (isValid)
                        {
                            await PKKLRXayRepository.Update(Input);
                            isModalVisible = false;
                            Input = new PKKLRXay();
                            isEdit = false;
                            ToastService.ShowToast(
                                "Thông báo",
                                "Cập nhật thành công.",
                                cssClass: "toast-success",
                                iconClass: "fa fa-check-circle",
                                progressBarClass: "bg-info",
                                duration: 5000
                            );
                            await LoadData();
                        }
                    }
                    else if (listExist.Count > 0 && listExist[0].Id == Input.Id)
                    {
                        await PKKLRXayRepository.Update(Input);
                        isModalVisible = false;
                        Input = new PKKLRXay();
                        isEdit = false;
                        ToastService.ShowToast(
                            "Thông báo",
                            "Cập nhật thành công.",
                            cssClass: "toast-success",
                            iconClass: "fa fa-check-circle",
                            progressBarClass: "bg-info",
                            duration: 5000
                        );
                        await LoadData();
                    }
                    else
                    {
                        ToastService.ShowToast(
                        "Thông báo",
                         "Đã tồn tại.",
                         cssClass: "toast-danger",
                         iconClass: "fa fa-exclamation-circle",
                         progressBarClass: "bg-info",
                         duration: 5000);
                    }

                }
                else
                {
                    if (listExist == null || listExist.Count == 0)
                    {
                        if (Flag > 0)
                        {
                            // Thêm mới thông tin
                            var id = await PKKLRXayRepository.InsertLaterFlag(Input, Flag);
                            isModalVisible = false;
                            Input = new PKKLRXay();
                            ToastService.ShowToast(
                                "Thông báo",
                                "Chèn thành công.",
                                cssClass: "toast-success",
                                iconClass: "fa fa-check-circle",
                                progressBarClass: "bg-info",
                                duration: 5000
                            );
                            await LoadData();
                            Flag = 0;
                        }
                        else
                        {
                            // Thêm mới thông tin
                            await PKKLRXayRepository.Insert(Input);
                            // isModalVisible = false;
                            // Input = new PKKLRXay();
                            Input.Id = Guid.NewGuid().ToString();
                            ToastService.ShowToast(
                                "Thông báo",
                                "Thêm thành công.",
                                cssClass: "toast-success",
                                iconClass: "fa fa-check-circle",
                                progressBarClass: "bg-info",
                                duration: 5000
                            );
                            await LoadData();
                        }
                    }
                    else
                    {
                        ToastService.ShowToast(
                        "Thông báo",
                         "Đã tồn tại.",
                         cssClass: "toast-danger",
                         iconClass: "fa fa-exclamation-circle",
                         progressBarClass: "bg-info",
                         duration: 5000);
                    }

                }
            }

        }
        catch (Exception ex)
        {
            ToastService.ShowToast("Thông báo", ex.Message, cssClass: "toast-danger", iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
        }

    }

    private string deleteId;

    private async Task ConfirmDelete(string id, string Ten)
    {
        deleteId = id;
        confirmModal.Title = "Xác nhận xóa";
        confirmModal.message = $"Bạn có chắc chắn muốn xóa: {Ten}?";
        confirmModal.openModal();

    }

    private async Task HandleResponseClick(bool confirmed)
    {
        try
        {
            if (confirmed)
            {
                if (!string.IsNullOrEmpty(deleteId))
                {
                    string[] ids = { deleteId };
                    var result = await PKKLRXayRepository.CheckExclusive(ids, baseTime);
                    if (result)
                    {
                        // Thực hiện hành động xóa
                        await PKKLRXayRepository.DeleteById(deleteId);
                        ToastService.ShowToast("Thông báo", "Xóa phân loại thành công.", cssClass: "toast-success", iconClass: "fa fa-check-circle", progressBarClass: "bg-info", duration: 5000);
                        await LoadData();
                    }

                    deleteId = "";
                }
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowToast(
                 "Thông báo",
                ex.Message,
                 cssClass: "toast-danger",
               iconClass: "fa fa-exclamation-circle",
                 progressBarClass: "bg-info",
                 duration: 5000
             );

        }
    }

    private async Task HandleEdit(string id)
    {
        try
        {
            // Thiết lập trạng thái ban đầu
            TitleModal = "Cập nhật PKKL rãnh xây!";
            Input = await PKKLRXayRepository.GetById(id);
            isEdit = true;
            isModalVisible = true;

            // Đặt trạng thái chọn cho các danh sách
            SetSelectedItem(selectLCK, Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai);
            SetSelectedItem(selectLBT, Input.LoaiBeTong);
            SetSelectedItem(selectHMTC, Input.HangMuc);
            SetSelectedItem(selectGhiChu, Input.KTHH_GhiChu);

            // Xử lý từng trường hợp của HangMuc
            switch (Input.HangMuc)
            {
                case "I.Móng":
                    disKTHH_R = false;
                    disKTHH_C = true;
                    disTenCongTac = false;
                    break;

                case "II.Tường":
                    if (Input.HangMucCongTac.ToUpper().Trim() == "Tường rãnh xây gạch".ToUpper().Trim())
                    {
                        disKTHH_R = true;
                        disKTHH_C = true;
                    }
                    else if (Input.HangMucCongTac.ToUpper().Trim() == "Chát tường mặt ngoài".ToUpper().Trim())
                    {
                        disKTHH_R = false;
                        disKTHH_C = true;
                    }
                    disTenCongTac = false;
                    break;

                case "III.Mũ mố":
                    if (Input.LoaiBeTong.ToUpper().Trim() == "Bê tông thương phẩm".ToUpper())
                    {
                        disKTHH_R = true;
                        disKTHH_C = true;
                    }
                    else
                    {
                        disKTHH_R = false;
                        disKTHH_C = true;
                    }
                    break;
                case "IV.Sản xuất + V.Chuyển B.Tông T.Phẩm":
                    disKTHH_R = false;
                    disKTHH_C = false;
                    disTenCongTac = false;
                    break;
                case "V.Gia công, lắp dựng cốt thép":
                    if (!string.IsNullOrEmpty(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai))
                    {
                        disInput = true;
                        selectTenCongTac = await GetTenCongTacAsync(Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai, Input.TenCongTac);
                    }
                    else
                    {
                        disTenCongTac = false;
                    }
                    break;
                default:
                    break;
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowToast(
                 "Thông báo",
                ex.Message,
                 cssClass: "toast-danger",
               iconClass: "fa fa-exclamation-circle",
                 progressBarClass: "bg-info",
                 duration: 5000
             );
        }
    }

    private void SetSelectedItem(IEnumerable<SelectedItem> items, string value)
    {
        foreach (var item in items)
        {
            item.IsSelected = item.Value == value;
        }
    }

    private bool ShouldDisableInput(PKKLRXay input, string condition)
    {
        return !string.IsNullOrEmpty(input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai) &&
               input.HangMucCongTac.ToUpper().Trim() == condition.ToUpper().Trim();
    }
    private async Task<List<SelectedItem>> GetTenCongTacAsync(string id, string tenCongTac)
    {
        var result = await TKThepRXayRepository.GetDistinctTenCongTacByPL(id);
        result.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        foreach (var item in result)
        {
            item.IsSelected = item.Text.Trim() == tenCongTac.Trim();
        }
        return result;
    }

    int Flag = 0;
    //thêm vào sau
    private void InsertLaterFlag(int flag)
    {
        Flag = flag;
        TitleModal = "Chèn loại cống !";
        isModalVisible = true;
        Input = new();
        // Đặt trạng thái chọn cho các danh sách
        SetSelectedItem(selectLCK, Input.ThongTinDuongTruyenDan_TenLoaiTruyenDanSauPhanLoai);
        SetSelectedItem(selectLBT, Input.LoaiBeTong);
        SetSelectedItem(selectHMTC, Input.HangMuc);
    }


    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        tKThepHoGaModel.PageNumber = 1;
        Paging(listModel);
    }


    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        tKThepHoGaModel.PageNumber = page;
        Paging(listModel);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {
        tKThepHoGaModel.PageNumber = 1;
        tKThepHoGaModel.pageSize = pageSize;
        Paging(listModel);
    }


    // Xử lý paging
    private List<PKKLModel> Paging(List<PKKLModel> listModels)
    {
        // Đếm số bản ghi thỏa mãn
        var count = listModels.Count();

        // Lọc bản ghi theo page hiện tại và page size
        listModels = listModels.Skip((tKThepHoGaModel.PageNumber - 1) * tKThepHoGaModel.PageSize).Take(tKThepHoGaModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listPKKLRXayModel.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in listModels)
        {
            listPKKLRXayModel.Add(major);
        }

        // Tạo pagelist mới

        var pagelist = new PageList<PKKLModel>(listPKKLRXayModel, count, tKThepHoGaModel.PageNumber, tKThepHoGaModel.PageSize);
        MetaData = pagelist.MetaData;
        return listModels;
    }

    private void ThumbtackHeader()
    {
        thumbtack = thumbtack == "flex-header" ? "" : "flex-header";
    }

    public static string getChiMuc(string DK)
    {
        string ChiMuc = "I";
        switch (DK)
        {
            case "I.Móng":
                ChiMuc = "I";
                break;
            case "II.Tường":
                ChiMuc = "II";
                break;
            case "III.Mũ mố":
                ChiMuc = "III";
                break;
            case "IV.Sản xuất + V.Chuyển B.Tông T.Phẩm":
                ChiMuc = "IV";
                break;
            case "V.Gia công, lắp dựng cốt thép":
                ChiMuc = "V";
                break;
        }
        return ChiMuc;
    }
}