@page "/NghiepVuCongTrinh/DMTLThep"
@* @using Microsoft.AspNetCore.Authorization *@

<div class="m-4">
    <CustomModal IsVisible="isModalVisible" OnClose="HandleModalClose" Title="@TitleModal" Size="modal-lg">
        <BodyTemplate>
            <EditForm Model="Input" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="Table">Chủng loại thép</label>
                            <Select2 Id="mySelect1" disabled="@isUsing" Items="@selectCLDM" OnChange="@OnSelectChangeNhomCLAdd"></Select2>
                            <ValidationMessage For="()=>Input.ChungLoaiThep"></ValidationMessage>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="Ten">Đường kính <span class="text-danger">*</span></label>
                            <InputText id="DuongKinh" class="form-control" @bind-Value="Input.DuongKinh" />
                            <ValidationMessage For="() => Input.DuongKinh" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="Ten">Đơn vị <span class="text-danger">*</span></label>
                            <InputText id="DonVi" class="form-control" @bind-Value="Input.DonVi" />
                            <ValidationMessage For="() => Input.DonVi" class="text-danger" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="Ten">Trọng lượng <span class="text-danger">*</span></label>
                            <InputNumber id="TrongLuong" class="form-control" @bind-Value="Input.TrongLuong" />
                            <ValidationMessage For="() => Input.TrongLuong" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <button class="btn btn-primary mr-2" type="submit">Save</button>
                    <button class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>
                </div>
            </EditForm>
        </BodyTemplate>
    </CustomModal>

    <h3 class="mt-2">Danh mục trọng lượng thép</h3>

    <EditForm Model="dmModel" FormName="Search" OnValidSubmit="@Search">
        <DataAnnotationsValidator />
        <div class="row ">
            <!-- Select for Chủng loại thép-->
            <div class="col-sm-4 col-md-3">
                <label for="Table">Chủng loại thép</label>
                <Select2 Id="mySelect2" Items="@selectSearchCLDM" OnChange="@OnSelectChangeSearchCLDM"></Select2>
                <ValidationMessage For="()=>dmModel.ChungLoaiThep"></ValidationMessage>
            </div>
            <!-- Search Button -->
            <div class="form-floating col-sm-4 col-md-3">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
            </div>
            <div class="form-floating col-sm-4 col-md-3">
                <label>&nbsp;</label>
                <button @onclick="ShowModal" class="btn btn-info form-control">Tạo mới</button>
            </div>
        </div>
    </EditForm>

    <div class="row mt-3">
        <table class="table table-hover table-bordered">
            <thead class="bg-info">
                <tr>
                    <th class="text-center" scope="col">
                        <div class="pb-3">STT  </div>
                    </th>
                    <th onclick="@(() => SortTable("ChungLoaiThep_Name"))" class="text-center sortable" scope="col" sortable>
                        <div class="pb-3">Chủng loại thép  <span class="arrow @(GetSortStyle("ChungLoaiThep_Name"))"></span></div>

                    </th>
                    <th onclick="@(() => SortTable("DuongKinh"))" class="text-center sortable" scope="col" sortable>
                        <div class="pb-3">Đường kính  <span class="arrow @(GetSortStyle("DuongKinh"))"></span></div>
                    </th>
                    <th onclick="@(() => SortTable("DonVi"))" class="text-center sortable" scope="col" sortable>
                        <div class="pb-3">Đơn vị  <span class="arrow @(GetSortStyle("DonVi"))"></span></div>
                    </th>
                    <th onclick="@(() => SortTable("TrongLuong"))" class="text-center sortable" scope="col" sortable>
                        <div class="pb-3">Trọng lượng <span class="arrow @(GetSortStyle("TrongLuong"))"></span></div>
                    </th>
                    <th class="text-center" colspan="2">

                    </th>
                </tr>

            </thead>
            @if (listDanhMuc.Any())
            {

                <tbody>
                    @{
                        int stt = 1;
                    }
                    @foreach (var dm in listDanhMuc)
                    {

                        <tr>
                            <td class="text-center">@stt</td>
                            <td class="text-left">@dm.ChungLoaiThep_Name</td>
                            <td class="text-center">@dm.DuongKinh</td>
                            <td class="text-center">@dm.DonVi</td>
                            <td class="text-center">@dm.TrongLuong</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-primary" @onclick="()=>Edit(dm.Id)">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-danger" @onclick="()=>ConfirmDelete(dm.Id,dm.Id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        stt++;
                    }

                </tbody>
            }
            else
            {
                <tbody>
                    <tr>
                        <td colspan="6"> Không có dữ liệu</td>
                    </tr>
                </tbody>
            }
        </table>

    </div>

    @if (listDanhMuc.Any())
    {
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
    }
    <ConfirmModal @ref="confirmModal" OnResponseClick="HandleResponseClick"></ConfirmModal>
</div>

@code {
    private List<DanhMuc1> danhMucs = new List<DanhMuc1>();
    private DMThep Input = new DMThep();

    private bool isModalVisible = false;
    private string TitleModal = "Thêm mới" ;
    bool isEdit = false;

    private List<SelectedItem> selectCLDM = new();
    private List<SelectedItem> selectSearchCLDM = new();
    private void OnSelectChangeSearchCLDM(SelectedItem selectedItem)
    {
        dmModel.ChungLoaiThep = selectedItem.Value;
    }
    private void OnSelectChangeNhomCLAdd(SelectedItem selectedItem)
    {
        Input.ChungLoaiThep = selectedItem.Value;
    }

    [Parameter]
    public ConfirmModal confirmModal { get; set; }

    public List<DMTLThepModel> listDanhMuc { get; set; } = new();
    public List<DMTLThepModel> listModel { get; set; } = new();
    public MetaData MetaData { get; set; }
    public DMTLThepModel dmModel { get; set; }
    private DateTime baseTime;

    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        baseTime = DateTime.Now;
        dmModel = new();
        danhMucs = await DanhMucRepository.GetDMByIdNhomDanhMuc("DMThep");
        foreach (var item in danhMucs)
        {
            // Kiểm tra xem item đã tồn tại trong danh sách hay chưa
            if (!selectCLDM.Any(x => x.Value == item.Id))
            {
                if (!string.IsNullOrEmpty(item.Id))
                {
                    // Nếu chưa tồn tại, thêm item vào danh sách
                    selectCLDM.Add(new SelectedItem
                        {
                            Value = item.Id,
                            Text = item.Ten
                        });
                }
            }
            if (!selectSearchCLDM.Any(x => x.Value == item.Id))
            {
                if (!string.IsNullOrEmpty(item.Id))
                {
                    // Nếu chưa tồn tại, thêm item vào danh sách
                    selectSearchCLDM.Add(new SelectedItem
                        {
                            Value = item.Id,
                            Text = item.Ten
                        });
                }
            }
        }
        // Thêm phần tử mặc định "chọn..."
        selectCLDM.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        selectSearchCLDM.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
        await LoadData();
    }
    public async Task Search()
    {
        dmModel.PageNumber = 1;
        await LoadData();
    }

    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        var danhmucs = await DMTLThepRepository.GetAllByVM(dmModel);
        listModel = danhmucs;
        listDanhMuc = Paging(danhmucs);
        Console.WriteLine(listDanhMuc);
    }


    private async Task HandleValidSubmit()
    {
        try
        {
            string[] ids = { Input.ChungLoaiThep ?? "" };
            var isValidTenPL = await DanhMucRepository.CheckExclusive(ids, baseTime);
            var listExist = await DMTLThepRepository.GetExist(Input);
            Input.DonVi = Input.DonVi??"".ToUpper().Trim();
            if (isValidTenPL)
            {
                if (isEdit)
                {
                    bool isValidDuongKinh = false;
                    if (IsInteger(editDMThep))
                    {
                        if (IsInteger(Input.DuongKinh))
                        {
                            isValidDuongKinh = true;
                        }
                        else
                        {
                            isValidDuongKinh = false;
                        }
                    }
                    else
                    {
                        isValidDuongKinh = true;
                    }
                    if (isValidDuongKinh)
                    {
                        string[] idss = { Input.Id };

                        if (listExist == null || listExist.Count == 0)
                        {
                            bool isValid = await DMTLThepRepository.CheckExclusive(idss, baseTime);
                            if (isValid)
                            {
                                await DMTLThepRepository.Update(Input);
                                isModalVisible = false;
                                Input = new();
                                isEdit = false;
                                ToastService.ShowToast(
                                    "Thông báo",
                                    "Cập nhật thành công.",
                                    cssClass: "toast-success",
                                    iconClass: "fa fa-check-circle",
                                    progressBarClass: "bg-info",
                                    duration: 5000
                                );
                                await LoadData();
                            }
                        }
                        else if (listExist.Count > 0 && listExist[0].Id == Input.Id)
                        {
                            await DMTLThepRepository.Update(Input);
                            isModalVisible = false;
                            Input = new();
                            isEdit = false;
                            ToastService.ShowToast(
                                "Thông báo",
                                "Cập nhật thành công.",
                                cssClass: "toast-success",
                                iconClass: "fa fa-check-circle",
                                progressBarClass: "bg-info",
                                duration: 5000
                            );
                            await LoadData();

                        }
                        else
                        {
                            ToastService.ShowToast(
                            "Thông báo",
                             "Đã tồn tại: Chủng loại thép, Đường kính",
                             cssClass: "toast-danger",
                             iconClass: "fa fa-exclamation-circle",
                             progressBarClass: "bg-info",
                             duration: 5000);
                        }
                    }
                    else
                    {
                        ToastService.ShowToast(
                        "Thông báo",
                         "Không được thay đổi kiểu dữ liệu đường kính từ số sang chữ ",
                         cssClass: "toast-danger",
                         iconClass: "fa fa-exclamation-circle",
                         progressBarClass: "bg-info",
                         duration: 5000);
                    }
                    

                }
                else
                {
                    if (listExist == null || listExist.Count == 0)
                    {

                        // Thêm mới thông tin
                        await DMTLThepRepository.Insert(Input);
                        isModalVisible = false;
                        Input = new();
                        ToastService.ShowToast(
                            "Thông báo",
                            "Thêm thành công.",
                            cssClass: "toast-success",
                            iconClass: "fa fa-check-circle",
                            progressBarClass: "bg-info",
                            duration: 5000
                        );
                        await LoadData();

                    }
                    else
                    {
                        ToastService.ShowToast(
                        "Thông báo",
                         "Đã tồn tại: Chủng loại thép, Đường kính ",
                         cssClass: "toast-danger",
                         iconClass: "fa fa-exclamation-circle",
                         progressBarClass: "bg-info",
                         duration: 5000);
                    }

                }
            }

        }
        catch (Exception ex)
        {
            ToastService.ShowToast("Thông báo", ex.Message, cssClass: "toast-danger", iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
        }
    }

    private void SetSelectedItem(IEnumerable<SelectedItem> items, string value)
    {
        foreach (var item in items)
        {
            item.IsSelected = item.Value == value;
        }
    }

    private string deleteId;

    private async Task ConfirmDelete(string id, string Ten)
    {
        deleteId = id;
        confirmModal.Title = "Xác nhận xóa";
        confirmModal.message = $"Bạn có chắc chắn muốn xóa: {Ten}?";
        confirmModal.openModal();
    }

    private async Task HandleResponseClick(bool confirmed)
    {
        try
        {
            if (confirmed)
            {
                if (!string.IsNullOrEmpty(deleteId))
                {
                    //kiểm tra xem có đang sử dụng
                    Input = await DMTLThepRepository.GetById(deleteId);
                    var result = await DMTLThepRepository.CheckUsingId(Input.ChungLoaiThep, Input.DuongKinh);
                    if (result)
                    {
                        ToastService.ShowToast("Thông báo", "Không thể xóa danh mục đang được sử dụng.", cssClass: "toast-danger", iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
                    }
                    else
                    {
                        // Thực hiện hành động xóa
                        await DMTLThepRepository.DeleteById(deleteId);
                        ToastService.ShowToast("Thông báo", "Xóa danh mục thành công.", cssClass: "toast-success", iconClass: "fa fa-check-circle", progressBarClass: "bg-info", duration: 5000);
                        await LoadData();
                    }

                    deleteId = "";
                }
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowToast("Thông báo", ex.Message, cssClass: "toast-danger", iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
        }

    }
    bool isUsing = false;
    string editDMThep ="" ;
    private async Task Edit(string id)
    {
        try
        {
            TitleModal = "Cập nhật !";
            Input = await DMTLThepRepository.GetById(id);
            editDMThep = Input.DuongKinh ??"";
            isUsing = await DMTLThepRepository.CheckUsingId(Input.ChungLoaiThep, Input.DuongKinh);
            SetSelectedItem(selectCLDM, Input.ChungLoaiThep??"");
            isEdit = true;
            isModalVisible = true;
        }
        catch (Exception ex)
        {
            ToastService.ShowToast("Thông báo", ex.Message, cssClass: "toast-danger", iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
        }
    }

    private void ShowModal()
    {
        isModalVisible = true;
        Input = new();
        isUsing = false;
        SetSelectedItem(selectCLDM,Input.ChungLoaiThep??"");
    }

    private void HandleModalClose(bool isVisible)
    {
        isModalVisible = isVisible;
        isEdit = false;
    }

    private void HandleSave()
    {
        // Logic for saving
        isModalVisible = false;
    }

    private void HandleCancel()
    {
        // Logic for canceling
        isModalVisible = false;
        isEdit = false;
        Input = new();
    }

    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        dmModel.PageNumber = 1;
        Paging(listModel);
    }

    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        dmModel.PageNumber = page;
        Paging(listModel);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {

        dmModel.PageNumber = 1;
        dmModel.pageSize = pageSize;
        Paging(listModel);
    }
    // Xử lý paging
    private List<DMTLThepModel> Paging(List<DMTLThepModel> danhmucs)
    {
        // Đếm số bản ghi thỏa mãn
        var count = danhmucs.Count();

        // Lọc bản ghi theo page hiện tại và page size
        danhmucs = danhmucs.Skip((dmModel.PageNumber - 1) * dmModel.PageSize).Take(dmModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listDanhMuc.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var major in danhmucs)
        {
            listDanhMuc.Add(major);
        }

        // Tạo pagelist mới
        var pagelist = new PageList<DMTLThepModel>(listDanhMuc, count, dmModel.PageNumber, dmModel.PageSize);
        MetaData = pagelist.MetaData;
        return danhmucs;
    }

    public bool IsInteger(string input)
    {
        return int.TryParse(input, out _);
    }
}
