@page "/NghiepVuCongTrinh/PhanLoaiHoGa"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using Microsoft.AspNetCore.Authorization
@inject IDanhMucRepository DanhMucRepository
@inject IPhanLoaiHoGaRepository PhanLoaiHoGaRepository
@inject DucAnhERP.Services.ToastService ToastService

@code{
    private bool isEdit { get; set; } = false;
}
<div class="m-5">

    <CustomModal IsVisible="isModalVisible" OnClose="HandleModalClose" Title="@TitleModal" Size="modal-lg">
        <BodyTemplate>
            <EditForm Model="Input" OnValidSubmit="HandleValidSubmit">
                <div class="row">
                    <div class="col">
                        <h4 class="mt-2">Thông tin chung hố ga</h4>
                        <hr />
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-4 col-lg-4 ">
                                <label for="ThongTinChungHoGa_TenHoGaSauPhanLoai">Tên hố ga sau phân loại <span class="text-danger"></span></label>
                                <InputText  @bind-Value="Input.ThongTinChungHoGa_TenHoGaSauPhanLoai" class="form-control" id="ThongTinChungHoGa_TenHoGaSauPhanLoai" placeholder="Tên hố ga sau phân loại" />
                                <ValidationMessage For="() => Input.ThongTinChungHoGa_TenHoGaSauPhanLoai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4 col-lg-4">
                                <label for="ThongTinChungHoGa_HinhThucHoGa"> Hình thức hố ga <span class="text-danger">*</span></label>
                                <select disabled="@isEdit" id="ThongTinChungHoGa_HinhThucHoGa" class="form-control" @bind="Input.ThongTinChungHoGa_HinhThucHoGa">
                                    <option value="">Hình thức hố ga ...</option>
                                    @foreach (var dm in FindByIdNhomDanhMuc("HG_HTHGa"))
                                    {
                                        <option value="@dm.Id">@dm.Ten</option>
                                    }
                                </select>
                                <ValidationMessage For="() => Input.ThongTinChungHoGa_HinhThucHoGa" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4 col-lg-4">
                                <label for="ThongTinChungHoGa_KetCauMuMo"> Kết cấu mũ mố <span class="text-danger">*</span></label>
                                <select disabled="@isEdit" id="ThongTinChungHoGa_KetCauMuMo" class="form-control" @bind="Input.ThongTinChungHoGa_KetCauMuMo">
                                    <option value="">Kết cấu mũ mố ...</option>
                                    @foreach (var dm in FindByIdNhomDanhMuc("HG_LMMHoGa"))
                                    {
                                        <option value="@dm.Id">@dm.Ten</option>
                                    }
                                </select>
                                <ValidationMessage For="() => Input.ThongTinChungHoGa_KetCauMuMo" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4 col-lg-4">
                                <label for="ThongTinChungHoGa_KetCauTuong"> Kết cấu tường <span class="text-danger">*</span></label>
                                <select disabled="@isEdit" id="ThongTinChungHoGa_KetCauTuong" class="form-control" @bind="Input.ThongTinChungHoGa_KetCauTuong" name="ThongTinChungHoGa_KetCauTuong">
                                    <option value="">Kết cấu tường ...</option>
                                    @foreach (var dm in FindByIdNhomDanhMuc("HG_LTHoGa"))
                                    {
                                        <option value="@dm.Id">@dm.Ten</option>
                                    }
                                </select>
                                <ValidationMessage For="() => Input.ThongTinChungHoGa_KetCauTuong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4 col-lg-4">
                                <label for="ThongTinChungHoGa_HinhThucMongHoGa"> Hình thức móng hố ga <span class="text-danger">*</span></label>
                                <select disabled="@isEdit" id="ThongTinChungHoGa_HinhThucMongHoGa" class="form-control" @bind="Input.ThongTinChungHoGa_HinhThucMongHoGa">
                                    <option value="">Hình thức móng hố ga  ...</option>
                                    @foreach (var dm in FindByIdNhomDanhMuc("HG_HTMHoGa"))
                                    {
                                        <option value="@dm.Id">@dm.Ten</option>
                                    }
                                </select>
                                <ValidationMessage For="() => Input.ThongTinChungHoGa_HinhThucMongHoGa" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4 col-lg-4">
                                <label for="ThongTinChungHoGa_KetCauMong"> Kết cấu móng <span class="text-danger">*</span></label>
                                <select disabled="@isEdit" id="ThongTinChungHoGa_KetCauMong" class="form-control" @bind="Input.ThongTinChungHoGa_KetCauMong">
                                    <option value="">Kết cấu móng ...</option>
                                    @foreach (var dm in FindByIdNhomDanhMuc("HG_LMHoGa"))
                                    {
                                        <option value="@dm.Id">@dm.Ten</option>
                                    }
                                </select>
                                <ValidationMessage For="() => Input.ThongTinChungHoGa_KetCauMong" class="text-danger" />
                            </div>

                            <div class="form-floating col-sm-6 col-md-4 col-lg-4">
                                <label for="ThongTinChungHoGa_ChatMatTrong"> Chát mặt trong <span class="text-danger">*</span></label>
                                <select disabled="@isEdit" id="ThongTinChungHoGa_ChatMatTrong" class="form-control" @bind="Input.ThongTinChungHoGa_ChatMatTrong">
                                    <option value="">Chát mặt trong ...</option>
                                    @foreach (var dm in FindByIdNhomDanhMuc("DM_CoKhong"))
                                    {
                                        <option value="@dm.Id">@dm.Ten</option>
                                    }
                                </select>
                                <ValidationMessage For="() => Input.ThongTinChungHoGa_ChatMatTrong" class="text-danger" />
                            </div>

                            <div class="form-floating col-sm-6 col-md-4 col-lg-4">
                                <label for="ThongTinChungHoGa_ChatMatNgoai"> Chát mặt ngoài <span class="text-danger">*</span></label>
                                <select disabled="@isEdit" id="ThongTinChungHoGa_ChatMatNgoai" class="form-control" @bind="Input.ThongTinChungHoGa_ChatMatNgoai">
                                    <option value="">Chát mặt ngoài ...</option>
                                    @foreach (var dm in FindByIdNhomDanhMuc("DM_CoKhong"))
                                    {
                                        <option value="@dm.Id">@dm.Ten</option>
                                    }
                                </select>
                                <ValidationMessage For="() => Input.ThongTinChungHoGa_ChatMatNgoai" class="text-danger" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mt-2">Thông tin kích thước hình học hố ga</h4>
                        <hr />
                        <h5 class="mt-2">1.Thông tin phủ bì hố ga (m)</h5>
                        <div class="row">
                            <div class="form-floating col-6">
                                <label for="PhuBiHoGa_CDai">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.PhuBiHoGa_CDai" class="form-control" id="PhuBiHoGa_CDai" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.PhuBiHoGa_CDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-6">
                                <label for="PhuBiHoGa_CRong">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.PhuBiHoGa_CRong" class="form-control" id="PhuBiHoGa_CRong" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.PhuBiHoGa_CRong" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">2.Kích thước hình học bê tông lót móng hố ga (m)</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="BeTongLotMong_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.BeTongLotMong_D" class="form-control" id="BeTongLotMong_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.BeTongLotMong_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="BeTongLotMong_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.BeTongLotMong_R" class="form-control" id="BeTongLotMong_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.BeTongLotMong_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="BeTongLotMong_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.BeTongLotMong_C" class="form-control" id="BeTongLotMong_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.BeTongLotMong_C" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">3.Kích thước hình học bê tông móng hố ga (m)</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="BeTongMongHoGa_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.BeTongMongHoGa_D" class="form-control" id="BeTongMongHoGa_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.BeTongMongHoGa_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="BeTongLotMong_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.BeTongMongHoGa_R" class="form-control" id="BeTongMongHoGa_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.BeTongMongHoGa_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="BeTongMongHoGa_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.BeTongMongHoGa_C" class="form-control" id="BeTongMongHoGa_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.BeTongMongHoGa_C" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">4.KTHH đế hố ga(m)</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DeHoGa_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.DeHoGa_D" class="form-control" id="DeHoGa_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.DeHoGa_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DeHoGa_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.DeHoGa_R" class="form-control" id="DeHoGa_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.DeHoGa_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DeHoGa_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.DeHoGa_C" class="form-control" id="DeHoGa_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.DeHoGa_C" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">5.Kích thước hình học tường hố ga (m)</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="TuongHoGa_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.TuongHoGa_D" class="form-control" id="TuongHoGa_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.TuongHoGa_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="TuongHoGa_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.TuongHoGa_R" class="form-control" id="TuongHoGa_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.TuongHoGa_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="TuongHoGa_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.TuongHoGa_C" class="form-control" id="TuongHoGa_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.TuongHoGa_C" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DeHoGa_C">Chiều dài tường (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.TuongHoGa_CdTuong" class="form-control" id="TuongHoGa_CdTuong" placeholder="Chiều dài tường" />
                                <ValidationMessage For="() => Input.TuongHoGa_CdTuong" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">6.KTHH dầm giữa hố ga (m)</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DamGiuaHoGa_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.DamGiuaHoGa_D" class="form-control" id="DamGiuaHoGa_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.DamGiuaHoGa_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DamGiuaHoGa_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.DamGiuaHoGa_R" class="form-control" id="DamGiuaHoGa_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.DamGiuaHoGa_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DamGiuaHoGa_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.DamGiuaHoGa_C" class="form-control" id="DamGiuaHoGa_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.DamGiuaHoGa_C" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DamGiuaHoGa_CdDam">Chiều dài tường (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.DamGiuaHoGa_CdDam" class="form-control" id="DamGiuaHoGa_CdDam" placeholder="Chiều dài dầm" />
                                <ValidationMessage For="() => Input.DamGiuaHoGa_CdDam" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="DamGiuaHoGa_CCaoDamGiuaTuongSoVoiDayHoGa">C.Cao dầm giữa tường so với đáy hố ga (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.DamGiuaHoGa_CCaoDamGiuaTuongSoVoiDayHoGa" class="form-control" id="DamGiuaHoGa_CCaoDamGiuaTuongSoVoiDayHoGa" placeholder="Chiều dài dầm" />
                                <ValidationMessage For="() => Input.DamGiuaHoGa_CCaoDamGiuaTuongSoVoiDayHoGa" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">7.Chát hố ga mặt trong </h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="ChatMatTrong_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.ChatMatTrong_D" class="form-control" id="ChatMatTrong_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.ChatMatTrong_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="ChatMatTrong_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.ChatMatTrong_R" class="form-control" id="ChatMatTrong_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.ChatMatTrong_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="ChatMatTrong_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.ChatMatTrong_C" class="form-control" id="ChatMatTrong_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.ChatMatTrong_C" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">8.Chát hố ga mặt ngoài, cạnh 01 +02 (m)  </h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-6">
                                <label for="ChatMatNgoaiCanh_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.ChatMatNgoaiCanh_D" class="form-control" id="ChatMatNgoaiCanh_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.ChatMatNgoaiCanh_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-6">
                                <label for="ChatMatNgoaiCanh_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.ChatMatNgoaiCanh_R" class="form-control" id="ChatMatNgoaiCanh_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.ChatMatNgoaiCanh_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-4">
                                <label for="ChatMatNgoaiCanh_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.ChatMatNgoaiCanh_C" class="form-control" id="ChatMatNgoaiCanh_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.ChatMatNgoaiCanh_C" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">9.Kích thước hình học tường mũ mố thớt dưới (m) </h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="MuMoThotDuoi_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.MuMoThotDuoi_D" class="form-control" id="MuMoThotDuoi_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.MuMoThotDuoi_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="MuMoThotDuoi_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.MuMoThotDuoi_R" class="form-control" id="MuMoThotDuoi_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.MuMoThotDuoi_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="MuMoThotDuoi_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.MuMoThotDuoi_C" class="form-control" id="MuMoThotDuoi_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.MuMoThotDuoi_C" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="MuMoThotDuoi_CdTuong">Chiều dài tường (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.MuMoThotDuoi_CdTuong" class="form-control" id="MuMoThotDuoi_CdTuong" placeholder="Chiều dài tường" />
                                <ValidationMessage For="() => Input.MuMoThotDuoi_CdTuong" class="text-danger" />
                            </div>
                        </div>
                        <h5 class="mt-2">10.Kích thước hình học tường mũ mố thớt trên (m) (m) </h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="MuMoThotTren_D">Chiểu dài (m) <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.MuMoThotTren_D" class="form-control" id="MuMoThotTren_D" placeholder="Chiểu dài" />
                                <ValidationMessage For="() => Input.MuMoThotTren_D" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="MuMoThotTren_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.MuMoThotTren_R" class="form-control" id="MuMoThotTren_R" placeholder="Chiều rộng" />
                                <ValidationMessage For="() => Input.MuMoThotTren_R" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="MuMoThotTren_C">Chiều cao (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.MuMoThotTren_C" class="form-control" id="MuMoThotTren_C" placeholder="Chiều cao" />
                                <ValidationMessage For="() => Input.MuMoThotTren_C" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3">
                                <label for="MuMoThotTren_CdTuong">Chiều dài tường (m)<span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.MuMoThotTren_CdTuong" class="form-control" id="MuMoThotTren_CdTuong" placeholder="Chiều dài tường" />
                                <ValidationMessage For="() => Input.MuMoThotTren_CdTuong" class="text-danger" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="mt-2">Hạng mục chiếm chỗ hố ga</h4>
                        <hr />
                        <h5>Hình thức đấu nối</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi1_Loai">Loại <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi1_Loai" class="form-control" id="HinhThucDauNoi1_Loai" placeholder="Loại" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi1_Loai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi1_CanhDai">Cạnh dài <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi1_CanhDai" class="form-control" id="HinhThucDauNoi1_CanhDai" placeholder="Cạnh dài" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi1_CanhDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi1_CanhRong">Cạnh rộng <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi1_CanhRong" class="form-control" id="HinhThucDauNoi1_CanhRong" placeholder="Cạnh rộng" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi1_CanhRong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi1_CanhCheo">Cạnh chéo <span class="text-danger">*</span></label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi1_CanhCheo" class="form-control" id="HinhThucDauNoi1_CanhCheo" placeholder="Cạnh chéo" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi1_CanhCheo" class="text-danger" />
                            </div>
                        </div>
                        <h5>Hình thức đấu nối</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi2_Loai">Loại </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi2_Loai" class="form-control" id="HinhThucDauNoi2_Loai" placeholder="Loại" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi2_Loai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi2_CanhDai">Cạnh dài </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi2_CanhDai" class="form-control" id="HinhThucDauNoi2_CanhDai" placeholder="Cạnh dài" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi2_CanhDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi2_CanhRong">Cạnh rộng </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi2_CanhRong" class="form-control" id="HinhThucDauNoi2_CanhRong" placeholder="Cạnh rộng" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi2_CanhRong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi2_CanhCheo">Cạnh chéo </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi2_CanhCheo" class="form-control" id="HinhThucDauNoi2_CanhCheo" placeholder="Cạnh chéo" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi2_CanhCheo" class="text-danger" />
                            </div>
                        </div>
                        <h5>Hình thức đấu nối</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi3_Loai">Loại </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi3_Loai" class="form-control" id="HinhThucDauNoi3_Loai" placeholder="Loại" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi3_Loai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi3_CanhDai">Cạnh dài </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi3_CanhDai" class="form-control" id="HinhThucDauNoi3_CanhDai" placeholder="Cạnh dài" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi3_CanhDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi3_CanhRong">Cạnh rộng </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi3_CanhRong" class="form-control" id="HinhThucDauNoi3_CanhRong" placeholder="Cạnh rộng" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi3_CanhRong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi3_CanhCheo">Cạnh chéo </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi3_CanhCheo" class="form-control" id="HinhThucDauNoi3_CanhCheo" placeholder="Cạnh chéo" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi3_CanhCheo" class="text-danger" />
                            </div>
                        </div>
                        <h5>Hình thức đấu nối</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi4_Loai">Loại </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi4_Loai" class="form-control" id="HinhThucDauNoi4_Loai" placeholder="Loại" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi4_Loai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi4_CanhDai">Cạnh dài </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi4_CanhDai" class="form-control" id="HinhThucDauNoi4_CanhDai" placeholder="Cạnh dài" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi4_CanhDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi4_CanhRong">Cạnh rộng </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi4_CanhRong" class="form-control" id="HinhThucDauNoi4_CanhRong" placeholder="Cạnh rộng" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi4_CanhRong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi4_CanhCheo">Cạnh chéo </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi4_CanhCheo" class="form-control" id="HinhThucDauNoi4_CanhCheo" placeholder="Cạnh chéo" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi4_CanhCheo" class="text-danger" />
                            </div>
                        </div>
                        <h5>Hình thức đấu nối</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi5_Loai">Loại </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi5_Loai" class="form-control" id="HinhThucDauNoi5_Loai" placeholder="Loại" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi5_Loai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi5_CanhDai">Cạnh dài </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi5_CanhDai" class="form-control" id="HinhThucDauNoi5_CanhDai" placeholder="Cạnh dài" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi5_CanhDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi5_CanhRong">Cạnh rộng </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi5_CanhRong" class="form-control" id="HinhThucDauNoi5_CanhRong" placeholder="Cạnh rộng" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi5_CanhRong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi5_CanhCheo">Cạnh chéo </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi5_CanhCheo" class="form-control" id="HinhThucDauNoi5_CanhCheo" placeholder="Cạnh chéo" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi5_CanhCheo" class="text-danger" />
                            </div>
                        </div>

                        <h5>Hình thức đấu nối</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi6_Loai">Loại </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi6_Loai" class="form-control" id="HinhThucDauNoi6_Loai" placeholder="Loại" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi6_Loai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi6_CanhDai">Cạnh dài </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi6_CanhDai" class="form-control" id="HinhThucDauNoi6_CanhDai" placeholder="Cạnh dài" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi6_CanhDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi6_CanhRong">Cạnh rộng </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi6_CanhRong" class="form-control" id="HinhThucDauNoi6_CanhRong" placeholder="Cạnh rộng" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi6_CanhRong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi6_CanhCheo">Cạnh chéo </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi6_CanhCheo" class="form-control" id="HinhThucDauNoi6_CanhCheo" placeholder="Cạnh chéo" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi6_CanhCheo" class="text-danger" />
                            </div>
                        </div>

                        <h5>Hình thức đấu nối</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi7_Loai">Loại </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi7_Loai" class="form-control" id="HinhThucDauNoi7_Loai" placeholder="Loại" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi7_Loai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi7_CanhDai">Cạnh dài </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi7_CanhDai" class="form-control" id="HinhThucDauNoi7_CanhDai" placeholder="Cạnh dài" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi7_CanhDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi7_CanhRong">Cạnh rộng </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi7_CanhRong" class="form-control" id="HinhThucDauNoi7_CanhRong" placeholder="Cạnh rộng" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi7_CanhRong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi7_CanhCheo">Cạnh chéo </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi7_CanhCheo" class="form-control" id="HinhThucDauNoi7_CanhCheo" placeholder="Cạnh chéo" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi7_CanhCheo" class="text-danger" />
                            </div>
                        </div>

                        <h5>Hình thức đấu nối</h5>
                        <div class="row">
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi8_Loai">Loại </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi8_Loai" class="form-control" id="HinhThucDauNoi8_Loai" placeholder="Loại" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi8_Loai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi8_CanhDai">Cạnh dài </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi8_CanhDai" class="form-control" id="HinhThucDauNoi8_CanhDai" placeholder="Cạnh dài" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi8_CanhDai" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi8_CanhRong">Cạnh rộng </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi8_CanhRong" class="form-control" id="HinhThucDauNoi8_CanhRong" placeholder="Cạnh rộng" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi8_CanhRong" class="text-danger" />
                            </div>
                            <div class="form-floating col-sm-6 col-md-3 col-lg-3">
                                <label for="HinhThucDauNoi8_CanhCheo">Cạnh chéo </label>
                                <InputNumber disabled="@isEdit" @bind-Value="Input.HinhThucDauNoi8_CanhCheo" class="form-control" id="HinhThucDauNoi8_CanhCheo" placeholder="Cạnh chéo" />
                                <ValidationMessage For="() => Input.HinhThucDauNoi8_CanhCheo" class="text-danger" />
                            </div>
                        </div>
                    </div>
                </div>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row mt-5 justify-content-end">
                    <button class="btn btn-primary mr-2" type="submit">Save</button>
                    <button class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>
                </div>
            </EditForm>
        </BodyTemplate>
    </CustomModal>

    <button class="btn btn-primary" @onclick="ShowModal">Thêm phân loại hố ga</button>

    <h3 class="mt-2">Danh sách phân loại hố ga</h3>
    @if (!listPLHGModel.Any())
    {
        <div class="pt-3 pl-4">
            <div class="callout callout-warning">
                <h5>Không có dữ liệu tương ứng!</h5>
            </div>
        </div>
    }
    <div class="row mt-3 our-table">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="nowrap">
                    <th class="text-center" rowspan="3"></th>
                    <th class="text-center" rowspan="3">STT</th>
                    <th class="text-center" colspan="8" rowspan="2">Thông tin chung hố ga</th>
                    <th class="text-center" colspan="34">Thông tin kích thước hình học hố ga</th>
                    <th class="text-center" colspan="32">Hạng mục chiếm chỗ hố ga</th>
                </tr>
                <tr>
                    <th class="text-center" colspan="2">Thông tin phủ bì hố ga (m)</th>
                    <th class="text-center" colspan="3">Kích thước hình học bê tông lót móng hố ga (m)</th>
                    <th class="text-center" colspan="3">Kích thước hình học bê tông móng hố ga (m)</th>
                    <th class="text-center" colspan="3">KTHH đế hố ga</th>
                    <th class="text-center" colspan="4">Kích thước hình học tường hố ga (m)</th>
                    <th class="text-center" colspan="5">KTHH dầm giữa hố ga</th>
                    <th class="text-center" colspan="3">Chất hố ga mặt trong</th>
                    <th class="text-center" colspan="3">Chất hố ga mặt ngoài, cạnh 01 +02 (m)</th>
                    <th class="text-center" colspan="4">Kích thước hình học tường mũ mố thép dưới (m)</th>
                    <th class="text-center" colspan="4">Kích thước hình học tường mũ mố thép trên (m)</th>

                    <th class="text-center" colspan="4">Hình thức đấu nối</th>
                    <th class="text-center" colspan="4">Hình thức đấu nối</th>
                    <th class="text-center" colspan="4">Hình thức đấu nối</th>
                    <th class="text-center" colspan="4">Hình thức đấu nối</th>
                    <th class="text-center" colspan="4">Hình thức đấu nối</th>
                    <th class="text-center" colspan="4">Hình thức đấu nối</th>
                    <th class="text-center" colspan="4">Hình thức đấu nối</th>
                    <th class="text-center" colspan="4">Hình thức đấu nối</th>
                </tr>
                <tr>
                    <th>Tên hố ga sau phân loại</th>
                    <th>Hình thức hố ga</th>
                    <th>Kết cấu mũ mố</th>
                    <th>Kết cấu tường</th>
                    <th>Hình thức móng hố ga</th>
                    <th>Kết cấu móng</th>
                    <th>Chất mặt trong</th>
                    <th>Chất mặt ngoài</th>

                    @* Thông tin kích thước hình học hố ga *@
                    <th>C.D dài (m)</th>
                    <th>C.rộng (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th class="text-danger">C (m)</th>
                    <th>CD tường (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>
                    <th>CD dầm (m)</th>
                    <th>C.Cao dầm giữa tường so với đáy hố ga (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th class="text-danger">C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th class="text-danger">C (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>
                    <th>CD tường (m)</th>

                    <th>D (m)</th>
                    <th>R (m)</th>
                    <th>C (m)</th>
                    <th>CD tường (m)</th>

                    @* Hạng mục chiếm chỗ hố ga *@
                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>

                    <th>Loại</th>
                    <th>Cạnh dài</th>
                    <th>Cạnh rộng</th>
                    <th>Cạnh chéo</th>
                </tr>
            </thead>
            @if (listPLHGModel.Any())
            {

                <tbody>
                    @{
                        int stt = 1;
                    }
                    @foreach (var item in listPLHGModel)
                    {

                        <tr>
                            <td class="d-flex nowrap">
                               <div class="d-inline-block">
                                    <button class="btn btn-primary m-1" title="Chỉnh sửa" @onclick="()=>HandleEdit(item.Id)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger m-1" title="Xóa" @onclick="()=>ConfirmDelete(item.Id ,item.ThongTinChungHoGa_TenHoGaSauPhanLoai)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                               </div>
                            </td>
                            <td class="text-center">@stt</td>
                            <td class="text-center">@item.ThongTinChungHoGa_TenHoGaSauPhanLoai </td>
                            <td class="text-center">@GetTenDanhMucById(item.ThongTinChungHoGa_HinhThucHoGa) </td>
                            <td class="text-center">@GetTenDanhMucById(item.ThongTinChungHoGa_KetCauMuMo)  </td>
                            <td class="text-center">@GetTenDanhMucById(item.ThongTinChungHoGa_KetCauTuong) </td>
                            <td class="text-center">@GetTenDanhMucById(item.ThongTinChungHoGa_HinhThucMongHoGa) </td>
                            <td class="text-center">@GetTenDanhMucById(item.ThongTinChungHoGa_KetCauMong) </td>
                            <td class="text-center">@GetTenDanhMucById(item.ThongTinChungHoGa_ChatMatTrong) </td>
                            <td class="text-center">@GetTenDanhMucById(item.ThongTinChungHoGa_ChatMatNgoai)  </td>

                            <td class="text-center">@item.PhuBiHoGa_CDai  </td>
                            <td class="text-center">@item.PhuBiHoGa_CRong</td>
                            <td class="text-center">@item.BeTongLotMong_D</td>
                            <td class="text-center">@item.BeTongLotMong_R</td>
                            <td class="text-center">@item.BeTongLotMong_C</td>
                            <td class="text-center">@item.BeTongMongHoGa_D  </td>
                            <td class="text-center">@item.BeTongMongHoGa_R  </td>
                            <td class="text-center">@item.BeTongMongHoGa_C</td>
                            <td class="text-center">@item.DeHoGa_D</td>
                            <td class="text-center">@item.DeHoGa_R</td>
                            <td class="text-center">@item.DeHoGa_C</td>
                            <td class="text-center">@item.TuongHoGa_D</td>
                            <td class="text-center">@item.TuongHoGa_R  </td>
                            <td class="text-center">@item.TuongHoGa_C</td>
                            <td class="text-center">@item.TuongHoGa_CdTuong</td>
                            <td class="text-center">@item.DamGiuaHoGa_D  </td>
                            <td class="text-center">@item.DamGiuaHoGa_R</td>
                            <td class="text-center">@item.DamGiuaHoGa_C</td>
                            <td class="text-center">@item.DamGiuaHoGa_CdDam</td>
                            <td class="text-center">@item.DamGiuaHoGa_CCaoDamGiuaTuongSoVoiDayHoGa</td>
                            <td class="text-center">@item.ChatMatTrong_D  </td>
                            <td class="text-center">@item.ChatMatTrong_R  </td>
                            <td class="text-center">@item.ChatMatTrong_C</td>
                            <td class="text-center">@item.ChatMatNgoaiCanh_D</td>
                            <td class="text-center">@item.ChatMatNgoaiCanh_R  </td>
                            <td class="text-center">@item.ChatMatNgoaiCanh_C</td>
                            <td class="text-center">@item.MuMoThotDuoi_D</td>
                            <td class="text-center">@item.MuMoThotDuoi_R</td>
                            <td class="text-center">@item.MuMoThotDuoi_C</td>
                            <td class="text-center">@item.MuMoThotDuoi_CdTuong</td>
                            <td class="text-center">@item.MuMoThotTren_D  </td>
                            <td class="text-center">@item.MuMoThotTren_R</td>
                            <td class="text-center">@item.MuMoThotTren_C</td>
                            <td class="text-center">@item.MuMoThotTren_CdTuong</td>
                            <td class="text-center">@item.HinhThucDauNoi1_Loai</td>

                            <td class="text-center">@item.HinhThucDauNoi1_CanhDai</td>
                            <td class="text-center">@item.HinhThucDauNoi1_CanhRong</td>
                            <td class="text-center">@item.HinhThucDauNoi1_CanhCheo</td>
                            <td class="text-center">@item.HinhThucDauNoi2_Loai</td>
                            <td class="text-center">@item.HinhThucDauNoi2_CanhDai</td>
                            <td class="text-center">@item.HinhThucDauNoi2_CanhRong</td>
                            <td class="text-center">@item.HinhThucDauNoi2_CanhCheo  </td>
                            <td class="text-center">@item.HinhThucDauNoi3_Loai</td>
                            <td class="text-center">@item.HinhThucDauNoi3_CanhDai</td>
                            <td class="text-center">@item.HinhThucDauNoi3_CanhRong  </td>
                            <td class="text-center">@item.HinhThucDauNoi3_CanhCheo</td>
                            <td class="text-center">@item.HinhThucDauNoi4_Loai</td>
                            <td class="text-center">@item.HinhThucDauNoi4_CanhDai</td>
                            <td class="text-center">@item.HinhThucDauNoi4_CanhRong  </td>
                            <td class="text-center">@item.HinhThucDauNoi4_CanhCheo</td>
                            <td class="text-center">@item.HinhThucDauNoi5_Loai</td>
                            <td class="text-center">@item.HinhThucDauNoi5_CanhDai</td>
                            <td class="text-center">@item.HinhThucDauNoi5_CanhRong</td>
                            <td class="text-center">@item.HinhThucDauNoi5_CanhCheo</td>
                            <td class="text-center">@item.HinhThucDauNoi6_Loai</td>
                            <td class="text-center">@item.HinhThucDauNoi6_CanhDai</td>
                            <td class="text-center">@item.HinhThucDauNoi6_CanhRong</td>
                            <td class="text-center">@item.HinhThucDauNoi6_CanhCheo  </td>
                            <td class="text-center">@item.HinhThucDauNoi7_Loai  </td>
                            <td class="text-center">@item.HinhThucDauNoi7_CanhDai</td>
                            <td class="text-center">@item.HinhThucDauNoi7_CanhRong </td>
                            <td class="text-center">@item.HinhThucDauNoi7_CanhCheo</td>
                            <td class="text-center">@item.HinhThucDauNoi8_Loai</td>
                            <td class="text-center">@item.HinhThucDauNoi8_CanhDai</td>
                            <td class="text-center">@item.HinhThucDauNoi8_CanhRong</td>
                            <td class="text-center">@item.HinhThucDauNoi8_CanhCheo </td>
                        </tr>
                        stt++;
                    }

                </tbody>
            }

        </table>

    </div>

    @if (listPLHGModel.Any())
    {
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
    }
    <ConfirmModal @ref="confirmModal" OnResponseClick="HandleResponseClick"></ConfirmModal>
</div>

@code {
    private List<PhanLoaiHoGa> listPhanLoaiHoGa = new List<PhanLoaiHoGa>();
    private PhanLoaiHoGa Input = new();
    public List<DanhMuc> listDanhMuc = new();

    private bool isModalVisible = false;
    private string TitleModal = "Thêm phân loại hố ga";
   

    private void ShowModal()
    {
        isModalVisible = true;
        Input = new();
    }

    private void HandleModalClose(bool isVisible)
    {
        isModalVisible = isVisible;
        Input = new();
        isEdit = false;
    }

    private void HandleSave()
    {
        // Logic for saving
        isModalVisible = false;

    }

    private void HandleCancel()
    {
        // Logic for canceling
        isModalVisible = false;
        Input = new();
        isEdit = false;
    }

    [Parameter]
    public ConfirmModal confirmModal { get; set; }

    public List<PhanLoaiHoGaModel> listPLHGModel
    {
        get;
        set;
    } = new();

    public List<PhanLoaiHoGaModel> listModel
    {
        get;
        set;
    } = new();

    public MetaData MetaData
    {
        get;
        set;
    }

    public PhanLoaiHoGaModel dmModel
    {
        get;
        set;
    }



    public List<DanhMuc> FindByIdNhomDanhMuc(string idNhomDanhMuc)
    {
        return listDanhMuc.Where(dm => dm.IdNhomDanhMuc == idNhomDanhMuc).ToList();
    }

    public string GetTenDanhMucById(string id)
    {
        var danhMuc = listDanhMuc.FirstOrDefault(dm => dm.Id == id);
        return danhMuc != null ? danhMuc.Ten : null;
    }
    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }


    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        dmModel = new();
        listDanhMuc = await DanhMucRepository.GetAll();
        var plhg = await PhanLoaiHoGaRepository.GetAllByVM();
        listModel = plhg;
        listPLHGModel = Paging(plhg);

    }

    private async Task HandleValidSubmit()
    {
        if (isEdit)
        {
            // Thêm mới thông tin
            await PhanLoaiHoGaRepository.Update(Input);
            isModalVisible = false;
            Input = new PhanLoaiHoGa();
            isEdit = false;
            ToastService.ShowToast(
                "Thông báo",
                "Cập nhật thành công.",
                cssClass: "toast-success",
                iconClass: "fa fa-bell",
                progressBarClass: "bg-info",
                duration: 5000
            );
            await LoadData();
        }
        else
        {
            // Thêm mới thông tin
            await PhanLoaiHoGaRepository.Insert(Input);
            isModalVisible = false;
            Input = new PhanLoaiHoGa();
            ToastService.ShowToast(
                "Thông báo",
                "Thêm thành công.",
                cssClass: "toast-success",
                iconClass: "fa fa-bell",
                progressBarClass: "bg-info",
                duration: 5000
            );
            await LoadData();
        }
        
    }

    private string deleteId;

    private async Task ConfirmDelete(string id, string Ten)
    {
        deleteId = id;
        confirmModal.Title = "Xác nhận xóa";
        confirmModal.message = $"Bạn có chắc chắn muốn xóa: {Ten}?";
        confirmModal.openModal();

    }

    private async Task HandleResponseClick(bool confirmed)
    {
        if (confirmed)
        {
            if (!string.IsNullOrEmpty(deleteId))
            {

                var result = await PhanLoaiHoGaRepository.CheckUsingId(deleteId);
                if (result)
                {
                    ToastService.ShowToast("Thông báo", "Không thể xóa danh mục đang được sử dụng.", cssClass: "toast-danger", iconClass: "fa fa-bell", progressBarClass: "bg-info", duration: 5000);
                }
                else
                {
                    // Thực hiện hành động xóa
                    await PhanLoaiHoGaRepository.DeleteById(deleteId);
                    ToastService.ShowToast("Thông báo", "Xóa danh mục thành công.", cssClass: "toast-success", iconClass: "fa fa-bell", progressBarClass: "bg-info", duration: 5000);
                    await LoadData();
                }

                deleteId = "";
            }
        }
    }


    private async Task HandleEdit(string id)
    {
        TitleModal = "Cập nhật phân loại hố ga !";
        Input = await PhanLoaiHoGaRepository.GetById(id);
        isEdit = true;
        isModalVisible = true;
    }



    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        dmModel.PageNumber = 1;
        Paging(listModel);
    }

    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        dmModel.PageNumber = page;
        Paging(listModel);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {

        dmModel.PageNumber = 1;
        dmModel.pageSize = pageSize;
        Paging(listModel);
    }
    // Xử lý paging
    private List<PhanLoaiHoGaModel> Paging(List<PhanLoaiHoGaModel> plhgs)
    {
        // Đếm số bản ghi thỏa mãn
        var count = plhgs.Count();

        // Lọc bản ghi theo page hiện tại và page size
        plhgs = plhgs.Skip((dmModel.PageNumber - 1) * dmModel.PageSize).Take(dmModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listPLHGModel.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var item in plhgs)
        {
            listPLHGModel.Add(item);
        }

        // Tạo pagelist mới
        var pagelist = new PageList<PhanLoaiHoGaModel>(listPLHGModel, count, dmModel.PageNumber, dmModel.PageSize);
        MetaData = pagelist.MetaData;
        return plhgs;
    }

}
