@page "/NghiepVuCongTrinh/PhanLoaiTDHG"
@using DucAnhERP.ViewModel
@using DucAnhERP.Models
@using DucAnhERP.Components.Pages.Common
@using System.Linq
@using DucAnhERP.SeedWork
@using Microsoft.AspNetCore.Authorization
@inject IDanhMucRepository DanhMucRepository
@inject IPhanLoaiTDHoGaRepository PhanLoaiTDHoGaRepository
@inject DucAnhERP.Services.ToastService ToastService

@code {
    private bool isEdit { get; set; } = false;
}
<div class="m-5">

    <CustomModal IsVisible="isModalVisible" OnClose="HandleModalClose" Title="@TitleModal" Size="modal-lg">
        <BodyTemplate>
            <EditForm Model="Input" OnValidSubmit="HandleValidSubmit">
                <div class="row">
                    <div class="form-floating col-sm-6 col-md-3">
                    <label for="ThongTinTamDanHoGa2_PhanLoaiDayHoGa">Tên loại đậy hố ga <span class="text-danger">*</span></label>
                        <InputText @bind-Value="Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa" class="form-control" id="ThongTinTamDanHoGa2_PhanLoaiDayHoGa" placeholder="Tên loại đậy hố ga" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa" class="text-danger" />
                 </div>
                    <div class="form-floating col-6">
                        <label for="ThongTinTamDanHoGa2_HinhThucDayHoGa"> Hình thức đậy hố ga <span class="text-danger"></span></label>
                        <select disabled="@isEdit" id="gender" class="form-control" @bind="Input.ThongTinTamDanHoGa2_HinhThucDayHoGa">
                            <option value="">Hình thức đậy hố ga ...</option>
                            @foreach (var dm in FindByIdNhomDanhMuc("HG_HTDHoGa"))
                            {
                                <option value="@dm.Id">@dm.Ten</option>
                            }
                        </select>
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_HinhThucDayHoGa" class="text-danger" />
                    </div>
                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_DuongKinh">Đường kính (m)<span class="text-danger">*</span></label>
                        <InputNumber disabled="@isEdit" @bind-Value="Input.ThongTinTamDanHoGa2_DuongKinh" class="form-control" id="ThongTinTamDanHoGa2_PhanLoaiDayHoGa" placeholder="Đường kính" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_DuongKinh" class="text-danger" />
                    </div>

                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_ChieuDay">Chiều dầy (m)<span class="text-danger">*</span></label>
                        <InputNumber disabled="@isEdit" @bind-Value="Input.ThongTinTamDanHoGa2_ChieuDay" class="form-control" id="ThongTinTamDanHoGa2_ChieuDay" placeholder="Chiều dầy" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_ChieuDay" class="text-danger" />
                    </div>

                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_D">Chiều dài (m)<span class="text-danger">*</span></label>
                        <InputNumber disabled="@isEdit" @bind-Value="Input.ThongTinTamDanHoGa2_D" class="form-control" id="ThongTinTamDanHoGa2_D" placeholder="Chiều dài" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_D" class="text-danger" />
                    </div>
                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                        <InputNumber disabled="@isEdit"  @bind-Value="Input.ThongTinTamDanHoGa2_R" class="form-control" id="ThongTinTamDanHoGa2_R" placeholder="Chiều rộng" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_R" class="text-danger" />
                    </div>
                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_C">Chiều cao (m)<span class="text-danger">*</span></label>
                        <InputNumber disabled="@isEdit" @bind-Value="Input.ThongTinTamDanHoGa2_C" class="form-control" id="ThongTinTamDanHoGa2_C" placeholder="Chiều cao" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_C" class="text-danger" />
                    </div>
                </div>


                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row mt-5 justify-content-end">
                    <button class="btn btn-primary mr-2" type="submit">Save</button>
                    <button class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>
                </div>
            </EditForm>
        </BodyTemplate>
    </CustomModal>

    <button class="btn btn-primary" @onclick="ShowModal">Thêm phân loại tấm đan hố ga</button>

    <h3 class="mt-2">Danh sách phân loại tấm đan hố ga </h3>
    @if (!listPLTDHoGaModel.Any())
    {
        <div class="pt-3 pl-4">
            <div class="callout callout-warning">
                <h5>Không có dữ liệu tương ứng!</h5>
            </div>
        </div>
    }
    <div class="row mt-3 our-table">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th> </th>
                    <th> STT</th>
                    <th> Phân loại đậy hố ga</th>
                    <th> Hình thức đậy hố ga</th>
                    <th> Đường kính (m) </th>
                    <th> Chiều dầy (m)</th>
                    <th> D (m) </th>
                    <th> R (m) </th>
                    <th> C (m) </th>
                </tr>
            </thead>
            @if (listPLTDHoGaModel.Any())
            {

                <tbody>
                    @{
                        int stt = 1;
                    }
                    @foreach (var item in listPLTDHoGaModel)
                    {

                        <tr>
                            <td class="d-flex nowrap">
                                <div class="d-inline-block">
                                    <button class="btn btn-primary m-1" title="Chỉnh sửa" @onclick="()=>HandleEdit(item.Id)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger m-1" title="Xóa" @onclick="()=>ConfirmDelete(item.Id ,item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                            <td>@stt</td>
                            <td>@item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa</td>
                            <td>@GetTenDanhMucById(item.ThongTinTamDanHoGa2_HinhThucDayHoGa ?? "") </td>
                            <td>@item.ThongTinTamDanHoGa2_DuongKinh </td>
                            <td>@item.ThongTinTamDanHoGa2_ChieuDay </td>
                            <td>@item.ThongTinTamDanHoGa2_D</td>
                            <td>@item.ThongTinTamDanHoGa2_R</td>
                            <td>@item.ThongTinTamDanHoGa2_C</td>
                        </tr>
                        stt++;
                    }

                </tbody>
            }

        </table>

    </div>

    @if (listPLTDHoGaModel.Any())
    {
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
    }
    <ConfirmModal @ref="confirmModal" OnResponseClick="HandleResponseClick"></ConfirmModal>
</div>

@code {
    private List<PhanLoaiTDHoGa> listPhanLoaiTDHoGa = new List<PhanLoaiTDHoGa>();
    private PhanLoaiTDHoGa Input = new();
    public List<DanhMuc> listDanhMuc = new();

    private bool isModalVisible = false;
    private string TitleModal = "Thêm mới loại tấm đan hố ga";


    private void ShowModal()
    {
        isModalVisible = true;
        Input = new();
    }

    private void HandleModalClose(bool isVisible)
    {
        isModalVisible = isVisible;
        Input = new();
        isEdit = false;
    }

    private void HandleSave()
    {
        // Logic for saving
        isModalVisible = false;

    }

    private void HandleCancel()
    {
        // Logic for canceling
        isModalVisible = false;
        Input = new();
        isEdit = false;
    }

    [Parameter]
    public ConfirmModal confirmModal { get; set; }

    public List<PhanLoaiTDHoGaModel> listPLTDHoGaModel
    {
        get;
        set;
    } = new();

    public List<PhanLoaiTDHoGaModel> listModel
    {
        get;
        set;
    } = new();

    public MetaData MetaData
    {
        get;
        set;
    }

    public PhanLoaiTDHoGaModel dmModel
    {
        get;
        set;
    }



    public List<DanhMuc> FindByIdNhomDanhMuc(string idNhomDanhMuc)
    {
        return listDanhMuc.Where(dm => dm.IdNhomDanhMuc == idNhomDanhMuc).ToList();
    }

    public string GetTenDanhMucById(string id)
    {
        var danhMuc = listDanhMuc.FirstOrDefault(dm => dm.Id == id);
        return danhMuc != null ? danhMuc.Ten : null;
    }
    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }


    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        dmModel = new();
        listDanhMuc = await DanhMucRepository.GetAll();
        var plhg = await PhanLoaiTDHoGaRepository.GetAllByVM();
        listModel = plhg;
        listPLTDHoGaModel = Paging(plhg);

    }

    private async Task HandleValidSubmit()
    {
        if (isEdit)
        {
            // Thêm mới thông tin
            await PhanLoaiTDHoGaRepository.Update(Input);
            isModalVisible = false;
            Input = new PhanLoaiTDHoGa();
            isEdit = false;
            ToastService.ShowToast(
                "Thông báo",
                "Cập nhật thành công.",
                cssClass: "toast-success",
                iconClass: "fa fa-bell",
                progressBarClass: "bg-info",
                duration: 5000
            );
            await LoadData();
        }
        else
        {
            // Thêm mới thông tin
            await PhanLoaiTDHoGaRepository.Insert(Input);
            isModalVisible = false;
            Input = new PhanLoaiTDHoGa();
            ToastService.ShowToast(
                "Thông báo",
                "Thêm thành công.",
                cssClass: "toast-success",
                iconClass: "fa fa-bell",
                progressBarClass: "bg-info",
                duration: 5000
            );
            await LoadData();
        }

    }

    private string deleteId;

    private async Task ConfirmDelete(string id, string Ten)
    {
        deleteId = id;
        confirmModal.Title = "Xác nhận xóa";
        confirmModal.message = $"Bạn có chắc chắn muốn xóa: {Ten}?";
        confirmModal.openModal();

    }

    private async Task HandleResponseClick(bool confirmed)
    {
        if (confirmed)
        {
            if (!string.IsNullOrEmpty(deleteId))
            {

                var result = await PhanLoaiTDHoGaRepository.CheckUsingId(deleteId);
                if (result)
                {
                    ToastService.ShowToast("Thông báo", "Không thể xóa danh mục đang được sử dụng.", cssClass: "toast-danger", iconClass: "fa fa-bell", progressBarClass: "bg-info", duration: 5000);
                }
                else
                {
                    // Thực hiện hành động xóa
                    await PhanLoaiTDHoGaRepository.DeleteById(deleteId);
                    ToastService.ShowToast("Thông báo", "Xóa danh mục thành công.", cssClass: "toast-success", iconClass: "fa fa-bell", progressBarClass: "bg-info", duration: 5000);
                    await LoadData();
                }

                deleteId = "";
            }
        }
    }


    private async Task HandleEdit(string id)
    {
        TitleModal = "Cập nhật loại tấm đan hố ga !";
        Input = await PhanLoaiTDHoGaRepository.GetById(id);
        isEdit = true;
        isModalVisible = true;
    }



    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        dmModel.PageNumber = 1;
        Paging(listModel);
    }

    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        dmModel.PageNumber = page;
        Paging(listModel);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {

        dmModel.PageNumber = 1;
        dmModel.pageSize = pageSize;
        Paging(listModel);
    }
    // Xử lý paging
    private List<PhanLoaiTDHoGaModel> Paging(List<PhanLoaiTDHoGaModel> plhgs)
    {
        // Đếm số bản ghi thỏa mãn
        var count = plhgs.Count();

        // Lọc bản ghi theo page hiện tại và page size
        plhgs = plhgs.Skip((dmModel.PageNumber - 1) * dmModel.PageSize).Take(dmModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listPLTDHoGaModel.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var item in plhgs)
        {
            listPLTDHoGaModel.Add(item);
        }

        // Tạo pagelist mới
        var pagelist = new PageList<PhanLoaiTDHoGaModel>(listPLTDHoGaModel, count, dmModel.PageNumber, dmModel.PageSize);
        MetaData = pagelist.MetaData;
        return plhgs;
    }

}
