@page "/NghiepVuCongTrinh/PhanLoaiTDHG"

<div class="m-4">
    <CustomModal IsVisible="isModalVisible" OnClose="HandleModalClose" Title="@TitleModal" Size="modal-lg">
        <BodyTemplate>
            <EditForm Model="Input" id="editFormId" OnInvalidSubmit="HandleInValidSubmit" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="row">
                    <div class="form-floating col-sm-6 col-md-3">
                    <label for="ThongTinTamDanHoGa2_PhanLoaiDayHoGa">Tên loại đậy hố ga <span class="text-danger">*</span></label>
                        <InputText @bind-Value="Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa" class="form-control" id="ThongTinTamDanHoGa2_PhanLoaiDayHoGa" placeholder="Tên loại đậy hố ga" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa" class="text-danger" />
                 </div>
                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_HinhThucDayHoGa"> Hình thức đậy hố ga <span class="text-danger"></span></label>
                        <select  id="gender" class="form-control" @bind="Input.ThongTinTamDanHoGa2_HinhThucDayHoGa">
                            <option value="">Hình thức đậy hố ga ...</option>
                            @foreach (var dm in FindByIdNhomDanhMuc("HG_HTDHoGa"))
                            {
                                <option value="@dm.Id">@dm.Ten</option>
                            }
                        </select>
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_HinhThucDayHoGa" class="text-danger" />
                    </div>
                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_DuongKinh">Đường kính (m)<span class="text-danger">*</span></label>
                        <InputNumber  @bind-Value="Input.ThongTinTamDanHoGa2_DuongKinh" class="form-control" id="ThongTinTamDanHoGa2_PhanLoaiDayHoGa" placeholder="Đường kính" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_DuongKinh" class="text-danger" />
                    </div>

                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_ChieuDay">Chiều dầy (m)<span class="text-danger">*</span></label>
                        <InputNumber  @bind-Value="Input.ThongTinTamDanHoGa2_ChieuDay" class="form-control" id="ThongTinTamDanHoGa2_ChieuDay" placeholder="Chiều dầy" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_ChieuDay" class="text-danger" />
                    </div>

                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_D">Chiều dài (m)<span class="text-danger">*</span></label>
                        <InputNumber  @bind-Value="Input.ThongTinTamDanHoGa2_D" class="form-control" id="ThongTinTamDanHoGa2_D" placeholder="Chiều dài" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_D" class="text-danger" />
                    </div>
                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_R">Chiều rộng (m)<span class="text-danger">*</span></label>
                        <InputNumber   @bind-Value="Input.ThongTinTamDanHoGa2_R" class="form-control" id="ThongTinTamDanHoGa2_R" placeholder="Chiều rộng" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_R" class="text-danger" />
                    </div>
                    <div class="form-floating col-sm-6 col-md-3">
                        <label for="ThongTinTamDanHoGa2_C">Chiều cao (m)<span class="text-danger">*</span></label>
                        <InputNumber  @bind-Value="Input.ThongTinTamDanHoGa2_C" class="form-control" id="ThongTinTamDanHoGa2_C" placeholder="Chiều cao" />
                        <ValidationMessage For="() => Input.ThongTinTamDanHoGa2_C" class="text-danger" />
                    </div>
                </div>
            </EditForm>
        </BodyTemplate>
        <FooterTemplate>
            <div class="d-flex justify-content-end pr-5 py-3 modal-footer-with-border">
                <button class="btn btn-primary mr-2" type="submit" form="editFormId">Save</button>
                <button class="btn btn-secondary" @onclick="HandleCancel">Cancel</button>
            </div>
        </FooterTemplate>
    </CustomModal>

    <EditForm Model="InputMD" FormName="Search" OnValidSubmit="@Search">
        <DataAnnotationsValidator />
        <div class="row ">
            <!-- Select for nhóm danh mục-->
            
            <div class="col-sm-4 col-md-2 mb-2">
                <label for="Table">Hình thức đậy hố ga</label>
                <Select2 Id="mySelect1" Items="@selectHTDHG" OnChange="@OnSelectChangeHTDHG"></Select2>
                <ValidationMessage For="()=>InputMD.ThongTinTamDanHoGa2_HinhThucDayHoGa"></ValidationMessage>
            </div>
    
           
            <!-- Search Button -->
            <div class="col-sm-4 col-md-1 mb-1">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary w-100">Tìm kiếm</button>
            </div>
            <div class="col-sm-4 col-md-1 mb-1">
                <label>&nbsp;</label>
                <button type="button" @onclick="ShowModal" class="btn btn-info w-100">Tạo mới</button>
            </div>
        </div>
    </EditForm>

    <div class="d-flex justify-content-between align-items-center">
        <h5 class="mt-2">Danh sách phân loại tấm đan hố ga </h5>
        <i @onclick="ExportExcel" class="fa fa-download accent-blue mr-2" title="Download file excel" aria-hidden="true" style="cursor: pointer;"></i>
    </div>
    <div class="row mt-3 our-table">
        <table class="table table-hover table-bordered">
            <thead class="bg-info">
                <tr>
                    <th rowspan="2"> </th>
                    <th rowspan="2"> STT</th>
                    <th rowspan="2" onclick="@(() => SortTable("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))" class="text-center sortable align-middle">
                        <div class="mr-3">
                            Phân loại đậy hố ga
                            <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_PhanLoaiDayHoGa"))"></span>
                        </div>
                    </th>
                    <th rowspan="2" onclick="@(() => SortTable("ThongTinTamDanHoGa2_HinhThucDayHoGa_Name"))" class="text-center sortable align-middle">
                        <div class="mr-3">
                            Hình thức đậy hố ga
                            <span class="arrow @(GetSortStyle("ThongTinTamDanHoGa2_HinhThucDayHoGa_Name"))"></span>
                        </div>
                    </th>
                    <th colspan="2" class="text-center sortable align-middle">Loại tròn</th>
                    <th colspan="3" class="text-center sortable align-middle">Loại vuông hoặc chữ nhật </th>
                </tr>
                <tr>
                    <th> Đường kính (m) </th>
                    <th> Chiều dầy (m)</th>
                    <th> D (m) </th>
                    <th> R (m) </th>
                    <th> C (m) </th>
                </tr>
            </thead>
            @if (listPLTDHoGaModel.Any())
            {

                <tbody>
                    @{
                        int stt = 1;
                    }
                    @foreach (var item in listPLTDHoGaModel)
                    {

                        <tr>
                            <td class="d-flex nowrap">
                                <div class="d-inline-block">
                                    <button class="btn btn-sm btn-primary m-1" title="Thêm vào sau" @onclick="()=>InsertLaterFlag(item.Flag)">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    @{
                                        if (item.IsEdit == 0)
                                        {
                                            <button class="btn btn-sm btn-primary m-1" title="Chỉnh sửa" @onclick="()=>HandleEdit(item.Id)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="btn btn-sm btn-danger m-1" title="Xóa" @onclick="()=>ConfirmDelete(item.Id ,item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        }
                                    }
                                    
                                </div>
                            </td>
                            <td>@stt</td>
                            <td>@item.ThongTinTamDanHoGa2_PhanLoaiDayHoGa</td>
                            <td>@item.ThongTinTamDanHoGa2_HinhThucDayHoGa_Name </td>
                            <td>@item.ThongTinTamDanHoGa2_DuongKinh </td>
                            <td>@item.ThongTinTamDanHoGa2_ChieuDay </td>
                            <td>@item.ThongTinTamDanHoGa2_D</td>
                            <td>@item.ThongTinTamDanHoGa2_R</td>
                            <td>@item.ThongTinTamDanHoGa2_C</td>
                        </tr>
                        stt++;
                    }

                </tbody>
            }
            else
            {
                <tbody>
                    <tr>
                        <td colspan="9"> Không có dữ liệu</td>
                    </tr>
                </tbody>
            }

        </table>

    </div>

    @if (listPLTDHoGaModel.Any())
    {
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" ChangePageSize="ChangePageSize"></Pagination>
    }
    <ConfirmModal @ref="confirmModal" OnResponseClick="HandleResponseClick"></ConfirmModal>
    <Loading IsLoading="@isLoading" LoadingText="Đang tải dữ liệu..." />
</div>

@code {
    string groupId = "";
    string userId = "";
    private List<PhanLoaiTDHoGa> listPhanLoaiTDHoGa = new List<PhanLoaiTDHoGa>();
    private PhanLoaiTDHoGa Input = new();
    private PhanLoaiTDHoGaModel InputMD = new();
    public List<DanhMuc1> listDanhMuc = new();
    private DateTime baseTime;
    private bool isEdit { get; set; } = false;

    private bool isModalVisible = false;
    private bool isLoading = false;
    private string TitleModal = "Thêm mới loại tấm đan hố ga";

    private List<SelectedItem> selectHTDHG = new();
    private void OnSelectChangeHTDHG(SelectedItem selectedItem)
    {
        InputMD.ThongTinTamDanHoGa2_HinhThucDayHoGa = selectedItem.Value;
    }
    

    public async Task Search()
    {
        dmModel.PageNumber = 1;
        await LoadData();
    }

    private void ShowModal()
    {
        isModalVisible = true;
        Input = new();
    }

    private void HandleModalClose(bool isVisible)
    {
        isModalVisible = isVisible;
        Input = new();
        isEdit = false;
    }

    private void HandleSave()
    {
        // Logic for saving
        isModalVisible = false;

    }

    private void HandleCancel()
    {
        // Logic for canceling
        isModalVisible = false;
        Input = new();
        isEdit = false;
    }

    [Parameter]
    public ConfirmModal confirmModal { get; set; }

    public List<PhanLoaiTDHoGaModel> listPLTDHoGaModel{get;set;} = new();
    public List<PhanLoaiTDHoGaModel> listModel {get;set;} = new();
    public MetaData MetaData {get;set;}
    public PhanLoaiTDHoGaModel dmModel {get;set;}

    public List<DanhMuc1> FindByIdNhomDanhMuc(string idNhomDanhMuc)
    {
        return listDanhMuc.Where(dm => dm.IdNhomDanhMuc == idNhomDanhMuc).ToList();
    }

    public string GetTenDanhMucById(string id)
    {
        var danhMuc = listDanhMuc.FirstOrDefault(dm => dm.Id == id);
        return danhMuc != null ? danhMuc.Ten : null;
    }
    // Khởi tạo màn hình
    protected override async Task OnInitializedAsync()
    {
        baseTime = DateTime.Now;
        await LoadData();
        foreach (var item in listDanhMuc)
        {
            // Kiểm tra xem item đã tồn tại trong danh sách hay chưa
            if (!selectHTDHG.Any(x => x.Value == item.Id) && item.IdNhomDanhMuc == "HG_HTDHoGa")
            {
                if (!string.IsNullOrEmpty(item.Id))
                {
                    // Nếu chưa tồn tại, thêm item vào danh sách
                    selectHTDHG.Add(new SelectedItem
                        {
                            Value = item.Id,
                            Text = item.Ten
                        });
                }
            }
            

        }
        // Thêm phần tử mặc định "chọn..."
        selectHTDHG.Insert(0, new SelectedItem { Value = "", Text = "Chọn...", IsSelected = true });
    }


    // Truy vấn data theo điều kiện tìm kiếm
    private async Task LoadData()
    {
        isLoading = true;
        dmModel = new();
        listDanhMuc = await DanhMucRepository.GetAll(groupId);
        var plhg = await PhanLoaiTDHoGaRepository.GetAllByVM(InputMD);
        listModel = plhg;
        listPLTDHoGaModel = Paging(plhg);
        isLoading = false;
    }

    private async Task HandleInValidSubmit()
    {
        await JSRuntime.InvokeVoidAsync("scrollToFirstError");
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            PhanLoaiTDHoGa PhanLoaiTDHoGaExist = new();
            PhanLoaiTDHoGaExist = await PhanLoaiTDHoGaRepository.GetPhanLoaiTDHoGaExist(Input);
            var existName = false;
            existName = await PhanLoaiTDHoGaRepository.CheckUsingName(Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa);
            if (isEdit)
            {
                if (PhanLoaiTDHoGaExist == null)
                {
                    string[] ids = { Input.Id };
                    bool isValid = await PhanLoaiTDHoGaRepository.CheckExclusive(ids, baseTime);
                    if (isValid)
                    {
                        // cập nhật
                        await PhanLoaiTDHoGaRepository.Update(Input,userId);
                        isModalVisible = false;
                        Input = new PhanLoaiTDHoGa();
                        isEdit = false;
                        ToastService.ShowToast(
                            "Thông báo",
                            "Cập nhật thành công.",
                            cssClass: "toast-success",
                            iconClass: "fa fa-check-circle",
                            progressBarClass: "bg-info",
                            duration: 5000
                        );
                        await LoadData();
                    }

                }
                else
                if (PhanLoaiTDHoGaExist.ThongTinTamDanHoGa2_PhanLoaiDayHoGa.ToUpper().Trim() != Input.ThongTinTamDanHoGa2_PhanLoaiDayHoGa.ToUpper().Trim() && !existName)
                {
                    string[] ids = { Input.Id };
                    bool isValid = await PhanLoaiTDHoGaRepository.CheckExclusive(ids, baseTime);
                    if (isValid)
                    {
                        // cập nhật
                        await PhanLoaiTDHoGaRepository.Update(Input, userId);
                        isModalVisible = false;
                        Input = new PhanLoaiTDHoGa();
                        isEdit = false;
                        ToastService.ShowToast(
                            "Thông báo",
                            "Cập nhật thành công.",
                            cssClass: "toast-success",
                            iconClass: "fa fa-check-circle",
                            progressBarClass: "bg-info",
                            duration: 5000
                        );
                        await LoadData();
                    }
                }
                else
                {
                    ToastService.ShowToast(
                          "Thông báo",
                          "Tên phân tấm đan hố ga đã tồn tại. Vui lòng kiểm tra lại !",
                          cssClass: "toast-danger",
                          iconClass: "fa fa-exclamation-circle",
                          progressBarClass: "bg-info",
                          duration: 5000
                      );
                }

            }
            else
             if (PhanLoaiTDHoGaExist == null)
            {
                if (Flag > 0)
                {
                    // Thêm mới thông tin
                    var id = await PhanLoaiTDHoGaRepository.InsertLaterFlag(Input, Flag);
                    isModalVisible = false;
                    Input = new PhanLoaiTDHoGa();
                    ToastService.ShowToast(
                        "Thông báo",
                        "Thêm thành công.",
                        cssClass: "toast-success",
                        iconClass: "fa fa-check-circle",
                        progressBarClass: "bg-info",
                        duration: 5000
                    );
                    await LoadData();
                    Flag = 0;
                }
                else
                {
                    await PhanLoaiTDHoGaRepository.Insert(Input, userId);
                    isModalVisible = false;
                    Input = new PhanLoaiTDHoGa();
                    ToastService.ShowToast(
                        "Thông báo",
                        "Thêm thành công.",
                        cssClass: "toast-success",
                        iconClass: "fa fa-check-circle",
                        progressBarClass: "bg-info",
                        duration: 5000
                    );
                    await LoadData();
                }

            }
            else
            {
                ToastService.ShowToast(
                        "Thông báo",
                        "Phân loại tấm đan hố ga đã tồn tại , Vui lòng kiểm tra lại !",
                        cssClass: "toast-danger",
                        iconClass: "fa fa-exclamation-circle",
                        progressBarClass: "bg-info",
                        duration: 5000
                    );
            }

        }
        catch (Exception ex)
        {
            ToastService.ShowToast(
                        "Thông báo",
                       ex.Message,
                        cssClass: "toast-danger",
                        iconClass: "fa fa-exclamation-circle",
                        progressBarClass: "bg-info",
                        duration: 5000
                    );
        }
    }

    private string deleteId;

    private async Task ConfirmDelete(string id, string Ten)
    {
        deleteId = id;
        confirmModal.Title = "Xác nhận xóa";
        confirmModal.message = $"Bạn có chắc chắn muốn xóa: {Ten}?";
        confirmModal.openModal();

    }

    private async Task HandleResponseClick(bool confirmed)
    {
        if (confirmed)
        {
            if (!string.IsNullOrEmpty(deleteId))
            {

                var result = await PhanLoaiTDHoGaRepository.CheckUsingId(deleteId);
                if (result)
                {
                    ToastService.ShowToast("Thông báo", "Không thể xóa phân loại đang được sử dụng.", iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
                }
                else
                {
                    // Thực hiện hành động xóa
                    await PhanLoaiTDHoGaRepository.DeleteById(deleteId, userId);
                    ToastService.ShowToast("Thông báo", "Xóa phân loại thành công.", cssClass: "toast-success", iconClass: "fa fa-check-circle", progressBarClass: "bg-info", duration: 5000);
                    await LoadData();
                }

                deleteId = "";
            }
        }
    }


    private async Task HandleEdit(string id)
    {
        try
        {
            var result = await PhanLoaiTDHoGaRepository.CheckUsingId(id);
            if (result)
            {
                ToastService.ShowToast("Thông báo", "Không thể sửa phân loại đang được sử dụng trong DS Nước mua.", cssClass: "toast-danger", iconClass: "fa fa-exclamation-circle", progressBarClass: "bg-info", duration: 5000);
            }
            else
            {
                TitleModal = "Cập nhật loại tấm đan hố ga !";
                Input = await PhanLoaiTDHoGaRepository.GetById(id);
                isEdit = true;
                isModalVisible = true;
            }
           
        }
        catch (Exception ex)
        {
            ToastService.ShowToast(
                        "Thông báo",
                       ex.Message,
                        cssClass: "toast-danger",
                        iconClass: "fa fa-exclamation-circle",
                        progressBarClass: "bg-info",
                        duration: 5000
                    );
        }
    }

    int Flag = 0;
    //thêm vào sau
    private void InsertLaterFlag(int flag)
    {
        Flag = flag;
        TitleModal = "Chèn loại móng !";
        isModalVisible = true;
    }


    // Sắp xếp data
    private void SortTable(string columnName)
    {
        listModel = SortService.SortTable(listModel, columnName);
        dmModel.PageNumber = 1;
        Paging(listModel);
    }

    // Get css cho chức năng sắp xếp
    private string GetSortStyle(string columnName)
    {
        return SortService.GetSortStyle(columnName);
    }

    // Xử lý trường hợp đổi page hiển thị
    private void SelectedPage(int page)
    {
        dmModel.PageNumber = page;
        Paging(listModel);
    }

    // Xử lý trường hợp đổi số lượng bản ghi hiển thị trên page
    private void ChangePageSize(int pageSize)
    {

        dmModel.PageNumber = 1;
        dmModel.pageSize = pageSize;
        Paging(listModel);
    }
    // Xử lý paging
    private List<PhanLoaiTDHoGaModel> Paging(List<PhanLoaiTDHoGaModel> plhgs)
    {
        // Đếm số bản ghi thỏa mãn
        var count = plhgs.Count();

        // Lọc bản ghi theo page hiện tại và page size
        plhgs = plhgs.Skip((dmModel.PageNumber - 1) * dmModel.PageSize).Take(dmModel.PageSize).ToList();

        // Xóa danh sách đang hiển thị trên màn hình
        listPLTDHoGaModel.Clear();

        // Thêm những bản ghi sau khi lọc vào danh sách hiển thị
        foreach (var item in plhgs)
        {
            listPLTDHoGaModel.Add(item);
        }

        // Tạo pagelist mới
        var pagelist = new PageList<PhanLoaiTDHoGaModel>(listPLTDHoGaModel, count, dmModel.PageNumber, dmModel.PageSize);
        MetaData = pagelist.MetaData;
        return plhgs;
    }
    private async Task ExportExcel()
    {

        var sheetInfo = new SheetInfo1<object>
            {
                SheetName = "1.2 PL T.Đan H.Ga",
                Tables = new List<TableInfo<object>>
               {
                  new TableInfo<object>
                   {
                      Headers = ConstantHeaderExcel.PHANLOAITDHG_HEADERS.Cast<ComplexHeader>().ToList(),
                      Data = listModel.Cast<object>().ToList()
                   },
               }
            };

        byte[] excelBytes = ExportExcelService.ExportToExcelWithMultipleTables(new List<SheetInfo1<object>> { sheetInfo });
        var fileName = "PhanLoaiTamDanHoGa.xlsx";
        using var stream = new MemoryStream(excelBytes);
        using var streamRef = new DotNetStreamReference(stream);
        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

}
